<%= form_for(@agency_user, :html => {:autocomplete => "off"}) do |f| %>

<fieldset>
  <legend></legend>

  <% if @agency_user.errors.any? %>
    <% full_messages = one_full_message_per_invalid_attribute(@agency_user) %>
    <div id="error_explanation" class="validation-summary">
      <h2 class="heading-medium"><%= t 'agencyUsers.errorHeading', :cause => pluralize(full_messages.count, t('registrations.errors.error')) %></h2>
      <% @agency_user.errors.each do |error| %>
      <ul>
          <li><a class="error-text" href="#agency_user_<%= error %>"><%= @agency_user.errors.full_messages_for(error).first %></span></a></li>
      </ul>
      <% end %>
    </div>
  <% end %>

  <div class="form-group<% if @agency_user.errors[:email].any? %> validation<% end %>">
  	<%= validation_for(@agency_user, :email) %>
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, :autofocus => true, :autocomplete => :off %>
  </div>

  <div class="form-group<% if @agency_user.errors[:password].any? %> validation<% end %>">
  	<%= validation_for(@agency_user, :password) %>
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password %>
  </div>

  <%
  isFinanceSuper = current_admin.has_role? :Role_financeSuper, Admin
  if isFinanceSuper
  %>
  <!-- Checkboxes representing roles -->
  <div class="form-group<% if @agency_user.errors[:roles].any? %> validation<% end %>">
    <%= validation_for(@agency_user, :roles) %>
  	<%= f.label :roles, class: 'form-label' %>
  	<div class='form-hint text'><%= t 'agencyUsers.roleGuidance_1' %></div>
  	<div class='form-hint text'><%= t 'agencyUsers.roleGuidance_2' %></div>
	<!--
	// Option A: Using a list of checkboxes
	<% Role.roles.each do |role| %>
		<div class=''>
        	<%= f.label t('agencyUsers.'+role), class: 'field-label' %>
        	<%= check_box_tag(role, 1, @agency_user.has_role?(role, AgencyUser)) %>
		</div>
	<% end %>
	-->

	<!--
	// Option B: Using a select box -->
	<%
	roleFound = nil
	Role.roles.each do |role|
		if @agency_user.has_role?(role, AgencyUser)
		  roleFound = role
		end
	end
	%>
	<select id="agency_user_roles" name="userRole">
	    <option><%= t 'agencyUsers.no_role' %></option>
		<%= options_for_select(Role.translated_roles, roleFound) %>
	</select>
  </div>
  <% end %>

  </br>
  </br>
  </br>

  <input name="next" class="button" type="submit" value="<%if @agency_user.persisted?%><%=t 'agencyUsers.updateLabel'%><%else%><%=t 'agencyUsers.createLabel'%><%end%>"/>
</fieldset>

<% end %>






