<div id="wrapper">

<main id="content" role="main" class="group">

  <div class="back-section">
      <ol>
        <li><%# link_to t('agencyUsers.show'), @agency_user %>
            <%= link_to t('agencyUsers.back'), agency_users_path %>
        </li>
      </ol>
  </div>

  <header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-large"><%=t 'agencyUsers.deleteHeading'%></h1>
    </div>
  </header>

  <fieldset>
    <legend></legend>
      <div class="form-group">
      <%= form_for @agency_user, :method => 'delete' do |f| %>
      <p><%= t 'agencyUsers.deleteText'%> <strong><%= @agency_user.email %></strong>?</p>
      <input name="delete" class="button" type="submit" value="<%= t 'agencyUsers.deleteLabel'%>"/>
    </div>
    <% end %>
  </fieldset>

  </main><!-- end main -->
</div><!-- end wrapper -->
