<main id="content" role="main" class="group">
<article role="article" class="group">

<h1>Confirm delete agency user</h1>

<%= form_for @agency_user, :method => 'delete' do |f| %>

  <p><%= t 'agencyUsers.deleteText'%> <b><%= @agency_user.email %></b>?</p>
  <p class="action group">
    <input name="delete" class="button" type="submit" value="<%= t 'agencyUsers.deleteLabel'%>"/>
  </p>
<% end %>


<%# link_to t('agencyUsers.show'), @agency_user %>
<%= link_to t('agencyUsers.back'), agency_users_path %>

</article>
</main>