<%= render 'shared/content_for_pages' %>
<%#= render "shared/current_user" %>

<main id="content" role="main" class="group">
	<article role="article" class="group">
	<section>
      <div class="inner">
      <div class="col-1">

	<h1><%=t 'agencyUsers.editHeading'%></h1>

	<section>
	<%= render 'form' %>
	
	<%# link_to t('agencyUsers.show'), @agency_user %>
	<%= link_to t('agencyUsers.back'), agency_users_path %>

	</section>

	</div>
  </div>
</section>

    <aside role='note'>
      <div class="inner">
        <div class="col-2">
          <%= render "shared/current_user" %>
        </div>
      </div>
    </aside>

	</article>
</main>