<%= render 'shared/content_for_pages' %>
<%#= render "shared/current_user" %>

<main id="content" role="main" class="group"><article role="article" class="group">
<section>
<div class="inner">
  <div class="col-1">
    <h1>Listing agency users</h1>
<% if !notice.nil? %>
<div id="note_explanation" class="note-summary">
  <h1><%= notice%></h1>
</div>
<% end %>

<table class="users" role="presentation" summary='Agency users'>
  <thead>
    <tr>
      <th><%=t('agencyUsers.email')%></th>
      <th><%=t('agencyUsers.actions')%></th>
    </tr>
  </thead>

  <tbody>
    <% @agency_users.each do |agency_user| %>
      <tr id= "agency_user_<%= agency_user.id.to_s %>">
        <td><%= agency_user.email %></td>
        <td>
        <ul class="actions">
        	<li><%= link_to t('agencyUsers.edit'), edit_agency_user_path(agency_user) %></li>
          <li><%= link_to t('agencyUsers.delete'), confirm_delete_agency_user_path(agency_user) %></li>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<form method="get" action="<%=new_agency_user_path%>">
<div><input type="submit" class="button" value="<%=t 'agencyUsers.newLabel'%>" /></div>
</form>
</section>

    <aside role='note'>
      <div class="inner">
        <div class="col-2">
          <%= render "shared/current_user" %>
        </div>
      </div>
    </aside>

</article></main>