<%= render 'shared/content_for_pages' %>
<%#= render "shared/current_user" %>
<div id="wrapper">

<main id="content" role="main" class="group">

<h1 class="heading-xlarge">Listing agency users</h1>
<% if !notice.nil? %>
<div id="note_explanation" class="note-summary">
  <h2 class="heading-small"><%= notice%></h2>
</div>
<% end %>

<div id="grid-wrapper">

<div class="grid-2-3">
<div class="table-inner-block">

<table class="users" role="presentation" summary='Agency users'>
  <thead>
    <tr>
      <th><%=t('agencyUsers.email')%></th>
      <th><%=t('agencyUsers.actions')%></th>
    </tr>
  </thead>

  <tbody>
    <% @agency_users.each do |agency_user| %>
      <tr id= "agency_user_<%= agency_user.id.to_s %>">
        <td><%= agency_user.email %></td>
        <td>
        <ul class="actions">
        	<li><%= link_to t('agencyUsers.edit'), edit_agency_user_path(agency_user) %></li>
          <li><%= link_to t('agencyUsers.delete'), confirm_delete_agency_user_path(agency_user) %></li>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<form method="get" action="<%=new_agency_user_path%>">
<div><input type="submit" class="button" value="<%=t 'agencyUsers.newLabel'%>" /></div>
</form>
</div><!-- end table-inner-block -->
</div><!-- end grid-2-3 -->

<div class="grid-1-3">
  <div class="outer-block related">
      <div class="inner group related-subsection">
        <h2 class="heading-small">Signed in as</h2>
        <nav aria-labelledby="parent-subsection" role="navigation">
          <ul>
            <li><%= render "shared/current_user" %></li>
          </ul>
        </nav>
      </div>
  </div><!-- end outer-block related -->
</div><!-- end grid 1-3-->

</div><!-- end grid-wrapper -->

</main><!-- end content -->
</div><!-- end wrapper -->
