<main id="content" role="main" class="group"><article role="article" class="group">
<h1>Listing agency users</h1>

<% if !notice.nil? %>
<div id="note_explanation" class="note-summary">
  <h1><%= notice%></h1>
</div>
<% end %>

<table class="users">
  <thead>
    <tr>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @agency_users.each do |agency_user| %>
      <tr id= "agency_user_<%= agency_user.id.to_s %>">
        <td><%= agency_user.email %></td>
        <td>
        <ul class="actions">
        	<li><%= link_to 'Edit', edit_agency_user_path(agency_user) %></li>
          <li><%= link_to 'Delete', confirm_delete_agency_user_path(agency_user) %></li>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<form method="get" action="<%=new_agency_user_path%>">
<div><input type="submit" class="button" value="New agency user" /></div>
</form>

</article></main>