<%= render 'shared/content_for_pages' %>
<%= render "shared/current_user" %>

<main id="content" role="main" class="group"><article role="article" class="group">
<h1><%=t 'agencyUsers.newLabel'%></h1>

<%= render 'form' %>

<%= link_to t('agencyUsers.back'), agency_users_path %>
</article></main>