<%= render 'shared/content_for_pages' %>
<div id="wrapper">

<header class="page-header group">
    <div class="hgroup"> 
        <h1 class="heading-large"><%=t 'agencyUsers.newLabel'%></h1>
    </div>
</header> 

 <main id="content" role="main" class="group">
  <article role="article" class="group">
	<div class="grid-wrapper">
	  <section>
		<div class="grid-wrapper">
  		   <div class="grid-2-3">	

		     <%= render 'form' %>
		     <%= link_to t('agencyUsers.back'), agency_users_path %>

			</div><!--grid-2-3 end-->
		</div><!--grid-wrapper end-->
	  </section><!--section end-->


	<div class="grid-wrapper">
      <div class="grid-1-3">
        <div class="related">
          <div class="inner group related-subsection">
            <h2 class="heading-small">Current user</h2>
              <nav aria-labelledby="parent-subsection" role="navigation">
                <ul>
                  <li><%= render "shared/current_user" %></li>
                </ul>
              </nav>
          </div>
        </div>        
      </div><!--grid-1-3 end-->
     </div><!--grid-wrapper end-->

	</div><!--grid-wrapper end-->
  </article><!--article end-->
 </main><!--main end-->
</div><!--wrapper end-->