<main id="content" role="main" class="group"><article role="article" class="group">
<% if !notice.nil? %>
<div id="note_explanation" class="note-summary">
  <h1><%= notice%></h1>
</div>
<% end %>

<p>
  <strong><%=t 'agencyUsers.name'%>:</strong>
  <%= @agency_user.email %>
</p>

<%= link_to t('agencyUsers.edit'), edit_agency_user_path(@agency_user) %> |
<%= link_to t('agencyUsers.delete'), confirm_delete_agency_user_path(@agency_user) %> |
<%= link_to t('agencyUsers.back'), agency_users_path %>
</article></main>