<%= form_for(@discover) do |f| %>
  
  <% if @discover.errors.any? %>
    <div id="error_explanation" class="validation-summary">
      <h2><%= t "registrations.errors.errorMessageStart" %> <%= pluralize(@discover.errors.count, t('registrations.errors.errorMessageMid') ) %> <%= t 'registrations.errors.errorMessageEnd' %></h2>

      <ul>
      <% @discover.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="group<%if @discover.errors[:businessType].any?%> validation<%end%>">
    <%= f.label :businessType %>
    <%= f.select :businessType, options_for_select(Registration.business_type_options_for_select,f.object.businessType) %>
  </p> 
  
  <div id="businessDoesHeading" class="js-hidden">
  	<h3><%= t '.businessHeading' %></h3>
  </div>
  
  <p id="discover_otherBusinesses" class="group<%if @discover.errors[:otherBusinesses].any?%> validation<%end%>">
	  <%= f.label :otherBusinesses %>
	  <span class="inline"><!-- GDS have an 'option' class but it renders awfully -->
	    <!--<label class="label" for="discover_otherBusinesses_yes">-->
	    <%= f.radio_button :otherBusinesses, "yes", :class => "radio" %><%= f.label :otherBusinesses_yes, :class => "label" %> <!-- Yes</label>-->
	    <%= f.radio_button :otherBusinesses, "no", :class => "radio" %><%= f.label :otherBusinesses_no, :class => "label" %>
	  </span>
  </p>
  
  <p id="discover_constructionWaste" class="group<%if @discover.errors[:constructionWaste].any?%> validation<%end%>">
	  <%= f.label :constructionWaste %> 
	  <span class="inline">
	    <%= f.radio_button :constructionWaste, "yes", :class => "radio" %> <%= f.label :constructionWaste_yes, :class => "label" %>
	    <%= f.radio_button :constructionWaste, "no", :class => "radio" %><%= f.label :constructionWaste_no, :class => "label" %>
	  </span>
  </p>
  
  <p id="discover_wasteType" class="group<%if @discover.errors[:wasteType_animal].any? or @discover.errors[:wasteType].any?%> validation<%end%>">
    <%= f.label :wasteType %>
    <span class="inline">
	    <%= f.check_box :wasteType_animal, :class => "radio" %><%= f.label :wasteType_animal, :class => "label" %><br/>
	    <%= f.check_box :wasteType_mine, :class => "radio" %><%= f.label :wasteType_mine, :class => "label" %><br/>
	    <%= f.check_box :wasteType_farm, :class => "radio" %><%= f.label :wasteType_farm, :class => "label" %><br/>
	    <%= f.check_box :wasteType_other, :class => "radio" %><%= f.label :wasteType_other, :class => "label" %><br/>
	    <%= f.check_box :wasteType_none, :class => "radio" %><%= f.label :wasteType_none, :class => "label" %>
    </span>
  </p>
  
  <div id="contactText" class="js-hidden">
    <p class="group">
	    <h3><%= t '.contactTextHeading' %></h3>
		<p class="font-larger"><%= t '.contactTextLine1' %></p>
		<p class="font-larger"><%= t '.contactTextLine2' %></p>
	</p>
  </div>
  
  <div id="upperText" class="js-hidden">
    <p class="group">
	    <h3><%= t '.upperTextHeading' %></h3>
		<p class="font-larger"><%= t '.upperTextLine1' %></p>
		<p class="action group">
			<%= f.submit :class => "button", :id => 'register_upper_tier', :value => t('.buttonText') %>
		</p>
		<p class="font-larger"><%= t '.upperTextLine2_html', :pdflocation => 'https://publications.environment-agency.gov.uk/pdf/GEHO0411BTTB-e-e.pdf' %></p>
	</p>
  </div>
  
  <div id="lowerText" class="js-hidden">
    <p class="group">
	    <h3><%= t '.lowerTextHeading' %></h3>
	    <p class="font-larger"><%= t '.lowerTextLine1' %></p>
		<p class="action group">
			<%= f.submit :class => "button", :id => 'register_lower_tier', :value => t('.buttonText') %>
		</p>
	</p>
  </div>
  
  <div id="notRegisterText" class="js-hidden">
    <p class="group">
		<p class="font-larger"><%= t '.notRegisterText' %></p>
	</p>
  </div>
  
  <%# f.submit :class => "button", :value => "Test Validation >" %>
  
<% end %>
