<%= form_for(@discover) do |f| %>

  <% if @discover.errors.any? %>
    <div id="error_explanation" class="validation-summary">
      <h2><%= t 'registrations.errors.errorMessage', :count => pluralize(@discover.errors.count, t('registrations.errors.error')) %></h2>
      <ul>
      <% @discover.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="businessDoesHeading" class="js-hidden" data-journey="waste-carriers-registration:determine-tier">
  	<h2><%= t '.businessHeading' %></h2>
  </div>









  <div id="discover_resultResponses" class="hidden">

  <!-- Smart Answers
    Contact EA message when 'other' businessType selected -->
  <div id="contactText" class="js-hidden">
    <p class="group">
	    <h3><%= t '.contactTextHeading' %></h3>
		<p class="font-larger"><%= t '.contactTextLine1' %></p>
		<p class="font-larger"><%= t '.contactTextLine2' %></p>
	</p>
  </div>

  <!-- Smart Answers
    Upper tier result -->
  <div id="upperText" class="js-hidden">
    <p class="group">
	    <h3><%= t '.upperTextHeading' %></h3>
		<p class="font-larger"><%= t '.upperTextLine1' %></p>
		<p class="action group">
			<%= f.submit :class => "button", :id => 'register_upper_tier', :value => t('.buttonText') %>
		</p>
		<p class="font-larger"><%= t '.upperTextLine2_html', :pdflocation => 'https://publications.environment-agency.gov.uk/pdf/GEHO0411BTTB-e-e.pdf' %></p>
	</p>
  </div>

  <!-- Smart Answers
    Lower tier result -->
  <div id="lowerText" class="js-hidden">
    <p class="group">
	    <h3><%= t '.lowerTextHeading' %></h3>
	    <p class="font-larger"><%= t '.lowerTextLine1' %></p>
		<p class="action group">
			<%= f.submit :class => "button", :id => 'register_lower_tier', :value => t('.buttonText') %>
		</p>
	</p>
  </div>

  <!-- Smart Answers
    Not required to register message -->
  <div id="notRegisterText" class="js-hidden">
    <p class="group">
		<p class="font-larger"><%= t '.notRegisterText' %></p>
	</p>
  </div>

  </div>

  <noscript>
	<p class="action group">
		<%= f.submit :class => "button", :value => t('.buttonText') %>
	</p>
  </noscript>

  <%# f.submit :class => "button", :value => "Test Validation >" %>

<% end %>
