<main id="content" role="main" class="group"><article role="article" class="group">

<fieldset>
<legend>Edit <%= resource_name.to_s.humanize %></legend>

<%= form_for(resource, :as => resource_name, :url => user_registration_path(resource), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p class="group<% if resource.errors[:email].any? %> validation<% end %>"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>
  </p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p class="group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>
  
  <p class="group<% if resource.errors[:current_password].any? %> validation<% end %>"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %>
  </p>

  <p class="group"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
  <%= f.password_field :password, :autocomplete => "off" %>
  </p>

  <p class="group"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></p>

  <p class="action group"><%= f.submit "Update", :class => "button" %></p>
<% end %>
</fieldset>

<fieldset>
<legend>Delete my account</legend>

<p class="action group">
Unhappy?
<%= button_to "Delete my account", user_registration_path(resource), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "button-secondary" %>
</p>

</fieldset>

<%= link_to "Back", :back %>

</article></main>
