<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group"><article role="article" class="group">

<fieldset>
<legend><%= t 'devise.registrations.changePassword'%></legend>

<% 
    if user_signed_in?
      my_registration_path = user_registration_path(resource)
    elsif agency_user_signed_in?
      my_registration_path = agency_user_registration_path(resource)
    elsif admin_signed_in?
      my_registration_path = admin_registration_path(resource)
    end
 %>

<%= form_for(resource, :as => resource_name, :url => my_registration_path, :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <%= t 'devise.registrations.emailConfirm',:email=>resource.unconfirmed_email %>
  <% end %>
  
  <div class="form-group<% if resource.errors[:current_password].any? %> validation<% end %>">
      <div class='form-label'><%= f.label :current_password %></div>
        <span class='form-hint'><%=t 'devise.registrations.confirmMessage'%></span>
        <%= f.password_field :current_password %>
  </div>

  <div class="form-group">
      <div class='form-label'><%= f.label :password, t('devise.registrations.newPassword') %></div>
         <span class='form-hint'><%=t 'devise.registrations.lengthMessage'%></span>
         <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div class='form-group'>
      <div class='form-label'><%= f.label :password_confirmation %></div>
      <%= f.password_field :password_confirmation %>
  </div>
  
	<!-- TEST 1: add logic if role found -->
    <p>start agency user list</p>
    <% if !current_agency_user.nil? and current_agency_user.has_role? :admin %>
	  <p>has role admin, Success!!</p>
	  <% current_agency_user.roles.each do |role| %>
	  	<p>> Role: <%= role.name %></p>
	  <% end %>
	<% end %>
	<p>end agency user list</p>
	
	<!-- TEST 2: add logic if role found -->
    <p>start normal user list</p>
    <% if !current_user.nil? and current_user.has_role? :admin %>
	  <p>has role admin, Success!!</p>
	  <% current_user.roles.each do |role| %>
	  	<p>> Role: <%= role.name %></p>
	  <% end %>
	<% end %>
	<p>end normal user list</p>

      <p><%= link_to t('registrations.form.back_button_label') %></p>
      <%= f.submit t('devise.registrations.update'), :class => "button" %>
  </div>

<% end %>
</fieldset>

</article></main>
