<%= render 'shared/content_for_pages' %>

<div id="wrapper">

<main id="content" role="main" class="group">

  <div class="back-section">
    <ol>
      <li><%= link_to t('registrations.form.back_button_label'), 'javascript:history.back()', :class => 'link_to' %></li>
    </ol>
  </div>

  <header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-xlarge"><%= t 'devise.registrations.changePassword'%></h1>
    </div>
  </header>

    <%
        if user_signed_in?
          my_registration_path = user_registration_path(resource)
        elsif agency_user_signed_in?
          my_registration_path = agency_user_registration_path(resource)
        elsif admin_signed_in?
          my_registration_path = admin_registration_path(resource)
        end
     %>

        <%= form_for(resource, :as => resource_name, :url => my_registration_path, :html => { :method => :put , :autocomplete => "off"}) do |f| %>

        <%= devise_error_messages! %>

        <div class="form-group text">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <%= t 'devise.registrations.emailConfirm',:email=>resource.unconfirmed_email %>
          <% end %>
        </div>

        <div class="form-group<% if resource.errors[:current_password].any? %> validation<% end %>">
          <%= f.label :current_password, class: 'form-label' %>
          <%= f.password_field :current_password, class: 'form-control-password' %>
        </div>

        <div class="form-group">
          <%= f.label :password, t('devise.registrations.newPassword') %>
          <span class='form-hint text'><%=t 'devise.registrations.lengthMessage'%></span>
          <%= f.password_field :password, :autocomplete => "off", class: 'form-control-password' %>
        </div>

        <div class='form-group'>
          <%= f.label :password_confirmation, class: 'form-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control-password' %>
        </div>

        <%= f.submit t('devise.registrations.update'), :class => "button" %>

    <% end %>

  </main><!-- end main -->
</div><!-- end wrapper -->
