<!-- Heading examples -->

<fieldset>
  <!-- A legend must be included with all fieldsets for good form structure -->
  <legend><%= t 'templates.formExample_step.subtitle' %></legend>
  <div class='example'>
  <!-- The H1 element is used at the beginning of form allow screen readers to recognise they are at beginning of the page -->
    <h2>Example headings</h2>
    <ul>
      <li><h1 class='heading-xlarge'>H1 headings use font size 48px</h1></li>
      <li><h2 class='heading-large'>H2 headings use font size 36px</h2></li>
      <li><h3 class='heading-medium'>H3 headings use font size 24px</h3></li>
      <li><h4 class='heading-small'>H4 headings use font size 19px</h4></li>
    <ul>
  </div>
</fieldset>

<!-- Link examples -->

<fieldset>
   <legend>Example Links</legend>
   <div class='example'>
    <ol>
      <li><a href='http://govuk-elements.herokuapp.com'>This is an example link to the GDS design pages.</a></li>
      <li><a href='https://gds.blog.gov.uk'>This is an example link to the GDS Blog.</a></li>
      <li><a href='https://www.gov.uk/government/organisations/environment-agency'>This is an example link to the Environment page on GOV.UK website.</a></li>
    </ol>
  </div>
</fieldset>

<!-- Inset text -->

  <fieldset>
   <legend>Example of Indent Text</legend>
   <div class='example'>
      <div class='text panel-indent'>
        <p>This is an example of indent text. It is used to bring attention to a section of text in a page.</p>
      </div>
  </div>
</fieldset>

<!-- Form Label Examples -->

<fieldset>
  <legend>Form Label Examples</legend>
  <!-- Use the class of .form-group to wrap form sections -->
  <div class='example'>
  <div class="form-group<%if @registration.errors[:firstName].any?%> validation<%end%>">
    <%= validation_for(@registration, :firstName) %>
    <!-- Form Label Styles -->
    <!-- Use the .form-label class - when the user clicks on the form-label the matching input will show a yellow border focus -->
    <%= f.label :firstName, class: 'form-label' %>
    <%= f.text_field :firstName, :size => 20, :maxlength => 35 %>
  </div>

  <div class="form-group<%if @registration.errors[:lastName].any?%> validation<%end%>">
    <%= validation_for(@registration, :lastName) %>
    <!-- Use the .form-label class - when the user clicks on the form-label the matching input will show a yellow border focus -->
    <%= f.label :lastName, class: 'form-label' %>
    <%= f.text_field :lastName, :size => 20, :maxlength => 35 %>
  </div>
</div>
</fieldset>

<!-- Radio Button Styles -->

<fieldset>
  <legend>Radio Button Example</legend>
  <div class='example'>
  <div class="form-group<%if @registration.errors[:registrationType].any?%> validation<%end%>">
    <%= f.label :carrier_dealer, for: "registration_registrationType_carrier_dealer", :class => "block-label" do %>
      <%= f.radio_button :registrationType, "carrier_dealer", :class => "radio" %>
      <%= t 'activemodel.attributes.upper_registration.carrier_dealer' %>
    <% end %>
    <%= f.label :carrier_dealer, for: "registration_registrationType_broker_dealer", :class => "block-label" do %>
      <%= f.radio_button :registrationType, "broker_dealer", :class => "radio" %>
      <%= t 'activemodel.attributes.upper_registration.broker_dealer' %>
    <% end %>
    <%= f.label :carrier_dealer, for: "registration_registrationType_carrier_broker_dealer", :class => "block-label" do %>
      <%= f.radio_button :registrationType, "carrier_broker_dealer", :class => "radio" %>
      <%= t 'activemodel.attributes.upper_registration.carrier_broker_dealer' %>
    <% end %>
  </div>
</div>
</fieldset>

<!-- Check Box Styles -->

<fieldset>
  <legend>Checkbox Example</legend>
  <div class='example'>
  <div class="form-group<%if @registration.errors[:businessType].any?%> validation<%end%>">
      <label class="block-label" for="registration_businessType_checkbox-1">
        <input type="checkbox" value="checkbox-1" name="registration[businessType]" id="registration_businessType_checkbox-1">
        Checkbox 1
      </label>
      <label class="block-label" for="registration_businessType_checkbox-2">
        <input type="checkbox" value="checkbox-2" name="registration[businessType]" id="registration_businessType_checkbox-2">
        Checkbox 2
      </label>
      <label class="block-label" for="registration_businessType_checkbox-3">
        <input type="checkbox" value="checkbox-3" name="registration[businessType]" id="registration_businessType_checkbox-3">
        Checkbox 3
      </label>
  </div>
</div>
</fieldset>

<!-- Date Styles -->

<fieldset>
<legend>Example Date</legend>
  <div class='example'>
  <div class="form-group<%if @registration.errors[:lastName].any?%> validation<%end%>">
      <p class='subtitle'>For example, 26 5 1976</p>
      <div class='inline-date'>
        <%= f.label :Day, class: 'form-label' %>
        <%= f.text_field :lastName, :size => 2, :maxlength => 2 %>
      </div>
      <div class='inline-date'>
        <%= f.label :Month, class: 'form-label' %>
        <%= f.text_field :lastName, :size => 2, :maxlength => 2 %>
      </div>
      <div class='inline-date'>
        <%= f.label :Year, class: 'form-label' %>
        <%= f.text_field :lastName, :size => 4, :maxlength => 4 %>
      </div>
  </div>
  </div>
</fieldset>

<!-- Table Styles -->

<fieldset>
  <legend>Example Table</legend>
    <div class='example'>
      <table summary='This is an example table'>
        <thead>
          <tr>
            <th>Table Heading</th>
            <th>Table Heading</th>
            <th>Table Heading</th>
            <th>Table Heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Payment 1</td>
            <td>Payment 2</td>
            <td>Example 3</td>
            <td>Example 4</td>
          </tr>
          <tr>
            <td>Payment 1</td>
            <td>Payment 2</td>
            <td>Example 3</td>
            <td>Example 4</td>
          </tr>
          <tr>
            <td>Payment 1</td>
            <td>Payment 2</td>
            <td>Example 3</td>
            <td>Example 4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>


<!-- Hidden Text -->

<fieldset>
   <legend>Hidden Text</legend>
   <div class='example'>
    <details>
      <summary aria controls='details-content-0' tabindex='0'>
        <i class='arrow arrow-open'>►</i>
        <i class='arrow arrow-open'>▼</i>
        <span class='summary'>This is an example of hidden text</span>
        </summary>
        <div id='details-content-0' class='panel-indent' aria-expanded='true' style='display:block'>
          <p>Example text</p>
          <p>Example text</p>
        </div>
    </details>
  </div>
</fieldset>