<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
          <div class="col-1">

            <!-- WF 4.3.2 -->
            <div id="page0"  data-journey="waste-carriers-registration:template">

            <% content_for :page_title, createTitle('.title') %>
            <ol>
               <li class="back_link"><%= render 'back_link' %></li>
               <li class="step"><%= t '.step' %></li>
            </ol>

            <%= render 'errors' %>

            <%= form_for(@registration, :url => formExample_path) do |f| %>
              <%= render 'formTemplate_step', f: f, r: @registration %>
              <span class="next_link"><%= render 'next_link' %></span>
            <% end %>

            </div>
          </div>
      </div>
    </section>

  </article>
</main>