<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.2 -->
          <div id="page0"  data-journey="waste-carriers-registration:template">

            <% content_for :page_title, createTitle('.title') %>

            <%= render 'back_link' %>
            <%= render 'errors' %>

            <%= form_for(@registration, :url => formExample_path) do |f| %>
              <%= render 'formTemplate_step', f: f, r: @registration %>
              <span class="next_link"><%= render 'next_link' %></span>
            <% end %>

          </div>
        </div>
      </div>
    </section>

    <aside role='note'>
      <div class="inner">
        <!-- Getting the aside to appear in the middle of the page is currently
          ID dependent hence currently I have had to use an existing ID rather
          than something more general e.g. class="aside" -->
        <div class="col-2" id="relevant-aside">
          <h3><%= t '.aside_heading' %></h3>
          <%= t '.aside_message' %>
          <div id="includedContent"></div>
        </div>
      </div>
    </aside>

  </article>
</main>