<%= render 'shared/content_for_pages' %>
<div id="wrapper">

  <div class="back-section">
    <ol>
      <li><%= render 'back_link' %></li>
    </ol>
  </div>

  <header class="page-header group">
    <div class="hgroup"> 
      <h1 class="heading-xlarge">Waste Carriers Registration Service</h1>
      <h2 class="heading-medium">Development page</h2>
    </div>
  </header> 

  <main id="content" role="main" class="group">
  <div class="grid-wrapper">
    
  <div class="grid-wrapper">
    <div class="grid-2-3">
      <article role="article" class="group">
          <!-- WF 4.3.2 -->
          <div id="page0"  data-journey="waste-carriers-registration:template">
              <% content_for :page_title, createTitle('.title') %>
              <%= render 'errors' %>
              <%= form_for(@registration, :url => formExample_path) do |f| %>
              <%= render 'formTemplate_step', f: f, r: @registration %>
              <%= render 'next_link' %>
            <% end %>
          </div>
      </article>
    </div><!--grid-2-3 end-->
  </div><!--grid-wrapper end-->


  <div class="grid-wrapper">
    <div class="grid-1-3">
      <div class="related">
        <div class="inner group related-subsection">
          <h2 class="heading-small"><%= t '.aside_heading' %></h2>
            <nav aria-labelledby="parent-subsection" role="navigation">
              <ul>
                <li><%= t '.aside_message' %></li>
                <li id="includedContent"></li>
                </ul>
            </nav>
        </div>
      </div><!--related end-->        
    </div><!--grid-1-3 end-->
  </div><!--grid-wrapper end-->

</div><!--grid-wrapper end-->
</main><!--main end-->
</div><!--wrapper end-->



