<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">

    <!-- WF 4.3.2 -->
    <div id="page0"  data-journey="waste-carriers-registration:example">

      <% content_for :page_title, createTitle('.title') %>
      <div class="inline">
        <p class="back_link"><%= render 'back_link' %></p>
        <div class="step"><%= t '.step' %></div>
      </div>

      <%= render "errors" %>

      <%= form_for(@registration, :url => formExample_path) do |f| %>
      	<%= render "formExample_step", f: f %>
        <span class="next_link"><%= render 'next_link' %></span>
    	<% end %>

  	</div>
  </article>
</main>