<%= render 'shared/content_for_pages' %>

<div id="wrapper">
  <main id="content" role="main" class="group">

    <% content_for :page_title, createTitle('.title') %>

    <div id="page8"  data-journey="waste-carriers-registration:registration-type">

      <div class="back-section">
        <ol>
          <li><%= link_to t('form.back_button_label'), :back %></li>
        </ol>
      </div>

      <%= form_for(@registration, :url => registration_type_path, html: {autocomplete: 'off'}) do |f| %>

        <%= render 'shared/errors' %>

        <header class="page-header group">
          <div class="hgroup">
            <h1 class="heading-large" id="groupLabel"><%= t '.subtitle' %></h1>
          </div>
        </header>

          <div class="form-group<%if @registration.errors[:registrationType].any?%> validation<%end%>" id="registration_registrationType" role="group" aria-labelledby="groupLabel">
          <%= validation_for(@registration, :registrationType) %>
            <%= f.label :yes_option_label, for: "registration_registrationType_carrier_dealer", :class => "block-label" do %>
            <%= f.radio_button :registrationType, "carrier_dealer", :class => "radio" %>
            <%= t ".carrier_dealer" %></br>
            <%= t '.subtitle_carrier_dealer' %>
            <% end %>

            <%= f.label :yes_option_label, for: "registration_registrationType_broker_dealer", :class => "block-label" do %>
            <%= f.radio_button :registrationType, "broker_dealer", :class => "radio" %>
            <%= t ".broker_dealer" %></br>
            <%= t '.subtitle_broker_dealer' %>
            <% end %>

            <div class="form-text"><%= t '.text' %></div>

            <%= f.label :yes_option_label, for: "registration_registrationType_carrier_broker_dealer", :class => "block-label" do %>
            <%= f.radio_button :registrationType, "carrier_broker_dealer", :class => "radio" %>
            <%= t ".carrier_broker_dealer" %></br>
            <%= t '.subtitle_carrier_broker_dealer' %>
            <% end %>

          </div>

        <%= f.hidden_field :tier, value: 'UPPER' %>

        <%= render 'shared/registration_continue_link' %>

      <% end %>

    </div>
  </main>
</div>
