<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group"><article role="article" class="group">
<fieldset>	
<legend><%=t 'devise.unlocks.resendUnlockInstructions'%></legend>

<div id="wrapper" data-journey="waste-carriers-registration:unlock-account"></div>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<%= f.label :email, class: 'form-label' %>
  	<%= f.email_field :email, :autofocus => true %>
  </div>

  <div class="inline">
  	<p><%= link_to t('registrations.form.back_button_label'), :back, :class => 'button-secondary' %></p>
  	<%= f.submit t('devise.unlocks.resendUnlockInstructions'), :class => "button" %>
  </div>
  
<% end %>
</fieldset>
</article></main>
