<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group"><article role="article" class="group">
<h2><%=t 'devise.unlocks.resendUnlockInstructions'%></h2>

<div id="wrapper" data-journey="waste-carriers-registration:unlock-account"></div>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<%= f.label :email, class: 'form-label' %>
  	<%= f.email_field :email, :autofocus => true %>
  </div>

  <div class="form-group">
  	<%= link_to t('registrations.form.back_button_label'), :back, :class => 'button-secondary' %>
  	<%= f.submit t('devise.unlocks.resendUnlockInstructions'), :class => "button" %>
  </div>
  
<% end %>

</article></main>
