
<!-- WF 4.3.2 -->
<div id="page7"  data-journey="waste-carriers-registration:director-details">

  <fieldset>
    <legend><%= t '.legend' %></legend>
    <h2><%= t '.subtitle' %></h2>
    <% l.each do |d| %>
      <div class="inline">
        <span><%= "#{d.temp_id}" %></span>
        <span><%= "#{d.first_name}" %></span>
        <span><%= "#{d.last_name}" %></span>
        <span><%= "#{d.dob}" %></span>
        <span><%= link_to t('form.edit_button_label'), url_for(:controller => 'directors', :action => 'edit', :id => d.temp_id), :class => 'link_to' %></span>
        <span><%= link_to t('form.delete_button_label'), url_for(:controller => 'directors', :action => 'delete', :id => d.temp_id), :class => 'link_to' %></span>
      </div>
    <% end %>

  </fieldset>

</div>