<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">

    <% content_for :page_title, createTitle('directors.directordetails_step.title') %>
    <div class="step"><%= t 'directors.directordetails_step.step' %></div>
    <h1><%= t 'directors.directordetails_step.subtitle' %></h1>

    <!-- WF 4.3.2 -->
    <div id="page7"  data-journey="waste-carriers-registration:director-details">
      <%= form_for(@directors.last, url: {action: "create"} ) do |f| %>
        <%= render 'directordetails_step', f: f%>
      <% end %>

      <%= form_for(@directors, url: {action: "done"} ) do |f| %>
        <%= render 'directorlist_step', f: f%>
        <%= render 'wizard_links' %>
      <% end %>
    </div>
  </article>
</main>