<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <% isRegisteredMessageKey = @registration.tier.inquiry.LOWER? ? 'registrations.print.isRegisteredAsLower' : 'registrations.print.isRegisteredAsUpper' %>

	<h2 class="registered"><%= t isRegisteredMessageKey, :companyName => @registration.companyName %></h2>
	<h3><%= t 'registrations.finish.yourRegNumber', :reg => @registration.regIdentifier %>. <!--Your username is your email: <%= @registration.accountEmail %>--></h3>

	<p><i><%= t 'registration_mailer.welcome_email.registeredOn', date: @registration.formatted_registration_date %></i></p>

	<p><%= t 'registrations.print.proof' %></p>
	<!--
	<p>If your details change, follow this link: <%= link_to 'sign in', new_user_session_url %> to login and amend your details.</p>
	-->
	<div class="print-section">
		<h3><%= t 'registration_mailer.welcome_email.detailsHeading'%></h3>
		<div class="clr"></div>
		<dl class="data">
		  <dt><%=t 'registration_mailer.welcome_email.contactName'%></dt>
		  <dd>
		  <%= @registration.firstName%> <%= @registration.lastName%>
		  </dd>
		  <dt><%=t 'registration_mailer.welcome_email.phoneNumber'%></dt>
		  <dd><%= @registration.phoneNumber%></dd>
		</dl>
		<dl class="data">
		  <dt><%= t 'registration_mailer.welcome_email.address'%></dt>
		  <dd><%= @registration.houseNumber %> <%= @registration.streetLine1 %><br /><% if @registration.streetLine2 != "" %><%= @registration.streetLine2 %><br /><% end %><%= @registration.townCity%><br /><%= @registration.postcode%></dd>
		</dl>
		<div class="clr"></div>
		<div class="clr"></div>
	</div>

	<p><%= t 'registration_mailer.welcome_email.renew_html'%><% if !@registration.assisted_digital? %><%=t 'registration_mailer.welcome_email.updateWebsite_html',:link=>link_to('sign in', new_user_session_url)%><% else %><%=t 'registration_mailer.welcome_email.updatePhone'%><% end %></p>

    <div class="finish-section">
		<p><%= t 'registration_mailer.welcome_email.enquiresMessage'%></p>
		<dl class="data">
		<dt><%= t 'registration_mailer.welcome_email.telephone'%></dt>
		<dd><%= Rails.configuration.registrations_service_phone %></dd>
		<dt><%= t 'registration_mailer.welcome_email.email'%></dt>
		<dd><%= Rails.configuration.registrations_service_email %></dd>
		</dl>
	</div>

	<div class="finish-section">
		<h3><%=t 'registration_mailer.welcome_email.lowerTierRegistration'%></h3>
		<p>
		<%=t 'registration_mailer.welcome_email.criteriaIntro'%>
		</p>
		<ul>
		<li><%=t 'registration_mailer.welcome_email.criteria1'%></li>
		<li><%=t 'registration_mailer.welcome_email.criteria2'%></li>
		<li><%=t 'registration_mailer.welcome_email.criteria3'%></li>
		<li><%=t 'registration_mailer.welcome_email.criteria4'%></li>
		</ul>
		</p>
    </div>

	<div class="finish-section">
		<h3><%=t 'registration_mailer.welcome_email.responsibilitiesHeading'%></h3>
		<p><%=t 'registration_mailer.welcome_email.responsibilitiesIntro'%></p>
		<ul>
		<li><%=t 'registration_mailer.welcome_email.responsibilities1'%></li>
		<li><%=t 'registration_mailer.welcome_email.responsibilities2'%></li>
		<li><%=t 'registration_mailer.welcome_email.responsibilities3'%></li>
		<li><%=t 'registration_mailer.welcome_email.responsibilities4'%></li>
		</ul>
	</div>

  </body>
</html>
