<%= render 'shared/content_for_pages' %>

<div id="wrapper" class="payment-copycard-page">

  <main id="content" role="main" class="group">

    <header class="page-header group">
      <div class="hgroup">
        <h1 class="heading-xlarge"><%= t '.subtitle' %></h1>
      </div>
    </header>

    <!-- payment summary section -->

    <%= form_for(@registration, :url => :upper_payment, :method => 'post', :html => {:autocomplete => "off"}) do |f| %>
      <% content_for :page_title, createTitle('.title') %>

      <%= render "order/notice_or_alert" %>
      <%= render "shared/registration_errors" %>
      <%= render "order/order_errors" %>

      <input type="hidden" value="<%= @order_builder.registration_fee_money %>" id="total_excluding_copy_cards">
      <input type="hidden" name="order_type" value="<%= sanitize(params[:order_type]) %>">

      <table summary='payment-summary' role='presentation' id="payment-summary-table" class="text">
        <thead>
          <tr><td></td></tr>
        </thead>
        <tbody>
          <%= render @order_builder.order_items_excluding_copy_cards, f: f %>

          <% if @show_copy_cards %>
            <tr>
              <td><%= render "order/copy_cards", f: f %>
              </td>
            </tr>
          <% end %>

          <tr>
            <td class='total-charge'>
              <%= f.label :total_fee, class: 'form-label' %>
              <div class="currency-container">
                <p class="currency-sign">£</p>
                <%= f.text_field :total_fee, class: 'form-control-1-8', :size =>5, :autocomplete => :off, :maxlength => 4, :disabled=>true, :value => Money.new(@registration.total_fee || 0) %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-note"><%= t '.total_fee_vat' %></div>

      <fieldset class="text">
        <legend><%= t 'registrations.form.payment_title' %></legend>
        <div class="form-group inline">
          <%= f.label :payment_type, class: 'block-label', for: "registration_payment_type_world_pay" do %>
            <%= f.radio_button :payment_type, 'world_pay', :checked => true %>
            <%= t 'registrations.form.pay_by_worldpay_label' %>
          <% end %>
          <p class="form-note inline"><%= t '.debit_card_note' %></p>

          <%= f.label :payment_type, class: 'block-label', for: "registration_payment_type_bank_transfer" do %>
            <%= f.radio_button :payment_type, 'bank_transfer' %>
            <%= t 'registrations.form.pay_bank_transfer_label' %>
          <% end %>
          <p class="form-note inline"><%= t '.bank_transfer_note' %></p>
        </div>
        <input id="proceed_to_payment" name="proceed_to_payment" class="button" type="submit" value="<%= t 'registrations.form.proceed_to_payment' %>"/>
      </fieldset>
    <% end %>

  </main><!-- end main -->
</div><!-- end wrapper -->
