<%= render 'shared/content_for_pages' %>

<div id="wrapper" class="payment-copycard-page">

  <main id="content" role="main" class="group">

  <div class="back-section">
    <ol>
      <li><%= render 'shared/registration_back_link' %></li>
    </ol>
  </div>

  <header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-xlarge"><%= t '.subtitle' %></h1>
    </div>
  </header>

  <!-- payment summary section -->
  <div class="grid-wrapper">

  <div class="grid grid-2-3">
  <div class="inner-block">

    <%= form_for(@registration, :url => :upper_payment, :method => 'post', :html => {:autocomplete => "off"}) do |f| %>
    <% content_for :page_title, createTitle('.title') %>

    <%= render "order/notice_or_alert" %>
    <%= render "shared/registration_errors" %>
    <%= render "order/order_errors" %>

    <table summary='payment-summary' role='presentation' id="payment-summary-table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if showRegistrationFee?(@renderType) or showEditFee?(@renderType) or showEditFullFee?(@renderType) or showRenewalFee?(@renderType) %>
        <tr>
          <td>
            <%= render "order/registration_fee", :f => f if showRegistrationFee? @renderType %>
            <%= render "order/edit_registration_fee", :f => f if showEditFee? @renderType %>
            <%= render "order/edit_registration_fee", :f => f if showEditFullFee? @renderType %>
            <%= render "order/renew_registration_fee", :f => f if showRenewalFee? @renderType %>
          </td>
        </tr>
        <% end %>

        <% if showCopyCards?(@renderType) %>
        <tr>
          <td><%= render "order/copy_cards", :f => f %>
          </td>
        </tr>
        <% end %>

        <tr>
          <td class='total-charge'>
            <%= f.label :total_fee, class: 'form-label' %>
            <div class="currency-container">
            <p class="currency-sign">£</p>
            <%= f.text_field :total_fee, class: 'form-control-1-8', :size =>5, :autocomplete => :off, :maxlength => 4, :disabled=>true, :value => Money.new(@registration.total_fee) %>
          </div>
          </td>
        </tr>
      </tbody>
    </table>

    <p class='form-note'><%= t '.total_fee_vat' %></p>
          <div class="payment-option">
            <input id="worldpay_button" name="continue" id="continue" class="button" type="submit"
                   value="<%= t 'registrations.form.pay_by_worldpay_button_label' %>"/>
            <p class="panel-indent"><%= t '.debit_card_note' %></p>
          </div>

          <div class="payment-option">
            <input id="offline_pay_button" name="offline_continue" id="offline_continue" class="button" type="submit"
                   value="<%= t 'registrations.form.pay_offline_button_label' %>"/>
            <p class="panel-indent"><%= t '.bank_transfer_note' %></p>
          </div>

      </div><!-- end inner-block -->
    </div><!-- end grid-2-3 -->

    <div class="grid grid-1-3">
      <div class="inner-block related">
        <div class="inner group related-subsection">
          <h2 class="heading-small"><%= t '.copy_card_heading' %></h2>
            <ul id='copy-card-text'>
              <li><p><%= t '.copy_card_description' %></p></li>
              <li class="image-holder" alt="<%= t '.copy_card_alt_text' %>"><%= image_tag "copy_card_"+I18n.locale.to_s+".png"%></li>
              <li><figcaption><%= t '.copy_card_caption' %></figcaption></li>
              <li class="related"><p><%= t '.copy_card_information' %></p></li>
              <li><p><%= t '.copy_card_text_html' %></p></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div><!-- end grid-1-3 -->

    </div><!-- end grid-wrapper -->

  </main><!-- end main -->
</div><!-- end wrapper -->
