<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <header class="page-header group">
      <div class="hgroup">
        <h1 class="heading-xlarge"><%= t '.cookieTitle' %></h1>
      </div>
    </header>

    <article>

    <p><%= t '.cookie_text1' %></p>
    <p><%= t '.cookie_text2' %></p>

      <ul>
        <li><%= t '.cookie_text3' %></li>
        <li><%= t '.cookie_text4' %></li>
        <li><%= t '.cookie_text5' %></li>
      </ul>

    <p><%= t '.cookie_text6' %></p>
    <p><%= t '.cookie_link' %></p>
    <p><%= t '.cookie_text7' %></p>

    <h2 class="heading-medium"><%= t '.cookie_heading1' %></h2>

    <p><%= t '.cookie_text8' %></p>
    <p><%= t '.cookie_text9' %></p>

      <ul>
        <li><%= t '.cookie_text10' %></li>
        <li><%= t '.cookie_text11' %></li>
        <li><%= t '.cookie_text12' %></li>
      </ul>

      <table summary='Google analytics cookie collection' role='presentation'>
        <thead>
          <tr>
            <th><%= t '.cookie_table_heading1' %></th>
            <th><%= t '.cookie_table_heading2' %></th>
            <th><%= t '.cookie_table_heading3' %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t '.cookie_table1_cell1' %></td>
            <td><%= t '.cookie_table1_cell2' %></td>
            <td><%= t '.cookie_table1_cell3' %></td>
          </tr>
        </tbody>
      </table>

      <p><%= t '.cookie_text13' %></p>
      <h2 class="heading-medium"><%= t '.cookie_heading2' %></h2>
      <p><%= t '.cookie_text14' %></p>


      <table summary='Session cookies' role='presentation'>
        <thead>
          <tr>
            <th><%= t '.cookie_table_heading1' %></th>
            <th><%= t '.cookie_table_heading2' %></th>
            <th><%= t '.cookie_table_heading3' %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t '.cookie_table2_cell1' %></td>
            <td><%= t '.cookie_table2_cell2' %></td>
            <td><%= t '.cookie_table2_cell3' %></td>
          </tr>
        </tbody>
      </table>

      <h2 class="heading-medium"><%= t '.cookie_heading3' %></h2>
      <p><%= t '.cookie_text15' %></p>

      <table summary='Introductory message cookie' role='presentation'>
        <thead>
          <tr>
            <th><%= t '.cookie_table_heading1' %></th>
            <th><%= t '.cookie_table_heading2' %></th>
            <th><%= t '.cookie_table_heading3' %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t '.cookie_table3_cell1' %></td>
            <td><%= t '.cookie_table3_cell2' %></td>
            <td><%= t '.cookie_table3_cell3' %></td>
          </tr>
        </tbody>
      </table>

    </article>

  </main><!-- end main -->
</div><!-- end wrapper -->