<%= render 'shared/content_for_pages' %>

<% content_for :page_title, createTitle('global.timeout.heading') %>

	<main id="content" role="main" class="group">
	   <article role="article" class="group">

			<h1><%=t 'global.timeout.heading'%></h1>
			
				<p><%=t 'global.timeout.message1'%></p>
				<p><%=t 'global.timeout.message2_html'%></p>
				<p><%=t 'global.timeout.message3_html'%></p>

		</article>
	</main>