<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

  <div class="back-section">
      <ol>
        <li></li>
      </ol>
  </div>

  <header class="page-header group">
    <div class="hgroup">
        <h1 class="heading-large"><%=t 'global.timeout.heading'%></h1>
    </div>
  </header>

  <% content_for :page_title, createTitle('global.timeout.heading') %>
  <div class="text" data-journey="waste-carriers-registration:session-expired">
    <p><%=t 'global.timeout.message1'%></p>
    <p><%=t 'global.timeout.message2'%></p>
    <p><%=t 'global.timeout.message3_html'%></p>
  </div>

  </main><!-- end main -->
</div><!-- end wrapper -->