<% content_for :head do %><%= render "shared/head" %><% end %>
<% content_for :html_lang do %><%= render "shared/html_lang" %><% end %>
<% content_for :page_title do %><%= render "shared/page_title" %><% end %>
<% content_for :inside_header do %><%= render "shared/inside_header" %><% end %>
<% content_for :cookie_message do %><%= render "shared/cookie_message" %><% end %>
<% content_for :after_header do %><%= render "shared/after_header" %><% end %>
<% content_for :footer_top do %><%= render "shared/footer_top" %><% end %>
<% content_for :body_end do %><%= render "shared/body_end" %><% end %>
<% content_for :page_title, createTitle('global.timeout.heading') %>

	<main id="content" role="main" class="group">
	   <article role="article" class="group">

			<h1><%=t 'global.timeout.heading'%></h1>
			
				<p><%=t 'global.timeout.message1'%></p>
				<p><%=t 'global.timeout.message2_html'%></p>
				<p><%=t 'global.timeout.message3_html'%></p>

		</article>
	</main>