<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <div class="back-section">
        <ol>
          <li><%= render 'back_link' %></li>
        </ol>
    </div>

    <header class="page-header group">
      <div class="hgroup">
        <h1 class="heading-large"><%=t 'devise.passwords.heading'%></h1>
      </div>
    </header>

    <div id="wrapper" data-journey="waste-carriers-registration:edit-password"></div>

    <div class="form-group">

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :autocomplete => :off }) do |f| %>
        <div class="text"><%= devise_error_messages! %></div>
        <%= f.hidden_field :reset_password_token %>

        <%= f.label :password, "New password", class: 'form-label' %>
        <%= f.password_field :password, class: 'form-control-password', :autofocus => true %></p>

        <%= f.label :password_confirmation, t('devise.passwords.confirmLabel'), class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: 'form-control-password' %></p>

        <%= f.submit t('devise.passwords.changeLabel'), { class: 'button', id: 'change_password_button' } %>
      <% end %>

    </div>

  </main><!-- end main -->
</div><!-- end wrapper -->
