<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <div class="back-section">
        <ol>
          <li><%= render 'back_link' %></li>
        </ol>
    </div>

    <header class="page-header group">
      <div class="hgroup">
          <h1 class="heading-large"><%=t 'devise.passwords.heading'%></h1>
      </div>
    </header>

<div id="wrapper" data-journey="waste-carriers-registration:edit-password"></div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p class="group"><%= f.label :password, "New password" %>
  <%= f.password_field :password, :autofocus => true %></p>

  <p class="group"><%= f.label :password_confirmation, t('devise.passwords.confirmLabel') %>
  <%= f.password_field :password_confirmation %></p>

  <p class="action group"><%= f.submit t('devise.passwords.changeLabel'), :class => "button" %></p>
<% end %>

<%= render "devise/shared/links" %>


  </main><!-- end main -->
</div><!-- end wrapper -->