<%= render 'shared/content_for_pages' %>

<div id="wrapper">

<div class="back-section">
  <ol>
    <li><%= link_to t('registrations.form.back_button_label'), :back %></li>
  </ol>
</div>  

<header class="page-header group">
    <div class="hgroup"> 
        <h1 class="heading-large"><%= t 'devise.passwords.forgotHeading'%></h1>
    </div>
</header> 

<main id="content" role="main" class="group"><article role="article" class="group">
 <section>

	<fieldset>	
		<legend></legend>
		
      <div id="wrapper" data-journey="waste-carriers-registration:forgot-password"></div>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  			<%= devise_error_messages! %>

  			<div class="form-group">
  			<%= f.label :email, class: 'form-label' %>
  			<%= f.email_field :email, :autofocus => true %>
  			</div>
  			<%= f.submit t('devise.passwords.sendInstructions'), :class => "button" %>
		<% end %>

	</fieldset>

</section>
</article>
</main>
</div><!--wrapper end-->
