<%= render 'shared/content_for_pages' %>

<div id="wrapper">

<main id="content" role="main" class="group">

<div class="back-section">
  <ol>
    <li><%= link_to t('registrations.form.back_button_label'), :back %></li>
  </ol>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :autocomplete => :off }) do |f| %>
  <%= devise_error_messages! %>

<header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-large"><%= t 'devise.passwords.forgotHeading'%></h1>
    </div>
</header>

	<fieldset>
		<legend></legend>

    <div id="wrapper" data-journey="waste-carriers-registration:forgot-password">

			<div class="form-group text">
        <ul>
          <li><%= validation_for(resource, :email) %></li>
			    <li><%= f.label :email, class: 'form-label' %>
			    <%= f.email_field :email, class: 'form-control-1-2', :autofocus => true %></li>
        </ul>
			</div>
			<%= f.submit t('devise.passwords.sendInstructions'), {:class => "button", :id => "send"} %>
	    <% end %>
    </div>
	 </fieldset>

</main><!-- end content -->
</div><!-- end wrapper -->
