<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group"><article role="article" class="group">
 <section>
      <div class="inner">
      <div class="col-1">

<%= link_to t('registrations.form.back_button_label'), :back %>
	<fieldset>	
		<legend><%= t 'devise.passwords.forgotHeading'%></legend>
			<div id="wrapper" data-journey="waste-carriers-registration:forgot-password"></div>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  			<%= devise_error_messages! %>

  			<div class="form-group">
  			<%= f.label :email, class: 'form-label' %>
  			<%= f.email_field :email, :autofocus => true %>
  			</div>
  			<%= f.submit t('devise.passwords.sendInstructions'), :class => "button" %>
		<% end %>

	</fieldset>

	</div>
  </div>
</section>
</article></main>
