<% content_for :head do %><%= render "shared/head" %><% end %>
<% content_for :html_lang do %><%= render "shared/html_lang" %><% end %>
<% content_for :page_title do %><%= render "shared/page_title" %><% end %>
<% content_for :inside_header do %><%= render "shared/inside_header" %><% end %>
<% content_for :cookie_message do %><%= render "shared/cookie_message" %><% end %>
<% content_for :after_header do %><%= render "shared/after_header" %><% end %>
<% content_for :footer_top do %><%= render "shared/footer_top" %><% end %>
<% content_for :body_end do %><%= render "shared/body_end" %><% end %>

<main id="content" role="main" class="group"><article role="article" class="group">
<h2><%= t 'devise.passwords.forgotHeading'%></h2>

<div id="wrapper" data-journey="waste-carriers-registration:forgot-password"></div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p class="group"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></p>

  <p class="action group">
  <%= link_to t('registrations.form.back_button_label'), :back, :class => 'button-secondary' %>
  <%= f.submit t('devise.passwords.sendInstructions'), :class => "button" %></p>
<% end %>

</article></main>
