<main id="content" role="main" class="group"><article role="article" class="group">
<h2><%= t 'devise.passwords.forgotHeading'%></h2>

<div id="wrapper" data-journey="waste-carriers-registration:forgot-password"></div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p class="group"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></p>

  <p class="action group">
  <%= link_to t('registrations.form.back_button_label'), :back, :class => 'button-secondary' %>
  <%= f.submit t('devise.passwords.sendInstructions'), :class => "button" %></p>
<% end %>

</article></main>
