<%= render 'shared/content_for_pages' %>

<div id="wrapper">
  <main id="content" role="main" class="group">

    <% content_for :page_title, createTitle('.title') %>

    <div id="existing-registration" data-journey="waste-carriers-registration:existing-registration">

      <div class="back-section">
        <ol>
          <li><%= link_to t('form.back_button_label'), start_path %></li>
        </ol>
      </div>

      <%= form_for(@registration, :url => existing_registration_path, :html => {:autocomplete => "off"}) do |f| %>

        <%= render 'shared/errors' %>

        <header class="page-header group">
          <div class="hgroup">
            <h1 class="heading-large" id="groupLabel"><%= t '.subtitle' %></h1>
            <p class="form-hint"><%= t '.ir_number_example' %></p>
          </div>
        </header>

        <details class="text">
          <summary id="show-hide-details-summary-0" aria controls='details-content-0' tabindex='0' aria-controls="details-content-0" role="button">
            <span class='summary'><%= t '.renewal_link' %></span>
          </summary>
          <div style='display:block' class='panel-indent' id='details-content-0' >
            <p><%= t '.heading' %></p>
            <ul class="list-bullets">
              <li><%= t '.bullet1' %></li>
              <li><%= t '.bullet2_html' %><a rel="external"></a></li>
            </ul>
            <p><%= t '.paragraph' %></p>
          </div>
        </details>

        <div class="form-group<%if @registration.errors[:originalRegistrationNumber].any?%> validation<%end%>" id="enterRegistrationNumber" role="group" aria-labelledby="groupLabel">
          <%= validation_for(@registration, :originalRegistrationNumber) %>
          <%= f.label :originalRegistrationNumber, class: 'form-label' %>
          <%= f.text_field :originalRegistrationNumber, class: 'form-control-1-2', :size => 20, :maxlength => 35, :autocomplete => :off %>
        </div>

        <%= render 'shared/registration_continue_link' %>

      <% end %>

    </div>
  </main>
</div>
