
<div class="form-group<%if @registration.errors[:houseNumber].any?%> validation<%end%>">
  <ul>
      <li><%= validation_for(@registration, :postcode) %></li>
      <li><%= f.label :postcode, for: "sPostcode", class: 'form-label' %></li>
      <li class="inline postcode"><%= f.text_field :postcode, id: 'sPostcode', :size => 14, :maxlength => 10 %></li>
      <li class="inline"><input type="submit" class="button find_address" name="findAddress" value="<%=t '.find_address_button'%>" onclick="addressFinder()"/></li>
  </ul>
</div>

<div class="form-group">
  <ul>
      <li><a href="?manualUkAddress=true"><%= t '.manual_address_link'%></a></li>
      <li><a href="?foreignAddress=true"><%= t '.foreign_address_link'%></a></li>
  </ul>
</div>

