
<fieldset>
<%= params[:findAddress] %>

<% if  !params[:manualUkAddress] %>
<p class="group">
  <%= validation_for(@registration, :postcode) %>
  <%= f.label :postcode %>
  <%= f.text_field :postcode, :size => 14, :maxlength => 10 %>
  <input type="submit" class="button" name="findAddress" value="<%=t 'upper_registrations.form.find_address_button_label'%>"/></br>
    <a href="?manualUkAddress=true"><%= t 'registrations.contact_step.manual_address_label'%></a></br>
    <a href="?manualOtherAddress=true"><%= t 'registrations.contact_step.foreignAddressLink'%></a>
  </p>
<% end %>


<% if params[:manualUkAddress] %>
 <%= render 'uk_address_entry', f: f  %>
    <a href="?autoUkAddress=true"><%= t 'registrations.contact_step.findAddressUsingPostcode'%></a>


<% end %>


</fieldset>
