<fieldset>
<legend><%= t '.businessAddress' %></legend>
<%if @registration.addressMode%>
<a href="?sSearch=true"><%= t '.search_address_label'%></a>
  <%if @registration.addressMode == "manual-uk"%>
    <input type="hidden" name="registration[addressMode]" value="manual-uk"/>
    <p class="group<%if @registration.errors[:houseNumber].any?%> validation<%end%>">
        <%= validation_for(@registration, :houseNumber) %>
        <%= f.label :houseNumber %>
        <%= f.text_field :houseNumber, :size => 10, :maxlength => 10 %>
    </p>
  <%else%>
    <input type="hidden" name="registration[addressMode]" value="manual-foreign"/>
  <%end%>
  <p class="group<%if @registration.errors[:streetLine1].any?%> validation<%end%>">
      <%= validation_for(@registration, :streetLine1) %>
      <% if @registration.addressMode == "manual-uk"%>
        <%= f.label :streetLine1 %>
      <%else%>
        <label for="registration_streetLine1"><%= t '.streetLine1Foreign' %></label>
      <%end%>
      <%= f.text_field :streetLine1, :size => 20, :maxlength => 35 %>
  </p>
  <p class="group<%if @registration.errors[:streetLine2].any?%> validation<%end%>">
      <%= validation_for(@registration, :streetLine2) %>
      <%= f.label :streetLine2, :class=>"offscreen" %>
      <%= f.text_field :streetLine2, :size => 20, :maxlength => 35 %>
  </p>
  <%if @registration.addressMode == "manual-uk" %>
    <p class="group<%if @registration.errors[:townCity].any?%> validation<%end%>">
        <%= validation_for(@registration, :townCity) %>
        <%= f.label :townCity %>
        <%= f.text_field :townCity, :size => 20, :maxlength => 35 %>
    </p>
    <p class="group<%if @registration.errors[:postcode].any?%> validation<%end%>">
        <%= validation_for(@registration, :postcode) %>
        <%= f.label :postcode %>
        <%= f.text_field :postcode, :size => 14, :maxlength => 10 %>
    </p>
  <%else%>
    <p class="group<%if @registration.errors[:streetLine3].any?%> validation<%end%>">
        <%= validation_for(@registration, :streetLine3) %>
        <%= f.label :streetLine3, :class=>"offscreen" %>
        <%= f.text_field :streetLine3, :size => 20, :maxlength => 35 %>
    </p>
    <p class="group<%if @registration.errors[:streetLine4].any?%> validation<%end%>">
        <%= validation_for(@registration, :streetLine4) %>
        <%= f.label :streetLine4, :class=>"offscreen" %>
        <%= f.text_field :streetLine4, :size => 20, :maxlength => 35 %>
    </p>
    <p class="group<%if @registration.errors[:country].any?%> validation<%end%>">
        <%= validation_for(@registration, :country) %>
        <%= f.label :country %>
        <%= f.text_field :country, :size => 20, :maxlength => 35 %>
    </p>
  <%end%>
<%else%>
  <% if @registration.uprn%>
    <label for="sSelect"><%= t '.selectAddress'%> <a href="?sSearch=true"><%= t '.change'%></a></label>
    <% render "address_display"%>
    <%if params[:sPostcode]%>
      <input type="hidden" name="sPostcode" value="<%=params[:sPostcode]%>"/>
    <%end%>
    <%if params[:sSelect]%>
      <input type="hidden" name="sSelect" value="<%=params[:sSelect]%>"/>
    <%end%>
  <% elsif @addresses.count > 0%>
    <p class="group<%if @registration.errors[:selectedMoniker].any?%> validation<%end%>">
    <%= validation_for(@registration, :selectedMoniker) %>
    <input type="hidden" name="sPostcode" value="<%=params[:sPostcode]%>"/>
    <label for="sSelect"><%= t '.selectAddress'%> <a href="?sSearch=true"><%= t '.change'%></a></label>
    <select id="sSelect" name="sSelect">
    <option value=""><%= t 'address_select'%></option>
    <% @addresses.each do |address| %>
      <option value="<%=address.moniker%>"<%if address.moniker==@registration.selectedMoniker%> selected="selected"<%end%>><%=address.partial%></option>
    <%end%>
    </select>
    </p>
    <a href="?sManual=true"><%= t '.manual_address_label'%></a>
  <%else%>
    <p class="group<%if @registration.errors[:postcodeSearch].any? or params[:sPostcode]%> validation<%end%>">
     <%if params[:sPostcode] and params[:sPostcode]!=""%>
     <span class="error-text"><%= t '.no_results_error'%></span>
     <%elsif params[:sPostcode]%>
     <span class="error-text"><%= t '.postcode_search_error'%></span>
     <%else%>
     <%= validation_for(@registration, :postcodeSearch) %>
     <%end%>
    <label for="sPostcode"><%= t '.findAddressUsingPostcode'%></label>
    <input id="sPostcode" name="sPostcode" type="text" class="postcode" value="<%= params[:sPostcode]%>"/>
    <input type="submit" class="button" name="findAddress" value="<%=t '.findAddress'%>"/>
    </p>
<a href="?sManualForeign=true"><%= t '.foreignAddressLink'%></a>
  <%end%>
<%end%>
</fieldset>