<% if  show_error %>
<div class="form-group validation">
<% else %>

	<div class="form-group<%if @registration.errors[:postcode].any?%> validation<%end%>">
		<% end %>
		<%= f.label :postcode, class: 'form-label' %>
		<%= f.text_field :postcode,  id: 'sPostcode',  :size => 14, :maxlength => 10 %>

		<input type="submit" class="button find_address" name="findAddress" value="<%=t 'upper_registrations.form.find_address_button_label'%>" onclick="addressFinder()"/>
		<% name = t 'upper_registrations.form.find_address_button_label' %>
	</div><!-- Label select input does not work if id:sPostcode is in text_field string -->

  	<p class='link_margin'>
  		<a href="?manualUkAddress=true"><%= t 'registrations.contact_step.manual_address_label'%></a>
  	</p>
  	<p class='link_margin'>
  		<a href="?foreignAddress=true"><%= t 'registrations.contact_step.foreignAddressLink'%></a>
  	</p>
</div>
