<div class="form-group<%if @registration.errors[:postcode].any?%> validation<%end%>" id="registration_postcode" role="group" aria-labelledby="groupLabel">
  <%= validation_for(@registration, :postcode) %>
  <%= f.label :postcode, for: "sPostcode", class: 'form-label' %>
  <div class="inline">
  <div class="postcode-entry"><%= f.text_field :postcode, id: 'sPostcode', :size => 14, :maxlength => 10 %></div>
  <div class="find-address-button">
  <input type="submit" class="button find_address" name="findAddress" value="<%=t '.find_address_button'%>" />
  </div>
</div>
  <% if @address_match_list %>
  <% if @address_match_list.size  < 1 %>
  <!-- no addresses found for postcode -->
  <div id="validation-postcode">
    <span class="error-text"><%= t 'registrations.address_entry.no_results_error'%></span>
  </div>
    <%end%>
    <%end%>
</div>

<div class="form-group">
  <ul>
    <li><a href="?manualUkAddress=true"><%= t '.manual_address_link'%></a></li>
    <li><a href="?foreignAddress=true"><%= t '.foreign_address_link'%></a></li>
  </ul>
</div>

