  <% case %>
    <% when  !r.addressMode  %>

    <%= render 'address_postcode_lookup', f: f, postcode: r.postcode, show_error: false  %>
    <% when  r.addressMode == 'address-results' %>
    <% if @address_match_list %>
    <% if @address_match_list.size  < 1 %>
    <!-- no addresses found for postcode -->
    <%= render 'address_postcode_lookup', f: f , postcode: r.postcode, show_error: true  %>
    <% else %>
    <!-- addresses were found for postcode -->


    <%= f.label :business_or_organisation_address, for: "addressSelector", class: 'form-label' %>
        <select id="addressSelector" name="addressSelector" class="addressSelector"
        size="<%=[1,@address_match_list.elements.count].min%>"required autofocus>
        <option value="FoundAddresses" disabled> <%= @address_match_list.size.to_s %>
            <%= t '.num_addresses_found'%></option>
        <% @address_match_list.elements.each do |address| %>
        <option value="<%=address.moniker%>"><%=address.partial%></option>
        <%end%>
    </select>

    <div class="form-group">
        <a href="?changeAddress=true"><%= t '.change_link'%></a><br/>
        <a href="?manualUkAddress=true"><%= t '.manual_address_link'%></a>
    </div>

    <% end %> <!-- if -->

    <% else %>  <!-- @address_match_list is nil, address service lookup may have failed -->

    <% if session[:address_lookup_failure] %>
        <span class="error-text"><%= t '.address_service_error'%></span>
    <% end %>

        <%= render 'address_postcode_lookup', f: f , postcode: r.postcode, show_error: true  %>
    <% end %>  <!-- if -->

    <% when r.addressMode == 'manual-uk' %>
        <%= render 'uk_address_entry', f: f  %>
    <a href="?autoUkAddress=true"><%= t '.find_address_using_postcode'%></a>

    <% when r.addressMode == 'manual-foreign'  %>
        <%= render 'foreign_address_entry', f: f  %>
    <a href="?autoUkAddress=true"><%= t '.uk_address_link'%></a>
    <% end %>

