<div class="form-group<%if @address.errors[:postcode].any?%> validation<%end%>" id="registration_postcode" role="group" aria-labelledby="groupLabel">
  <%= validation_for(@address, :postcode) %>
  <%= fields_for @address do |adr| %>
    <%= adr.label :postcode, for: "sPostcode", class: 'form-label' %>
    <div class="postcode-entry">
      <%= adr.text_field :postcode, id: 'sPostcode', class: "form-control-1-2", :size => 14, :maxlength => 10 %>
    </div>
  <% end %>

    <div class="postcode-entry">
      <input type="submit" name="findAddress" class="button" id="find_address" value=" <%=t '.find_address_button'%>" />
    </div>

  <% if @address_match_list %>
  <% if @address_match_list.size  < 1 %>
  <!-- no addresses found for postcode -->
  <div id="validation-postcode">
    <span class="error-text"><%= t 'errors.messages.no_addresses_for_postcode'%></span>
  </div>
    <%end%>
    <%end%>
</div>

<div class="form-group">
  <ul>
    <li><a href="?manualUkAddress=true" id="manual_uk_address"><%= t '.manual_address_link'%></a></li>
    <li><a href="?foreignAddress=true" id="foreign_address"><%= t '.foreign_address_link'%></a></li>
  </ul>
</div>
