<%= render "errors" %>

<!-- WF 4.3.2 -->
<fieldset id="page6"  data-journey="waste-carriers-registration:business-details">
  <legend><%= t 'registrations.businessdetails_step.subtitle' %></legend>
    <div class="form-group<%if @registration.errors[:companyName].any?%> validation<%end%>">
      <%= validation_for(@registration, :companyName) %>
      <%= f.label :companyName, class: 'form-label' %>
      <%= f.text_field :companyName, :size => 20, :maxlength => 70 %>
      <%= f.hidden_field :tier, value: 'LOWER' %>
    </div>
  <%= render "address_entry", :f => f %>
</fieldset>

<%= render 'wizard_links' %>
