<% content_for :page_title, createTitle('.title') %>

<%= render "shared/progress", size: "20%" %>
<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page2"  data-journey="waste-carriers-registration:business-address">

  <h1><%= t '.heading' %></h1>
  <h3><%= t 'registrations.confirmation_step.followingReg_heading' %></h3>

  <fieldset>
    <p class="group<%if @registration.errors[:companyName].any?%> validation<%end%>">
      <%= validation_for(@registration, :companyName) %>
      <%= f.label :companyName %>
      <%= f.text_field :companyName, :size => 20, :maxlength => 70 %>
    </p>
  </fieldset>

  <%= render "address_entry",:f=>f%>
</div>

<%= render 'wizard_links' %>