<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page6"  data-journey="waste-carriers-registration:business-details">

  <fieldset>
  	<legend></legend>
    <div class="form-group">
      <%= f.hidden_field :tier, value: 'LOWER' %>
    </div>
  </fieldset>
  <%= render 'company_name', f: f, mode: 'business' %>
  <%= render "address_finder", :f => f %>
</div>

<%= render 'wizard_links' %>
