<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:business-type">

  <!-- Smart Answers
    What kind of business or organisation are you?
   -->
  <fieldset>
    <legend></legend>
    <div class="form-group<%if @registration.errors[:businessType].any?%> validation<%end%>">
        <% Registration.business_type_options_for_select.each do |option| %>
          <%= f.label :business_type, class: 'block-label' do %>
            <%= f.radio_button :businessType, option.second, class: 'radio' %><%= f.label "businessType_#{option.second.downcase}", option.first, class: 'label' %>
          <% end %>
        <% end %>
    </div>

    <%= f.hidden_field :routeName %>

  </fieldset>

</div>

<%= render 'wizard_links' %>

