<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:business-type">

  <!-- Smart Answers
    What kind of business or organisation are you?
  -->

  <fieldset>
    <legend><%= t 'registrations.businesstype_step.subtitle' %></legend>
    <div class="form-group<%if @registration.errors[:businessType].any?%> validation<%end%>">
      <% Registration.business_type_options_for_select.each do |option| %>
          <%= f.label :businessType, for: "registration_businessType_#{option.second.downcase}",  class: 'block-label' do %>
              <%= f.radio_button :businessType, option.second %>
              <%= option.first %>
          <% end %>
      <% end %>

    <%= f.hidden_field :routeName %>
    </div>
  </fieldset>

  </div>
  <div class='margin-control'><%= render 'wizard_links' %></div>