<div id="progress-wrapper">Progress: <div id="progress"><div class="offscreen">25%</div><div class="bar" style="width: 20%"></div></div></div>
  
  <%= render "errors" %>


<!-- WF 4.3.1 -->
<div id="page1">


<fieldset>
<legend>Business or organisation details</legend>

<p class="group<%if @registration.errors[:businessType].any?%> validation<%end%>">
<%= f.label :businessType, "Business or organisation type" %>
<%= f.select :businessType, options_for_select([
    	[t('discovers.findAnswers.businessType_default'),""],
    	[t('discovers.findAnswers.businessType_soleTrader'),"soleTrader"],
    	[t('discovers.findAnswers.businessType_partnership'),"partnership"],
    	[t('discovers.findAnswers.businessType_limitedCompany'),"limitedCompany"],
    	[t('discovers.findAnswers.businessType_charity'),"charity"],
    	[t('discovers.findAnswers.businessType_collectionAuthority'),"collectionAuthority"],
    	[t('discovers.findAnswers.businessType_disposalAuthority'),"disposalAuthority"],
    	[t('discovers.findAnswers.businessType_regulationAuthority'),"regulationAuthority"],
    	[t('discovers.findAnswers.businessType_other'),"other"]
    	],f.object.businessType) %>
</p>


<p class="group<%if @registration.errors[:companyName].any?%> validation<%end%>">
<%= f.label :companyName, "Business, organisation or trading name" %>
<%= f.text_field :companyName%>
</p>

<%= f.hidden_field :routeName %>

</fieldset>


</div>

<p class="action group">
<input name="back" class="button-secondary" type="submit" value="Back"/>
<input name="next" class="button" type="submit" value="Next"/>
</p>