<%= render "shared/progress", size: "20%" %>
  
<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:business-details">


<fieldset>
<legend><%= t '.business_or_org_details' %></legend>

<h4><%= t 'registrations.confirmation_step.followingReg_heading' %></h4>

<p class="group<%if @registration.errors[:businessType].any?%> validation<%end%>">
<%= validation_for(@registration, :businessType) %>
<%= f.label :businessType %>
<%= f.select :businessType, options_for_select(Registration.business_type_options_for_select,f.object.businessType) %>
</p>


<p class="group<%if @registration.errors[:companyName].any?%> validation<%end%>">
<%= validation_for(@registration, :companyName) %>
<%= f.label :companyName %>
<%= f.text_field :companyName, :size => 20, :maxlength => 70 %>
</p>

<%= f.hidden_field :routeName %>

</fieldset>


</div>

<p class="action group">
<input name="back" class="button-secondary" type="submit" value="<%= t 'registrations.form.back_button_label' %>"/>
<input name="next" class="button" type="submit" value="<%= t 'registrations.form.next_button_label' %>"/>
</p>