<%= render "shared/progress", size: "20%" %>
  
<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:business-details">


<fieldset>
<legend><%= t '.business_or_org_details' %></legend>

<h3><%= t 'registrations.confirmation_step.followingReg_heading' %></h3>

<p class="group<%if @registration.errors[:businessType].any?%> validation<%end%>">
<%= validation_for(@registration, :businessType) %>
<%= f.label :businessType %>
<% if session[:smarterAnswersBusiness] != nil %>
<%#= f.select :businessType, options_for_select(Registration.business_type_options_for_select,f.object.businessType) %>
<span><%= I18n.translate session[:smarterAnswersBusiness], scope: [:business_types] %></span>
<%= f.hidden_field :businessType %>
<% else %>
<%= f.select :businessType, options_for_select(Registration.business_type_options_for_select,f.object.businessType) %>
<% end %>
</p>


<p class="group<%if @registration.errors[:companyName].any?%> validation<%end%>">
<%= validation_for(@registration, :companyName) %>
<%= f.label :companyName %>
<%= f.text_field :companyName, :size => 20, :maxlength => 70 %>
</p>

<%= f.hidden_field :routeName %>

</fieldset>


</div>

<p class="action group">
<%
if @registration.routeName == 'DIGITAL'
  if user_signed_in?
    logger.debug 'User already signed in so redirect to my account page'
%>
<%= link_to t('registrations.form.back_button_label'), userRegistrations_path(current_user.id), :class => 'button-secondary' %>
<%
  else
    logger.debug 'User not signed in so redirect to smarter answers'
%>
<%= link_to t('registrations.form.back_button_label'), find_path, :class => 'button-secondary' %>
<%
  end
else
  logger.debug 'Assisted digital route detected, redirect to search page'
%>
<%= link_to t('registrations.form.back_button_label'), registrations_path, :class => 'button-secondary' %>
<%
end
%>
<input name="next" class="button" type="submit" value="<%= t 'registrations.form.next_button_label' %>"/>
</p>