<% content_for :page_title, createTitle('.business_or_org_details') %>

<%= render "shared/progress", size: "10%" %>

<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:business-type">


  <fieldset>
    <legend><%= t '.business_or_org_details' %></legend>

    <h3><%= t 'registrations.confirmation_step.followingReg_heading' %></h3>

    <!-- Smart Answers
    What kind of business or organisation are you?
   -->
    <p class="group<%if @registration.errors[:businessType].any?%> validation<%end%>">
      <%= f.label :businessType %>
      <%= f.select :businessType, options_for_select(Registration.business_type_options_for_select,f.object.businessType) %>
    </p>

    <%= f.hidden_field :routeName %>

  </fieldset>


</div>

<%= render 'wizard_links' %>