<div id="progress-wrapper">Progress: <div id="progress"><div class="offscreen">25%</div><div class="bar" style="width: 25%"></div></div></div>
  
  <%= render "errors" %>


<!-- WF 4.3.1 -->
<div id="page1">


<fieldset>
<legend>Business or organisation details</legend>

<p class="group<%if @registration.errors[:businessType].any?%> validation<%end%>">
<%= f.label :businessType, "Business or organisation type" %>
<%= f.select :businessType, options_for_select([["Please select...",""],["Sole trader","soleTrader"],["Partnership","partnership"],["Limited company","limitedCompany"],["Charity or voluntary organisation","charity"],["Waste collection authority","collectionAuthority"],["Waste disposal authority","disposalAuthority"],["Waste regulation authority","regulationAuthority"]],f.object.businessType) %>
</p>


<p class="group<%if @registration.errors[:companyName].any?%> validation<%end%>">
<%= f.label :companyName, "Business, organisation or trading name" %>
<%= f.text_field :companyName%>
</p>

</fieldset>


</div>

<p class="action group">
<input name="back" class="button-secondary" type="submit" value="Back"/>
<input name="next" class="button" type="submit" value="Next"/>
</p>