<div class="form-group<%if r.errors[:company_no].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel">
  <%= validation_for(r, :company_no) %>
  <%= f.label :company_no, class: 'form-label' %>
  <%= f.text_field :company_no, :size => 35, :maxlength => 10 %>
</div>

<a href="<%= Rails.configuration.waste_exemplar_companies_house_url %>" target="_blank">
  <%= t '.companies_house_link'%></a>


