<a href="?whatisconstruction=true"><%= t '.explanation_link'%></a>

<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page4" data-journey="waste-carriers-registration:constructiondemolition">

  <!-- Smart Answers
    Do you ever deal with construction or demolition waste
   -->
  <fieldset>
    <p class="group<%if @registration.errors[:constructionWaste].any?%> validation<%end%>">
  	  <span class="inline"><!-- GDS have an 'option' class but we prefer this simplified version -->
  	    <%= f.radio_button :constructionWaste, "yes", :class => "radio" %> <%= f.label t 'form.yes_option_label', :class => "label" %>
      </span>
      <span class="inline">
        <%= f.radio_button :constructionWaste, "no", :class => "radio" %> <%= f.label t 'form.no_option_label', :class => "label" %>
  	  </span>
    </p>
  </fieldset>

</div>

<%= render 'wizard_links' %>
