<%= render "errors" %>

<!-- WF 4.3.3 -->
<div id="page9"  data-journey="waste-carriers-registration:confirmation">

  <h3><%= t '.smart_answers_heading' %></h3>
  <p>
    <%= render 'smartanswers_display' %>
  </p>

  <h3><%= t 'registrations.address_entry.businessAddress' %></h3>
  <p>
    <%= render 'address_display' %>
  </p>

  <h3><%= t 'registrations.contactdetails_step.title' %></h3>
  <p>
    <%= render 'contactdetails_display' %>
  </p>

</div>

<%= render 'wizard_links' %>
