

<div id="progress-wrapper">Progress: <div id="progress"><div class="offscreen">50%</div><div class="bar" style="width: 50%"></div></div></div>
    
  <%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page2">

<h2>Address and contact details</h2>

<fieldset>
<legend>Main business, organisation or trading address</legend>


<div id="addressSearch">

<p class="action group">

    <%= f.label :postcodeSearch, "Find address using postcode" %>
    <%= f.text_field :postcodeSearch %>

<input name="findAddress" class="button-secondary" type="submit" value="Find address"/>
</p>
</div>
<div id="addressSearchResults" style="display:none">
<p class="group">
<label for="addresses"><span id="resultCount">5</span> Addresses found</label>
<select id="addresses">
<option>Please select an address..</option>
</select>
</p>
</div>

<p class="group<%if @registration.errors[:houseNumber].any?%> validation<%end%>">
<%= f.label :houseNumber, "House/Building name" %>
<%= f.text_field :houseNumber %>
</p>

<p class="group<%if @registration.errors[:streetLine1].any?%> validation<%end%>">
<%= f.label :streetLine1, "Street" %>
<%= f.text_field :streetLine1%>
</p>
<p class="group<%if @registration.errors[:streetLine2].any?%> validation<%end%>">
<%= f.label :streetLine2, :class=>"offscreen" %>
<%= f.text_field :streetLine2%>
</p>
<p class="group<%if @registration.errors[:townCity].any?%> validation<%end%>">
<%= f.label :townCity, "Town/City" %>
<%= f.text_field :townCity%>
</p>

<p class="group<%if @registration.errors[:postcode].any?%> validation<%end%>">
    <%= f.label :postcode, "Postcode" %>
    <%= f.text_field :postcode %>
</p>




<div id="selectedAddress" style="display:none">
<div id="addressDisplay">
</div>
<p class="action group">
<input name="changeAddress" class="button-secondary" type="submit" value="Change address"/>
</p>
</div>

<%= f.hidden_field :uprn %>
<%= f.hidden_field :address %>
</fieldset>

<fieldset>
<legend>Contact information</legend>

<p class="group<%if @registration.errors[:firstName].any?%> validation<%end%>">
<%= f.label :title %>
<%= f.select :title , options_for_select([["Please select...",""],["Mr"],["Mrs"],["Miss"],["Ms"],["Dr"],["Other"]],f.object.title ) %>
</p>
<p id="titleOtherWrapper" class="group js-hidden<%if @registration.errors[:otherTitle].any?%> validation<%end%>">
    <%= f.label :otherTitle, "Other title" %>
    <%= f.text_field :otherTitle %>
</p>
<p class="group<%if @registration.errors[:firstName].any?%> validation<%end%>">
    <%= f.label :firstName, "First name" %>
    <%= f.text_field :firstName %>
</p>
<p class="group<%if @registration.errors[:lastName].any?%> validation<%end%>">
    <%= f.label :lastName, "Last name" %>
    <%= f.text_field :lastName %>
</p>
<p class="group<%if @registration.errors[:phoneNumber].any?%> validation<%end%>">
    <%= f.label :phoneNumber, "Phone number" %>
    <%= f.text_field :phoneNumber %>
</p>
<p class="group<%if @registration.errors[:email].any?%> validation<%end%>">
    <%= f.label :email, "Email address" %>
    <%= f.text_field :email%>
</p>
</fieldset>

<!--<p class="action group">
<input name="next" type="submit" value="Next"/>
<input name="back" type="submit" value="Back"/>
</p>-->

</div>
<p class="action group">
<input name="back" class="button-secondary" type="submit" value="Back"/>
<input name="next" class="button" type="submit" value="Next"/>
</p>