<fieldset>
  <legend><%= t '.legend' %></legend>
  <div class="panel-indent<%if @registration.errors[:declaration].any?%> validation<%end%>">
    <%= validation_for(r, :declaration) %>
    <p><%= f.check_box :declaration%> <%= t '.check_box_label' %></p>
    <p><%= t '.declaration_text1' %></p>
    <p><%= t '.declaration_text2' %></p>
  </div>
 </div>
</fieldset>
