<%= render "errors" %>

<!-- WF 4.3.3 -->
<div id="page9"  data-journey="waste-carriers-registration:confirmation"></div>

<fieldset class='registration-summary-page'>
  <legend><%= t '.subtitle' %></legend>

  <%= render 'user_route_context_panel' %>

  <div class='form-group'>
  <h2><%= t '.smart_answers_heading' %></h2>
    <ul class='summary-box'>
      <li class='list-bullets'><%= render 'smartanswers_display' %></li>
    </ul>
       <p><%= link_to t('.edit_smart_answers_link'), find_path %></p>
  </div>


  <div class='form-group'>
  <h2><%= t 'registrations.address_entry.businessAddress' %></h2>
    <ul class='summary-box'>
      <li class='summary-items'><%= render 'address_display' %></li>
    </ul>
        <% if  registration_class == 'upper_tier' %>
      <p><%= link_to t('.edit_business_address_link'), newUpperBusinessDetails_path %></p>
        <% else %>
      <p><%= link_to t('.edit_business_address_link'), newBusinessDetails_path %></p>
        <% end %>
  </div>


  <div class='form-group'>
  <h2><%= t 'registrations.contactdetails_step.title' %></h2>
    <ul class='summary-box'>
      <li class='summary-items'><%= render 'contactdetails_display' %></li>
    </ul>
         <% if  registration_class == 'upper_tier' %>
      <p><%= link_to t('.edit_contact_details_link'), newUpperContactDetails_path %></p>
         <% else %>
      <p><%= link_to t('.edit_contact_details_link'), newContact_path %></p>
         <% end %>
  </div>

  <% if @registration.businessType.eql?('limitedCompany') &&   @registration.tier.eql?('UPPER') %>
    <div class='form-group'>
  <h2><%= t '.directors_summary_heading' %></h2>
    <ul class='summary-box'>
      <li class='summary-items'><%= render '/directors/directors_display' %></li>
    </ul>
      <p><%= link_to t('.edit_director_details_link'), registration_directors_path %></p>
  </div>
  <% end %>
</fieldset>




