<!-- WF 4.3.2 -->
<div id="page4"  data-journey="waste-carriers-registration:convictions"></div>

  <%= render "errors" %>
  <header class="page-header group">
      <div class="hgroup">
          <h1 class="heading-large"><%= t 'registrations.convictions_step.title' %></h1>
      </div>
  </header>

  <fieldset>
    <legend></legend>

    <div class="form-group<%if @registration.errors[:declaredConvictions].any?%> validation<%end%>">
      <ul>
        <li><%= validation_for(@registration, :declaredConvictions) %></li>
        <li class="inline"><%= f.label :yes_option_label, for: "registration_declaredConvictions_yes", class: "block-label" do %>
            <%= f.radio_button :declaredConvictions, "yes", class: "radio" %>
            <%= t 'form.yes_option_label' %>
        <% end %>
        </li>
        <li class="inline"><%= f.label :no_option_label, for: "registration_declaredConvictions_no", class: "block-label" do %>
            <%= f.radio_button :declaredConvictions, "no", class: "radio" %>
            <%= t 'form.no_option_label' %>
        <% end %>
        </li>
      </ul>
    </div>
  </fieldset>

  <div class='form-group'>
    <details>
      <summary aria controls='details-content-0' tabindex='0'>
        <span class='summary'><%= t 'registrations.convictions_step.relevant_convictions_link_text' %></span>
        </summary>
        <div id='details-content-0' class='panel-indent' aria-expanded='true' style='display:block'>
        <p><strong><%= t 'registrations.convictions_step.relevant_convictions_text' %></strong></P>
        <ul class="list-bullet">
          <li><%= t 'registrations.convictions_step.relevant_convictions_scrap_1964' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_theft_act' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_customs' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_food' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_pollution' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_protection' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_water' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_transfrontier_1994' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_environment_act_1995' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_hazards_1999' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_pollution_prevention' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_vehicles_act' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_landfill' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_proceeds' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_hazardous_waste_england' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_hazardous_waste_wales' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_fraud_act' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_waste_electrical_2006' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_permitting_2007' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_producer_responsiblity' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_transfrontier_2007' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_permitting_2010' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_regulation_42' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_legal_aid' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_waste_electrical_2013' %></li>
          <li><%= t 'registrations.convictions_step.relevant_convictions_scrap_2013' %></li>
        </ul>
      </div>
    </details>
  </div>


<%= render 'next_link' %>