<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page7"  data-journey="waste-carriers-registration:contact-details">

 <fieldset>
 <legend><%= t 'registrations.contactdetails_step.subtitle' %></legend>	
 <h2 class='subtitle'><%= t '.legend' %></h2>
	<%= render 'simple_contact_details', f: f  %>
  </fieldset>
<div class="next_link"><%= render 'next_link' %></div>
</div>


