<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page4"  data-journey="waste-carriers-registration:convictions">

  <fieldset>
    <legend><%= t 'registrations.convictions_step.title' %></legend>
    

    <div class="inline<%if @registration.errors[:declaredConvictions].any?%> validation<%end%>">
      <%= validation_for(@registration, :declaredConvictions) %>
      <%= f.label :yes_option_label, for: "registration_declaredConvictions_yes", class: "block-label" do %>
          <%= f.radio_button :declaredConvictions, "yes", class: "radio" %>
          <%= t 'form.yes_option_label' %>
      <% end %>
      <%= f.label :no_option_label, for: "registration_declaredConvictions_no", class: "block-label" do %>
          <%= f.radio_button :declaredConvictions, "no", class: "radio" %>
          <%= t 'form.no_option_label' %>
      <% end %>
    </div>
  </fieldset>

  <div class='subtitle'><%= t 'registrations.convictions_step.subtitle' %></div>
  <p><%= link_to t('registrations.convictions_step.relevant_convictions_link_text'), 'https://www.gov.uk/register-waste-carrier/update-registration', target: '_blank' %></p>
  <p><%= link_to t('registrations.convictions_step.relevant_person_link_text'), 'https://www.gov.uk/register-waste-carrier/update-registration', target: '_blank' %></p>

</div>

<%= render 'next_link' %>