<p><a href="?whatisconstruction=true"><%= t '.explanation_link'%></a></p>

<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page4" data-journey="waste-carriers-registration:constructiondemolition">

  <!-- Smart Answers
    Do you ever deal with construction or demolition waste
   -->
  <fieldset>
    <legend></legend>
    <div class="inline<%if @registration.errors[:constructionWaste].any?%> validation<%end%>">
  	  <label class='block-label'>
  	    <%= f.radio_button :constructionWaste, "yes", :class => "radio" %> 
        <%= f.label t 'form.yes_option_label', :class => "label" %>
      </label>
      <label class='block-label'>
        <%= f.radio_button :constructionWaste, "no", :class => "radio" %> 
        <%= f.label t 'form.no_option_label', :class => "label" %>
  	  </label>
    </div>
  </fieldset>

</div>

<%= render 'wizard_links' %>
