<%= render "shared/progress", size: "40%" %>

<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page2"  data-journey="waste-carriers-registration:contact-details">

<h2><%= t '.contactHeading' %></h2>

<fieldset>
<legend><%= t '.businessAddress' %></legend>

<!--
<div id="addressSearch">

<p class="action group">

    <%= f.label :postcodeSearch, "Find address using postcode" %>
    <%= f.text_field :postcodeSearch %>

<input name="findAddress" class="button-secondary" type="submit" value="Find address"/>
</p>
</div>
<div id="addressSearchResults" style="display:none">
<p class="group">
<label for="addresses"><span id="resultCount">5</span> Addresses found</label>
<select id="addresses">
<option>Please select an address..</option>
</select>
</p>
</div>
-->

<p class="group<%if @registration.errors[:houseNumber].any?%> validation<%end%>">
    <%= validation_for(@registration, :houseNumber) %>
    <%= f.label :houseNumber %>
    <%= f.text_field :houseNumber, :size => 20, :maxlength => 35 %>
</p>

<p class="group<%if @registration.errors[:streetLine1].any?%> validation<%end%>">
    <%= validation_for(@registration, :streetLine1) %>
    <%= f.label :streetLine1 %>
    <%= f.text_field :streetLine1, :size => 20, :maxlength => 35 %>
</p>
<p class="group<%if @registration.errors[:streetLine2].any?%> validation<%end%>">
    <%= validation_for(@registration, :streetLine2) %>
    <%= f.label :streetLine2, :class=>"offscreen" %>
    <%= f.text_field :streetLine2, :size => 20, :maxlength => 35 %>
</p>
<p class="group<%if @registration.errors[:townCity].any?%> validation<%end%>">
    <%= validation_for(@registration, :townCity) %>
    <%= f.label :townCity %>
    <%= f.text_field :townCity, :size => 20, :maxlength => 35 %>
</p>
<p class="group<%if @registration.errors[:postcode].any?%> validation<%end%>">
    <%= validation_for(@registration, :postcode) %>
    <%= f.label :postcode %>
    <%= f.text_field :postcode, :size => 14, :maxlength => 10 %>
</p>




<div id="selectedAddress" style="display:none">
<div id="addressDisplay">
</div>
<p class="action group">
<input name="changeAddress" class="button-secondary" type="submit" value="Change address"/>
</p>
</div>

<%= f.hidden_field :uprn %>
<%= f.hidden_field :address %>
</fieldset>

<fieldset>
<legend><%= t '.contact_information_legend' %></legend>

<p class="group<%if @registration.errors[:title].any?%> validation<%end%>">
    <%= validation_for(@registration, :title) %>
    <%= f.label :title %>
    <%= f.select :title , options_for_select(Registration.title_options_for_select, f.object.title ) %>
</p>
<p id="titleOtherWrapper" class="group js-hidden<%if @registration.errors[:otherTitle].any?%> validation<%end%>">
    <%= validation_for(@registration, :otherTitle) %>
    <%= f.label :otherTitle, "Other title" %>
    <%= f.text_field :otherTitle, :size => 20, :maxlength => 35 %>
</p>
<p class="group<%if @registration.errors[:firstName].any?%> validation<%end%>">
    <%= validation_for(@registration, :firstName) %>
    <%= f.label :firstName %>
    <%= f.text_field :firstName, :size => 20, :maxlength => 35 %>
</p>
<p class="group<%if @registration.errors[:lastName].any?%> validation<%end%>">
    <%= validation_for(@registration, :lastName) %>
    <%= f.label :lastName %>
    <%= f.text_field :lastName, :size => 20, :maxlength => 35 %>
</p>
<p class="group<%if @registration.errors[:position].any?%> validation<%end%>">
    <%= validation_for(@registration, :position) %>
    <%= f.label :position %>
    <%= f.text_field :position, :size => 20, :maxlength => 35 %>
</p>
<p class="group<%if @registration.errors[:phoneNumber].any?%> validation<%end%>">
    <%= validation_for(@registration, :phoneNumber) %>
    <%= f.label :phoneNumber %>
    <%= f.text_field :phoneNumber, :size => 20, :maxlength => 20 %>
</p>
<p class="group<%if @registration.errors[:contactEmail].any?%> validation<%end%>">
    <%= validation_for(@registration, :contactEmail) %>
    <%= f.label :contactEmail %>
    <%= f.text_field :contactEmail, :size => 20, :maxlength => 70 %>
</p>
</fieldset>

<!--<p class="action group">
<input name="next" type="submit" value="Next"/>
<input name="back" type="submit" value="Back"/>
</p>-->

</div>
<p class="action group">
<input name="back" class="button-secondary" type="submit" value="<%= t 'registrations.form.back_button_label' %>"/>
<input name="next" class="button" type="submit" value="<%= t 'registrations.form.next_button_label' %>"/>
</p>