
<div id="progress-wrapper">Progress: <div id="progress"><div class="offscreen">75%</div><div class="bar" style="width: 60%"></div></div></div>

  <%= render "errors" %>

<!-- WF 4.3.3 -->
<div id="page3">

<h2>Check details</h2>
<fieldset>
<div id="summary">

<p>Registering <%=@registration.companyName%> as a <%=@registration.businessType.to_s.humanize%>.</p>
<p>With the following details:</p>

<div><%=@registration.address%></div>

<div><%=@registration.title_for_display%> <%=@registration.firstName%> <%=@registration.lastName%> (<%=@registration.contactEmail%>)</div>
<div>Telephone number: <%=@registration.phoneNumber%></div>

</div>
</fieldset>

<br/>
<legend>Anything wrong?</legend>

<p>To edit your details use the <b>'Back'</b> button.</p>

<fieldset>
<legend>Declaration</legend>

<p class="option group<%if @registration.errors[:declaration].any?%> validation<%end%>">
<label for="registration_declaration"><%= f.check_box :declaration%> I declare that as far as I know and believe, the information in this registration is true. A statement that is false or misleading is an offence under Section 7(3) of the Control of Pollution (Ammendment) Act 1989.</label>
</p>


</fieldset>

<fieldset>
<legend>Find out how we use your data</legend>
<p><a href="#TODO_EXTERNALLINKFORTERMSANDCONDITIONS">Find out more details about how we use your data and information</a></p>
</fieldset>

</div>
<p class="action group">
<input name="back" class="button-secondary" type="submit" value="Back"/>
<input name="next" class="button" type="submit" value="Next"/>
</p>
