<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page8"  data-journey="waste-carriers-registration:convictions">

  <fieldset>
    <legend><%= t '.legend' %></legend>
    <h2 class="subtitle"><%= t 'registrations.convictions_step.subtitle' %></h2>
    <div class="inline<%if @registration.errors[:declaredConvictions].any?%> validation<%end%>">
      <%= f.label :yes_option_label, for: "registration_declaredConvictions_yes", :class => "block-label" do %>
          <%= f.radio_button :declaredConvictions, "yes", :class => "radio" %>
          <%= f.label t 'form.yes_option_label' %>
      <% end %>
      <%= f.label :yes_option_label, for: "registration_declaredConvictions_no", :class => "block-label" do %>
          <%= f.radio_button :declaredConvictions, "no", :class => "radio" %>
          <%= f.label t 'form.no_option_label' %>
      <% end %>
    </div>
  </fieldset>

</div>

<span class="next_link"><%= render 'next_link' %></span>