<%= render "errors" %>

<!-- WF 4.3.3 -->
<div id="page9"  data-journey="waste-carriers-registration:confirmation">

  <h3><%= t '.smart_answers_heading' %></h3>
  <p>
    <%= render 'smartanswers_display' %>
    <%= link_to t('form.edit_these_details'), newBusinessType_path %>
  </p>

  <h3><%= t 'registrations.address_entry.businessAddress' %></h3>
  <p>
    <%= render 'address_display' %>
    <%= link_to t('form.edit_these_details'), newBusinessDetails_path %>
  </p>

  <h3><%= t 'registrations.contactdetails_step.title' %></h3>
  <p>
    <%= render 'contactdetails_display' %>
    <%= link_to t('form.edit_these_details'), newContact_path %>
  </p>

  <h3><%= t '.declaration_heading' %></h3>
  <div class="form-group<%if @registration.errors[:declaration].any?%> validation<%end%>">
    <%= validation_for(@registration, :declaration) %>
    <%= f.check_box :declaration%><%= t '.declaration_text' %>
  </div>

  <h3><%= t '.data_protection_heading' %></h3>
  <p>
    <span style="font-size:90%}">
      <%= t '.data_protection_text1' %> <%= link_to t('registrations.dataProtection.subtitle'), dataProtection_path, :target => "_blank" %>
    </span>
  </p>
  <p>
    <span style="font-size:90%}">
      <%= link_to t('.privacy_policy'), Rails.configuration.waste_exemplar_eaPrivacyCookies_url, :target => "_blank" %>
    </span>
  </p>

</div>

<%= render 'wizard_links' %>
