<fieldset>
  <legend><%= t 'registrations.confirmation_step.declaration_heading' %></legend>
  <div class="panel-indent<%if @registration.errors[:declaration].any?%> validation<%end%>">
    <%= validation_for(@registration, :declaration) %>
    <ol>
    <li><p><%= f.check_box :declaration%>
      <%= t 'registrations.confirmation_step.declaration_text_tick_box' %></p></li>
    <li><p><%= t 'registrations.confirmation_step.declaration_text_submit' %></p></li>
    <li><p><%= t 'registrations.confirmation_step.declaration_text_fined' %></p></li>
  </ol>
  </div>

  <div class='form-group-dataprotection'>
    <ul>
      <li><%= t 'registrations.confirmation_step.data_protection_text1' %></li>
      <li>
        <p><%= link_to t('.privacy_policy'), Rails.configuration.waste_exemplar_eaPrivacyCookies_url, :target => "_blank" %></p>
      </li>
    </ul>
  </div>

  <input name="confirm" class="button" type="submit" value="<%= t 'upper_registrations.form.confirm_button_label' %>"/>
 </div>
</fieldset>
