<fieldset>
  <legend><%= t 'registrations.confirmation_step.declaration_heading' %></legend>
  <div class="panel-indent<%if @registration.errors[:declaration].any?%> validation<%end%>">
    <%= validation_for(@registration, :declaration) %>
    <p><%= f.check_box :declaration%> 
    <%= t 'registrations.confirmation_step.declaration_text_tick_box' %></p>
    <p><%= t 'registrations.confirmation_step.declaration_text_submit' %></p>
    <p><%= t 'registrations.confirmation_step.declaration_text_fined' %></p>
  </div>

  <h2><%= t 'registrations.confirmation_step.data_protection_heading' %></h2>
  <div class='form-group-dataprotection'>
    <ul>
      <li><%= t 'registrations.confirmation_step.data_protection_text1' %></li>
      <li>
        </p><%= link_to t('registrations.dataProtection.subtitle'), dataProtection_path, :target => "_blank" %>
        </p>
      </li>
      </li><p><%= link_to t('.privacy_policy'), Rails.configuration.waste_exemplar_eaPrivacyCookies_url, :target => "_blank" %>
           </p>
      </li>
    </ul>
  </div>

  <input name="confirm" class="button" type="submit" value="<%= t 'upper_registrations.form.confirm_button_label' %>"/>
 </div>
</fieldset>
