<hr>
  <h2><%= t 'registrations.confirmation_step.declaration_heading' %></h2>
  <div class="panel-indent<%if @registration.errors[:declaration].any?%> validation<%end%>">
    <%= validation_for(@registration, :declaration) %>
    <p><%= f.check_box :declaration%> 
    <%= t 'registrations.confirmation_step.declaration_text' %></p>
  </div>

  <br>

  <h2><%= t 'registrations.confirmation_step.data_protection_heading' %></h2>
  <p>
      <%= t 'registrations.confirmation_step.data_protection_text1' %> <%= link_to t('registrations.dataProtection.subtitle'), dataProtection_path, :target => "_blank" %>
  </p>

  <br>

  <p>
      <%= link_to t('.privacy_policy'), Rails.configuration.waste_exemplar_eaPrivacyCookies_url, :target => "_blank" %>
  </p>

  <p><%= render 'back_link' %></p>
  <input name="confirm" class="button" type="submit" value="<%= t 'upper_registrations.form.confirm_button_label' %>"/>
</p>
</div>
