<h2><%=t 'registrations.details.heading'%></h2>
<div class="clr"></div>
<dl class="data">
  <dt><%=t 'registrations.details.contactName'%></dt>
  <dd>
  <%= @registration.firstName%> <%= @registration.lastName%>
  </dd>
  <dt><%=t 'registrations.details.phoneNumber'%></dt>
  <dd><%= @registration.phoneNumber%></dd>
</dl>
<dl class="data">
  <dt><%=t 'registrations.details.address'%></dt>
  <dd><%= render "address_display", r: @registration, :newline=>true%></dd>
</dl>

<!--
<%if @registration.assisted_digital? %>
<dl class="data">
  <dt>Access code</dt>
  <dd><%= @registration.accessCode %> </dd>
</dl>
<%end%>
-->

<div class="clr"></div>

<div class="clr"></div>
