<h2 class="heading-small"><%=t 'registrations.details.heading'%></h2>
<ul>
  <li><%=t 'registrations.details.contactName'%><%= @registration.firstName%> <%= @registration.lastName%></li>
  <li><%=t 'registrations.details.phoneNumber'%><%= @registration.phoneNumber%></li>
<ul>

<!--
<%if @registration.assisted_digital? %>
<dl class="data">
  <dt>Access code</dt>
  <dd><%= @registration.accessCode %> </dd>
</dl>
<%end%>
-->