<script><!--
  var startUrl = "<%=newBusiness_path%>";
//--></script>
<main id="content" role="main" class="group"><article role="article" class="group">

<%= form_for(@registration) do |f| %>

<!--<h1><%= t '.title' %></h1>-->
<%= render "shared/meta_phases"%>

<%= render "#{@registration.current_step}_step", :f => f %>

<% end %>
</article></main>