<!-- Label select input does not work due to f.label t strong -->
<div class="form-group<%if @registration.errors[:streetLine1].any?%> validation<%end%>">
    <ul>
        <li><%= validation_for(@registration, :streetLine1) %></li>
        <li><%= f.label t('.streetLine1'), :class => 'form-label' %></li>
        <li><%= f.text_field :streetLine1, :size => 20, :maxlength => 35 %></li>
    </ul>
</div>
<div class="form-group<%if @registration.errors[:streetLine2].any?%> validation<%end%>">
    <ul>
        <li><%= validation_for(@registration, :streetLine2) %></li>
        <li><%= f.label t('.streetLine2'), :class => 'form-label offscreen' %></li>
        <li><%= f.text_field :streetLine2, :size => 20, :maxlength => 35 %></li>
    <ul>
</div>
<div class="form-group<%if @registration.errors[:streetLine3].any?%> validation<%end%>">
    <ul>
        <li><%= validation_for(@registration, :streetLine3) %></li>
        <li><%= f.label t('.streetLine3'), :class => 'form-label offscreen' %></li>
        <li><%= f.text_field :streetLine3, :size => 20, :maxlength => 35 %></li>
    </ul>
</div>
<div class="form-group<%if @registration.errors[:streetLine4].any?%> validation<%end%>">
    <ul>
        <li><%= validation_for(@registration, :streetLine4) %></li>
        <li><%= f.label t('.streetLine4'), :class => 'form-label offscreen' %></li>
        <li><%= f.text_field :streetLine4, :size => 20, :maxlength => 35 %></li>
    </ul>
</div>
<div class="form-group<%if @registration.errors[:country].any?%> validation<%end%>">
    <ul>
        <li><%= validation_for(@registration, :country) %></li>
        <li><%= f.label t('.country'), class: 'form-label' %></li>
        <li><%= f.text_field :country, :size => 20, :maxlength => 35 %></li>
    </ul>
</div>