<script><!--
  var startUrl = "<%=newBusiness_path%>";
//--></script>
<main id="content" role="main" class="group"><article role="article" class="group">

<%= form_for(@registration, url: ncccedit_url(:id => @registration.id)) do |f| %>

<!--<h1><%= t 'registrations.form.title' %></h1>-->
<h2 class="subtitle"><%= t '.subtitle' %></h2>
<%= render "shared/meta_phases"%>

<%= render "nccc_edit", :f => f %>

<% end %>
</article></main>