
<%= render "errors" %>
  
<% if params[:note] %>
<div id="note_explanation" class="note-summary">
  <h1><%= params[:note]%></h1>
</div>
<% end %>

<!-- WF 4.3.1 -->
<div id="page1"  data-journey="waste-carriers-registration:edit">

<fieldset>
<legend><%= t 'registrations.business_step.business_or_org_details' %></legend>

<p class="group<%if @registration.errors[:businessType].any?%> validation<%end%>">
	<%= validation_for(@registration, :businessType) %>
	<%= f.label :businessType %>
	<%= f.select :businessType, options_for_select(Registration.business_type_options_for_select,f.object.businessType) %>
</p>
<p class="group<%if @registration.errors[:companyName].any?%> validation<%end%>">
	<%= validation_for(@registration, :companyName) %>
	<%= f.label :companyName %>
	<%= f.text_field :companyName%>
</p>

</fieldset>

</div>

<!-- WF 4.3.2 -->
<div id="page2">

<fieldset>
<legend><%= t 'registrations.contact_step.businessAddress' %></legend>

<!--
<div id="addressSearch">

<p class="action group">

    <%= f.label :postcodeSearch, "Find address using postcode" %>
    <%= f.text_field :postcodeSearch %>

<input name="findAddress" class="button-secondary" type="submit" value="Find address"/>
</p>
</div>
<div id="addressSearchResults" style="display:none">
<p class="group">
<label for="addresses"><span id="resultCount">5</span> Addresses found</label>
<select id="addresses">
<option>Please select an address..</option>
</select>
</p>
</div>
-->

<p class="group<%if @registration.errors[:houseNumber].any?%> validation<%end%>">
	<%= validation_for(@registration, :houseNumber) %>
	<%= f.label :houseNumber %>
	<%= f.text_field :houseNumber %>
</p>
<p class="group<%if @registration.errors[:streetLine1].any?%> validation<%end%>">
	<%= validation_for(@registration, :streetLine1) %>
	<%= f.label :streetLine1 %>
	<%= f.text_field :streetLine1%>
</p>
<p class="group<%if @registration.errors[:streetLine2].any?%> validation<%end%>">
	<%= validation_for(@registration, :streetLine2) %>
	<%= f.label :streetLine2, :class=>"offscreen" %>
	<%= f.text_field :streetLine2%>
</p>
<p class="group<%if @registration.errors[:townCity].any?%> validation<%end%>">
	<%= validation_for(@registration, :townCity) %>
	<%= f.label :townCity %>
	<%= f.text_field :townCity%>
</p>
<p class="group<%if @registration.errors[:postcode].any?%> validation<%end%>">
	<%= validation_for(@registration, :postcode) %>
	<%= f.label :postcode %>
	<%= f.text_field :postcode %>
</p>




<div id="selectedAddress" style="display:none">
<div id="addressDisplay">
</div>
<p class="action group">
<input name="changeAddress" class="button-secondary" type="submit" value="Change address"/>
</p>
</div>

<%= f.hidden_field :uprn %>
<%= f.hidden_field :address %>
</fieldset>

<fieldset>
<legend><%= t 'registrations.contact_step.contact_information_legend' %></legend>

<p class="group<%if @registration.errors[:title].any?%> validation<%end%>">
	<%= validation_for(@registration, :title) %>
	<%= f.label :title %>
	<%= f.select :title , options_for_select(Registration.title_options_for_select,f.object.title ) %>
</p>
<p id="titleOtherWrapper" class="group js-hidden<%if @registration.errors[:otherTitle].any?%> validation<%end%>">
	<%= validation_for(@registration, :otherTitle) %>
    <%= f.label :otherTitle, "Other title" %>
    <%= f.text_field :otherTitle %>
</p>
<p class="group<%if @registration.errors[:firstName].any?%> validation<%end%>">
	<%= validation_for(@registration, :firstName) %>
    <%= f.label :firstName %>
    <%= f.text_field :firstName %>
</p>
<p class="group<%if @registration.errors[:lastName].any?%> validation<%end%>">
	<%= validation_for(@registration, :lastName) %>
    <%= f.label :lastName %>
    <%= f.text_field :lastName %>
</p>
<p class="group<%if @registration.errors[:phoneNumber].any?%> validation<%end%>">
	<%= validation_for(@registration, :phoneNumber) %>
    <%= f.label :phoneNumber %>
    <%= f.text_field :phoneNumber %>
</p>
<p class="group<%if @registration.errors[:contactEmail].any?%> validation<%end%>">
	<%= validation_for(@registration, :contactEmail) %>
    <%= f.label :contactEmail %>
    <%= f.text_field :contactEmail%>
</p>

<% if agency_user_signed_in? %>
<!-- // START -->
<%= f.fields_for :metaData do |ff| %>
<p id="revoke_question" class="group">
  <label for="revoke_question"><%= t('.revokedQuestion') %></label>
  <span class="inline">
    <input class="radio" id="revoke_question_yes" name="revoke_question" type="radio" value="yes" 
    	<% if @registration.metaData.revokedReason != '' %>checked="true"<%end%> <% if @registration.metaData.status == "REVOKED" %>disabled="true"<%end%>>
    <label class="label" for="revoke_question_yes">Yes</label>
    <input class="radio" id="revoke_question_no" name="revoke_question" type="radio" value="no" 
    	<% if @registration.metaData.revokedReason == '' %>checked="true"<%end%> <% if @registration.metaData.status == "REVOKED" %>disabled="true"<%end%>>
    <label class="label" for="revoke_question_no">No</label>
  </span>
</p>
<p class="group">
  <%= ff.label :revokedReason, t('.revokedReason') %>
  <span>This will appear as the reason sent in the email to the registrant</span>
  <% if @registration.metaData.status == "REVOKED" %>
    <%= ff.text_area :revokedReason, :value => @registration.metaData.revokedReason, :disabled=>'disabled' %>
  <% else %>
    <%# Comment: For some reason the revokedReason field cannot detect it's own value on page render, as such the value is retrieved and set manually in this field. %>
  	<%= ff.text_area :revokedReason, :value => @registration.metaData.revokedReason %>
  <% end %>
</p>
<% end %>

<!-- // END -->
<% end %>

<p class="group">
	<i>Registered on: <%= format_date(@registration.metaData.dateRegistered) %></i>
	<!--<br/><i>Created by: <%= @registration.metaData.route %> (<%= @registration.routeName %>)</i>-->
</p>
</fieldset>

</div>
<p class="action group">
<% if agency_user_signed_in? %>
  <%= link_to t('registrations.form.back_button_label'), registrations_path, :class => 'button-secondary' %>
<% else logger.debug 'User not signed in so Redirect back to my account page' %>
  <%= link_to t('registrations.form.back_button_label'), userRegistrations_path(current_user.id), :class => 'button-secondary' %>
<% end %>
<input name="reprint" class="button-secondary" type="submit" value="<%= t 'registrations.form.print_button_label' %>"/>
<% if @registration.metaData.status != "REVOKED" %>
<input name="next" class="button" type="submit" value="<%= t 'registrations.form.update_button_label' %>"/>
<% if agency_user_signed_in? %>
<input name="revoke" class="button" type="submit" value="<%= t 'registrations.form.revoke_button_label' %>"/>
<% end %>
<% else %>
<input name="unrevoke" class="button" type="submit" value="<%= t 'registrations.form.unrevoke_button_label' %>"/>
<% end %>
</p>