<% content_for :page_title, createTitle('.business_or_org_details') %>

<%= render "shared/progress", size: "10%" %>

<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:onlydealwith">


  <!-- Smart Answers
    Do you only deal with the following waste: animal by-products, waste from a mine or quarry, or farm or agricultural waste -->
  <fieldset>
    <legend><span><%= t 'activemodel.attributes.discover.onlyAMF'%></span></legend>
    <p class="group<%if @registration.errors[:onlyAMF].any?%> validation<%end%>">
  	  <span class="inline"><!-- GDS have an 'option' class but we prefer this simplified version -->
        <%= f.radio_button :onlyAMF, "yes", :class => "radio" %> <%= f.label :onlyAMF_yes, :class => "label" %>
        <%= f.radio_button :onlyAMF, "no", :class => "radio" %><%= f.label :onlyAMF_no, :class => "label" %>
  	  </span>
    </p>
  </fieldset>


</div>

<%= render 'wizard_links' %>