<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page5" data-journey="waste-carriers-registration:onlydealwith">

  <!-- Smart Answers
    Do you only deal with the following waste: animal by-products, waste from a mine or quarry, or farm or agricultural waste
   -->
  <fieldset>
    <legend><%= t 'registrations.onlydealwith_step.subtitle' %></legend>
    <div class="inline<%if @registration.errors[:onlyAMF].any?%> validation<%end%>">
  	  <%= f.label :yes_option_label, for: "registration_onlyAMF_yes", :class => "block-label" do %>
        <%= f.radio_button :onlyAMF, "yes", :class => "radio" %> 
        <%= f.label t 'form.yes_option_label' %>
          <% end %>
      <%= f.label :yes_option_label, for: "registration_onlyAMF_no", :class => "block-label" do %>
        <%= f.radio_button :onlyAMF, "no", :class => "radio" %> 
        <%= f.label t 'form.no_option_label' %>
  	       <% end %>
    </div>
  </fieldset>
<div class="next_link"><%= render 'next_link' %></div>
</div>


