<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page5" data-journey="waste-carriers-registration:onlydealwith">

  <!-- Smart Answers
    Do you only deal with the following waste: animal by-products, waste from a mine or quarry, or farm or agricultural waste
   -->
  <fieldset>
    <legend></legend>
    <div class="form-group<%if @registration.errors[:onlyAMF].any?%> validation<%end%>">
  	  <label class="block-label"><!-- GDS have an 'option' class but we prefer this simplified version -->
        <%= f.radio_button :onlyAMF, "yes", :class => "radio" %> <%= f.label t 'form.yes_option_label', :class => "label" %>
      </label>
      <label class="block-label">
        <%= f.radio_button :onlyAMF, "no", :class => "radio" %> <%= f.label t 'form.no_option_label', :class => "label" %>
  	  </label>
    </div>
  </fieldset>

</div>

<%= render 'wizard_links' %>
