<div id="page2" data-journey="waste-carriers-registration:otherbusinesses">

  <%= render "errors" %>
  <header class="page-header group">
      <div class="hgroup">
        <h1 class="heading-large" id="groupLabel"><%= t 'registrations.otherBusinesses_step.subtitle' %></h1>
      </div>
  </header>

  <div class="form-group<%if @registration.errors[:otherBusinesses].any?%> validation<%end%>" id="registration_otherBusinesses" role="group" aria-labelledby="groupLabel">
    <div class="inline">
    <%= validation_for(@registration, :otherBusinesses) %>
    <%= f.label :yes_option_label, for: "registration_otherBusinesses_yes", :class => "block-label" do %>
    <%= f.radio_button :otherBusinesses, "yes", :class => "radio" %>
    <%= t 'form.yes_option_label' %>
      <% end %>
    <%= f.label :no_option_label, for: "registration_otherBusinesses_no", :class => "block-label" do %>
    <%= f.radio_button :otherBusinesses, "no", :class => "radio" %>
    <%= t 'form.no_option_label' %>
      <% end %>
    </div>
  </div>
  <%= render 'next_link' %>
</div>


