<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page2" data-journey="waste-carriers-registration:otherbusinesses">

  <!-- Smart Answers
    Whose waste do you deal with?
   -->
  <fieldset>
    <legend><%= t 'registrations.otherBusinesses_step.subtitle' %></legend>
    <div class="inline<%if @registration.errors[:otherBusinesses].any?%> validation<%end%>">
      <label class="block-label"><!-- GDS have an 'option' class but we prefer this simplified version -->
        <%= f.radio_button :otherBusinesses, "yes", :class => "radio" %> 
        <%= f.label t 'form.yes_option_label', :class => "form-label" %>
      </label>
  	  <label class="block-label">
  	    <%= f.radio_button :otherBusinesses, "no", :class => "radio" %> 
        <%= f.label t 'form.no_option_label', :class => "form-label" %>
  	  </label>
    </div>
  </fieldset>

</div>

<%= render 'wizard_links' %>
