<% content_for :page_title, createTitle('.business_or_org_details') %>

<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:otherbusinesses">


  <!-- Smart Answers
    Whose waste do you deal with?
   -->
  <fieldset id="discover_otherBusinesses">
    <legend><span><%= t 'activemodel.attributes.registration.otherBusinesses'%></span></legend>
    <p class="group<%if @registration.errors[:otherBusinesses].any?%> validation<%end%>">
      <span class="inline"><!-- GDS have an 'option' class but we prefer this simplified version -->
        <!--<label class="label" for="discover_otherBusinesses_yes">-->
        <%= f.radio_button :otherBusinesses, "no", :class => "radio" %><%= f.label :otherBusinesses_no, :class => "label" %>
      </span>
  	  <span class="inline">
  	    <%= f.radio_button :otherBusinesses, "yes", :class => "radio" %><%= f.label :otherBusinesses_yes, :class => "label" %><!-- Yes</label>-->
  	  </span>
    </p>
  </fieldset>


</div>

<%= render 'wizard_links' %>