<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page8"  data-journey="waste-carriers-registration:registration-type">

  <fieldset>
    <legend><%= t '.legend' %></legend>
      <div class="form-group-type<%if @registration.errors[:registrationType].any?%> validation<%end%>">
      <div class='inline'>
        <%= f.label :yes_option_label, for: "registration_registrationType_carrier_dealer", :class => "block-label" do %>
        <%= f.radio_button :registrationType, "carrier_dealer", :class => "radio" %>
        <%= t "buttons.carrier_dealer" %>
          <% end %>
        <p class="subtitle"><%= t 'registrations.registrationtype_step.subtitle_carrier_dealer' %></p>
      </div>

      <div class='inline'> 
        <%= f.label :yes_option_label, for: "registration_registrationType_broker_dealer", :class => "block-label" do %>
        <%= f.radio_button :registrationType, "broker_dealer", :class => "radio" %>
        <%= t "buttons.broker_dealer" %>
          <% end %>
        <p class="subtitle"><%= t 'registrations.registrationtype_step.subtitle_broker_dealer' %></p>
      </div>

      <div class='inline'>
        <%= f.label :yes_option_label, for: "registration_registrationType_carrier_broker_dealer", :class => "block-label" do %>
        <%= f.radio_button :registrationType, "carrier_broker_dealer", :class => "radio" %>
        <%= t "buttons.carrier_broker_dealer" %>
          <% end %>
        <p class="subtitle"><%= t 'registrations.registrationtype_step.subtitle_carrier_broker_dealer' %></p>
      </div>
       <%= f.hidden_field :tier, value: 'UPPER' %>
    </div>
  </fieldset>
</div>

<span class="next_link"><%= render 'next_link' %></span>
