<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page8"  data-journey="waste-carriers-registration:registration-type">

  <fieldset>
    <legend><%= t '.legend' %></legend>
    <h2 class="subtitle"><%= t 'registrations.registrationtype_step.subtitle' %></h2>
    <div class="form-group<%if @registration.errors[:registrationType].any?%> validation<%end%>">
      <label class="block-label">
        <%= f.radio_button :registrationType, "carrier_dealer", :class => "radio" %>
        <%= f.label t "buttons.carrier_dealer", :class => "label" %>
      </label>
      <label class="block-label">
        <%= f.radio_button :registrationType, "broker_dealer", :class => "radio" %>
        <%= f.label t "buttons.broker_dealer", :class => "label" %>
      </label>
      <label class="block-label">
        <%= f.radio_button :registrationType, "carrier_broker_dealer", :class => "radio" %>
        <%= f.label t "buttons.carrier_broker_dealer", :class => "label" %>
      </label>
      <%= f.hidden_field :tier, value: 'UPPER' %>
    </div>
  </fieldset>

</div>

<%= render 'wizard_links' %>
