<%= render "errors" %>

<fieldset>
  <legend><%= t '.form_legend' %></legend>
  <p class="group<%if @registration.errors[:registrationType].any?%> validation<%end%>">
    <span class="inline"><!-- GDS have an 'option' class but we prefer this simplified version -->
      <!--<label class="label" for="discover_isMainService_yes">-->
      <%= f.radio_button :registrationType, "carrier_dealer", required: true, class: "radio" %><%= f.label :carrier_dealer, class: "label" %>
    </span>
    <span class="inline">
      <%= f.radio_button :registrationType, "broker_dealer", required: true, class: "radio" %><%= f.label :broker_dealer, class: "label" %>
    </span>
    <span class="inline">
      <%= f.radio_button :registrationType, "carrier_broker_dealer", required: true, class: "radio" %><%= f.label :carrier_broker_dealer, class: "label" %>
    </span>
  </p>
</fieldset>

<%= render 'wizard_links' %>
