<% content_for :page_title, createTitle('.business_or_org_details') %>

<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:serviceprovided">


  <!-- Smart Answers
    What kind of service do you provide?
   -->
  <fieldset>
    <legend><span><%= t 'activemodel.attributes.discover.isMainService'%></span></legend>
    <p class="group<%if @registration.errors[:isMainService].any?%> validation<%end%>">
      <span class="inline"><!-- GDS have an 'option' class but we prefer this simplified version -->
        <!--<label class="label" for="discover_isMainService_yes">-->
        <%= f.radio_button :isMainService, "no", :class => "radio" %><%= f.label :isMainService_no, :class => "label" %>
      </span>
      <span class="inline">
        <%= f.radio_button :isMainService, "yes", :class => "radio" %><%= f.label :isMainService_yes, :class => "label" %>
      </span>
    </p>
  </fieldset>


</div>

<%= render 'wizard_links' %>