<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page3" data-journey="waste-carriers-registration:serviceprovided">

  <!-- Smart Answers
    What kind of service do you provide?
   -->
  <fieldset>
    <p class="group<%if @registration.errors[:isMainService].any?%> validation<%end%>">
      <span class="inline"><!-- GDS have an 'option' class but we prefer this simplified version -->
        <%= f.radio_button :isMainService, "no", :class => "radio" %> <%= f.label t '.part_of_service_label', :class => "label" %>
      </span>
      <span class="inline">
        <%= f.radio_button :isMainService, "yes", :class => "radio" %> <%= f.label t '.main_service_label', :class => "label" %>
      </span>
    </p>
  </fieldset>

</div>

<%= render 'wizard_links' %>
