<!-- WF 4.3.1 -->
<div id="page3" data-journey="waste-carriers-registration:serviceprovided">
  <!-- Smart Answers
    What kind of service do you provide?
   -->
<header class="page-header group">
  <div class="hgroup"> 
    <h1 class="heading-large"><%= t 'registrations.serviceprovided_step.subtitle' %></h1>
  </div>
</header> 

<fieldset>
  <legend></legend>
    <%= render "errors" %>
    <div class="inline <%if @registration.errors[:isMainService].any?%> validation<%end%>">
        <%= validation_for(@registration, :isMainService) %>
        <%= f.label :part_of_service_label, for: "registration_isMainService_no", :class => "block-label" do %>
          <%= f.radio_button :isMainService, "no", :class => "radio" %> 
          <%= f.label t '.part_of_service_label', :class => "label" %>
        <% end %>
        <%= f.label :main_service_label, for: "registration_isMainService_yes", :class => "block-label" do %>
          <%= f.radio_button :isMainService, "yes", :class => "radio" %> 
          <%= f.label t '.main_service_label', :class => "label" %>
        <% end %>
    </div>
</fieldset>

</div>

<span class="next_link"><%= render 'next_link' %></span>
