<% content_for :page_title, createTitle('.business_or_org_details') %>

<%= render "shared/progress", size: "10%" %>

<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page1" data-journey="waste-carriers-registration:serviceprovided">


  <!-- Smart Answers
    Whose waste do you deal with?
   -->
  <fieldset>
    <legend><span><%= t 'activemodel.attributes.discover.isMainService'%></span></legend>
    <p class="group<%if @registration.errors[:isMainService].any?%> validation<%end%>">
      <span class="inline"><!-- GDS have an 'option' class but we prefer this simplified version -->
        <!--<label class="label" for="discover_otherBusinesses_yes">-->
        <%= f.radio_button :isMainService, "no", :class => "radio" %><%= f.label :isMainService_no, :class => "label" %>
      </span>
  	  <span class="inline">
  	    <%= f.radio_button :isMainService, "yes", :class => "radio" %><%= f.label :isMainService_yes, :class => "label" %>
  	  </span>
    </p>
  </fieldset>


</div>

<p class="action group">
  <%= link_to t('registrations.form.back_button_label'), newOtherBusinesses_path, :class => 'button-secondary' %>
  <input name="next" class="button" type="submit" value="<%= t 'registrations.form.next_button_label' %>"/>
</p>