<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page3" data-journey="waste-carriers-registration:serviceprovided">

  <!-- Smart Answers
    What kind of service do you provide?
   -->
  <fieldset>
    <legend><%= t 'registrations.serviceprovided_step.subtitle' %></legend>
    <div class="inline <%if @registration.errors[:isMainService].any?%> validation<%end%>">
      <label class="block-label"><!-- GDS have an 'option' class but we prefer this simplified version -->
        <%= f.radio_button :isMainService, "no", :class => "radio" %> <%= f.label t '.part_of_service_label', :class => "label" %>
      </label>
      <label class="block-label">
        <%= f.radio_button :isMainService, "yes", :class => "radio" %> <%= f.label t '.main_service_label', :class => "label" %>
      </label>
    </div>
  </fieldset>

</div>

<%= render 'wizard_links' %>
