
<div id="progress-wrapper">Progress: <div id="progress"><div class="offscreen">75%</div><div class="bar" style="width: 75%"></div></div></div>

  <%= render "errors" %>

<!-- WF 4.3.4 -->
<div id="page4">
<h2>Sign up and register</h2>
<fieldset>
<legend>User details</legend>
<div id="summary">
<p>Registering <%=@registration.email%></p>
<p><%=@registration.companyName%></p>
</div>
</fieldset>

<% if @registration.do_sign_up? %>
<fieldset>
<legend>Signup information</legend>

<p class="group<%if @registration.errors[:email].any?%> validation<%end%>">
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email, :autofocus => true %>
</p>
<p class="group<%if @registration.errors[:password].any?%> validation<%end%>">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
</p>
<p class="group<%if @registration.errors[:password_confirmation].any?%> validation<%end%>">
    <%= f.label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation %>
</p>
</fieldset>

<% else %>
	
<fieldset>
<legend>Signin information</legend>

<p class="group<%if @registration.errors[:email].any?%> validation<%end%>">
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email, :autofocus => true %>
</p>
<p class="group<%if @registration.errors[:password].any?%> validation<%end%>">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
</p>
</fieldset>

<% end %>

</div>
<p class="action group">
<input name="back" class="button-secondary" type="submit" value="Back"/>
<input name="register" class="button" type="submit" value="Register"/>
</p>