<% if @registration.persisted? %>
    <% content_for :page_title, createTitle('.update') %>
<% else %>
    <% content_for :page_title, createTitle('.complete') %>
<% end %>


<%= render "errors" %>

<!-- WF 4.3.4 -->
<div id="page4"  data-journey="waste-carriers-registration:confirm">
    
<h2><% if !@registration.persisted? %><%= t '.complete' %><% else %><%= t '.update' %><% end %></h2>

<fieldset>
<ledend></ledend>
<% if user_signed_in? || agency_user_signed_in? %>
<!--<legend>User Account</legend>-->
	
<p><%= t '.signedInAsText' %> <strong><% if user_signed_in? %><%= current_user.email %><% elsif agency_user_signed_in? %><%= current_agency_user.email %><% end %></strong></p>
<p><%= t '.notYouText_html' %></p>


<%= f.select(:sign_up_mode, options_for_select([["Signed In",""]],f.object.sign_up_mode), {}, { :class => 'js-hidden' }) %>

<% else %>
<!--<legend>User Registration</legend>-->

<!--
<p class="group<%if @registration.errors[:sign_up_mode].any?%> validation<%end%> js-hidden">
    <%= f.label :sign_up_mode, "Sign up or sign in" %>
    <%= f.select :sign_up_mode, options_for_select([["Please select...",""],["Sign up (new e-mail)","sign_up"],["Sign in (existing e-mail)","sign_in"]],f.object.sign_up_mode) %>
</p>-->

<% if @registration.sign_up_mode == "sign_in" %>
<p id="accountExists" class="group"><%= t '.accountExists' %></p>
<% end %>
<% if @registration.sign_up_mode == "sign_up" %>
<p><span id="emailSignUpText"><%= t '.emailUsernameText' %><br/></span></p>
<% end %>

<p class="group <%if @registration.errors[:accountEmail].any?%> validation<%end%>">
    <%= validation_for(@registration, :accountEmail) %>
    <%= f.label :accountEmail %>
    <% if @registration.sign_up_mode == "sign_in" %>
    <%= f.email_field :accountEmail, :autofocus => true, :readonly => true %>
    <% else %>
    <%= f.email_field :accountEmail, :autofocus => true %>
    <% end %>
</p>
<% if @registration.sign_up_mode == "sign_up" %>
<p class="group <%if @registration.errors[:accountEmail_confirmation].any?%> validation<%end%>">
    <%= validation_for(@registration, :accountEmail_confirmation) %>
    <%= f.label :accountEmail_confirmation %>
    <%= f.email_field :accountEmail_confirmation %>
</p>
<% end %>
<p class="group <%if @registration.errors[:password].any?%> validation<%end%>">
    <%= validation_for(@registration, :password) %>
    <% if @registration.sign_up_mode == "sign_up" %><%= f.label :password, t('.createPassword') %><% else %><%= f.label :password %><% end %>
    <%= f.password_field :password %>
    <span class="strength_icon none">&#9650;<span class="strength_message"></span></span>
</p>
<% if @registration.sign_up_mode == "sign_up" %>
<p class="group <%if @registration.errors[:password_confirmation].any?%> validation<%end%>">
    <%= validation_for(@registration, :password_confirmation) %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
</p>
<% end %>

<% end %>

</fieldset>

</div>

<div class="form-group">
    <%= render 'back_link' %>
    <input name="register" class="button" type="submit" value="<% if @registration.persisted? %><%= t '.update' %><% else %><%= t 'registrations.form.next_button_label' %><% end %>"/>
</div>