
<div id="progress-wrapper">Progress: <div id="progress"><div class="offscreen">75%</div><div class="bar" style="width: 80%"></div></div></div>

  <%= render "errors" %>

<!-- WF 4.3.4 -->
<div id="page4">
<h2><% if !@registration.persisted? %>Complete<% else %>Update<% end %> registration</h2>

<fieldset>

<% if user_signed_in? || agency_user_signed_in? %>
<!--<legend>User Account</legend>-->
	
<p>You are currently signed in as <strong><% if user_signed_in? %><%= current_user.email %><% elsif agency_user_signed_in? %><%= current_agency_user.email %><% end %></strong></p>
<p>If this is not you, <% if user_signed_in? %><%= link_to "sign out and start again", destroy_user_session_path, :method => :delete, :class => 'navbar-link'  %><% elsif agency_user_signed_in? %><%= link_to "sign out and start again", destroy_agency_user_session_path, :method => :delete, :class => 'navbar-link'  %><% end %>.</p>

<%= f.select(:sign_up_mode, options_for_select([["Signed In",""]],f.object.sign_up_mode), {}, { :class => 'js-hidden' }) %>

<% else %>
<!--<legend>User Registration</legend>-->

<p class="group<%if @registration.errors[:sign_up_mode].any?%> validation<%end%> js-hidden">
    <%= f.label :sign_up_mode, "Sign up or sign in" %>
    <%= f.select :sign_up_mode, options_for_select([["Please select...",""],["Sign up (new e-mail)","sign_up"],["Sign in (existing e-mail)","sign_in"]],f.object.sign_up_mode) %>
</p>

<p class="group js-hidden<%if @registration.errors[:accountEmail].any?%> validation<%end%>">
    <%= f.label :accountEmail, "Email" %>Please check this email address as it will be your username<br/>
    <%= f.email_field :accountEmail, :autofocus => true %>
</p>
<!--<p class="group <%if @registration.errors[:accountEmail].any?%> validation<%end%>">
    <%= f.label :accountEmail, "Confirm email" %>
    <%= f.email_field :accountEmail %>
</p>-->
<p class="group js-hidden<%if @registration.errors[:password].any?%> validation<%end%>">
    <%= f.label :password, "Password" %>Your password must be at least eight characters long<br/>
    <%= f.password_field :password %>
</p>
<p class="group js-hidden<%if @registration.errors[:password_confirmation].any?%> validation<%end%>">
    <%= f.label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation %>
</p>

<% end %>

</fieldset>

</div>
<p class="action group">
<input name="back" class="button-secondary" type="submit" value="Back"/>
<input name="register" class="button" type="submit" value="<% if !@registration.persisted? %>Complete<% else %>Update<% end %> registration"/>
</p>