<fieldset>
    <div class="form-group <%if r.errors[:accountEmail].any?%> validation<%end%>">
        <%= validation_for(r, :accountEmail) %>
        <%= f.label :accountEmail, class: 'form-label' %>
        <% if r.sign_up_mode == "sign_in" %>
            <%= f.email_field :accountEmail, :autofocus => true, :readonly => true %>
        <% else %>
            <%= f.email_field :accountEmail, :autofocus => true %>
        <% end %>
    </div>
    <% if r.sign_up_mode == "sign_up" %>
        <div class="form-group <%if r.errors[:accountEmail_confirmation].any?%> validation<%end%>">
            <%= validation_for(r, :accountEmail_confirmation) %>
            <%= f.label :accountEmail_confirmation, class: 'form-label' %>
            <%= f.email_field :accountEmail_confirmation %>
        </div>
    <% end %>
    <div class="form-group <%if r.errors[:password].any?%> validation<%end%>">
      <%= validation_for(r, :password) %>
      <% if r.sign_up_mode == "sign_up" %>
        <%= f.label :password, t('.createPassword'), class: 'form-label' %>
      <% else %>
        <%= f.label :password, class: 'form-label' %>
      <% end %>
      <%= f.password_field :password %>
      <p class='subtitle'>Password must be at least 8 characters long using upper and lower case letters.</p>
    </div>
    <% if r.sign_up_mode == "sign_up" %>
      <div class="form-group <%if r.errors[:password_confirmation].any?%> validation<%end%>">
        <%= validation_for(r, :password_confirmation) %>
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation %>
      </div>
    <% end %>
</fieldset>
