<%= render "shared/progress", size: "80%" %>

<%= render "errors" %>

<!-- WF 4.3.4 -->
<div id="page4"  data-journey="waste-carriers-registration:confirm">
<h2><% if !@registration.persisted? %><%= t '.complete' %><% else %><%= t '.update' %><% end %></h2>

<fieldset>

<% if user_signed_in? || agency_user_signed_in? %>
<!--<legend>User Account</legend>-->
	
<p><%= t '.signedInAsText' %> <strong><% if user_signed_in? %><%= current_user.email %><% elsif agency_user_signed_in? %><%= current_agency_user.email %><% end %></strong></p>
<p><%= t '.notYouText_html' %></p>


<%= f.select(:sign_up_mode, options_for_select([["Signed In",""]],f.object.sign_up_mode), {}, { :class => 'js-hidden' }) %>

<% else %>
<!--<legend>User Registration</legend>-->

<p class="group<%if @registration.errors[:sign_up_mode].any?%> validation<%end%> js-hidden">
    <%= f.label :sign_up_mode, "Sign up or sign in" %>
    <%= f.select :sign_up_mode, options_for_select([["Please select...",""],["Sign up (new e-mail)","sign_up"],["Sign in (existing e-mail)","sign_in"]],f.object.sign_up_mode) %>
</p>

<p id="accountExists" class="group js-hidden"><%= t '.accountExists' %></p>

<p class="group js-hidden<%if @registration.errors[:accountEmail].any?%> validation<%end%>">
    <%= f.label :accountEmail %><span id="emailSignUpText" class="js-hidden"><%= t '.emailUsernameText' %><br/></span>
    <%= f.email_field :accountEmail, :autofocus => true, :readonly => true %>
</p>

<p class="group <%if @registration.errors[:accountEmail_confirmation].any?%> validation<%end%>">
    <%= f.label :accountEmail_confirmation %>
    <%= f.email_field :accountEmail_confirmation %>
</p>

<p class="group js-hidden<%if @registration.errors[:password].any?%> validation<%end%>">
    <%= f.label :password %>
    <%= f.password_field :password %>
    <span class="strength_icon none">&#9650;<span class="strength_message"></span></span>
</p>
<p class="group js-hidden<%if @registration.errors[:password_confirmation].any?%> validation<%end%>">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
</p>

<% end %>

</fieldset>

</div>
<p class="action group">
<input name="back" class="button-secondary" type="submit" value="<%= t 'registrations.form.back_button_label' %>"/>
<input name="register" class="button" type="submit" value="<% if !@registration.persisted? %><%= t '.complete' %><% else %><%= t '.update' %><% end %>"/>
</p>