<ul id='smartanswers_display'>
  <% unless r.businessType.blank? %>
    <li>
      <%= t '.business_type', :businessType => t('business_types.' + r.businessType).downcase %>
    </li>
  <% end %>
  <% unless r.otherBusinesses.blank? %>
    <li>
      <%= t('.other_businesses_' + r.otherBusinesses) %>
    </li>
  <% end %>
  <% unless r.isMainService.blank? %>
    <li>
      <%= t('.service_provided_' + r.isMainService) %>
    </li>
  <% end %>
  <% unless r.onlyAMF.blank? %>
    <li>
      <%= t('.only_deal_with_' + r.onlyAMF) %>
    </li>
  <% end %>
  <% unless r.constructionWaste.blank? %>
    <li>
      <%= t('.construction_demolition_' + r.constructionWaste) %>
    </li>
  <% end %>
</ul>
