  <div class="form-group<%if @registration.errors[:houseNumber].any?%> validation<%end%>">
       <%= validation_for(@registration, :houseNumber) %>
       <%= f.label :houseNumber, class: 'form-label' %>
       <%= f.text_field :houseNumber, :size => 20, :maxlength => 35 %>
  </div>
  <div class="form-group<%if @registration.errors[:streetLine1].any?%> validation<%end%>">
     <%= validation_for(@registration, :streetLine1) %>
     <%= f.label :streetLine1, class: 'form-label' %>
     <%= f.text_field :streetLine1, :size => 20, :maxlength => 35 %>
  </div>
  <div class="form-group<%if @registration.errors[:streetLine2].any?%> validation<%end%>">
     <%= validation_for(@registration, :streetLine2) %>
     <%= f.label :streetLine2, :class=>"form-label offscreen" %>
     <%= f.text_field :streetLine2, :size => 20, :maxlength => 35 %>
  </div>
  <div class="form-group<%if @registration.errors[:townCity].any?%> validation<%end%>">
       <%= validation_for(@registration, :townCity) %>
       <%= f.label :townCity, class: 'form-label' %>
       <%= f.text_field :townCity, :size => 20, :maxlength => 35 %>
  </div>
  <div class="form-group<%if @registration.errors[:postcode].any?%> validation<%end%>">
       <%= validation_for(@registration, :postcode) %>
       <%= f.label :postcode, class: 'form-label' %>
       <%= f.text_field :postcode, :size => 14, :maxlength => 10 %>
   </div> 