<%= fields_for @address do |adr| %>
  <div class="form-group<%if @address.errors[:house_number].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel">
      <%= validation_for(@address, :house_number) %>
      <%= adr.label :house_number, class: 'form-label' %>
      <%= adr.text_field :house_number, class: 'form-control-1-2',  :size => 20, :maxlength => 35 %>
  </div>
  <div class="form-group<%if @address.errors[:address_line_1].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel">
      <%= validation_for(@address, :address_line_1) %>
      <%= adr.label :address_line_1, class: 'form-label' %>
      <%= adr.text_field :address_line_1, class: 'form-control-1-2', :size => 20, :maxlength => 35 %>
  </div>
  <div class="form-group<%if @address.errors[:address_line_2].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel">
      <%= validation_for(@address, :address_line_2) %>
      <%= adr.label :address_line_2, class: 'form-label offscreen' %>
      <%= adr.text_field :address_line_2, class: 'form-control-1-2', :size => 20, :maxlength => 35 %>
  </div>
  <div class="form-group<%if @address.errors[:town_city].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel">
      <%= validation_for(@address, :town_city) %>
      <%= adr.label :town_city, class: 'form-label' %>
      <%= adr.text_field :town_city, class: 'form-control-1-2', :size => 20, :maxlength => 35 %>
  </div>
  <div class="form-group<%if @registration.errors[:postcode].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel">
      <%= validation_for(@address, :postcode) %>
      <%= adr.label :postcode, class: 'form-label' %>
      <%= adr.text_field :postcode, class: 'form-control-1-2', :size => 14, :maxlength => 10 %>
  </div>
<% end %>
