<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <div class="back-section">
        <ol>
          <li></li>
        </ol>
    </div>

    <% if !cookies['_registrations_session'] %>

    <header class="page-header group">
      <div class="hgroup" data-journey="waste-carriers-registration:cannot-edit">
          <h1 class="heading-large"><%= t '.titleCookies' %></h1>
      </div>
    </header>

    <div class="grid">
      <div class="grid-2-3">


      <p>
        <%= t '.cookies1' %>
        <%= link_to t('.cookiesLink'), cookies_path %>
        <%= t '.cookies2' %>
      </p>

    <% else !new_user_session_path['_registrations_session'] %>

    <header class="page-header group">
      <div class="hgroup" data-journey="waste-carriers-registration:cannot-edit">
          <h1 class="heading-large"><%= t '.titleCannotEdit' %></h1>
      </div>
    </header>

      <p><%= link_to t('shared.current_user.sign_in'), new_user_session_path %><%= t '.instructions1' %></p>

    <% end %>

  </div>
</div>

  </main><!-- end main -->
</div><!-- end wrapper -->
