<%= render 'shared/content_for_pages' unless @pdf %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <% unless @pdf %>
      <!-- Back button section -->
      <div class="no-print back-section" style='padding: 20px; background: #eee;'>
        <p><%= t('.new_window_instructions') %></p>
        <%= link_to t('.view_pdf'), {format: :pdf}, {class: 'link-button-secondary'} %>
      </div>
    <% end %>

    <div class="grid-wrapper">
    <div class="grid-2-3">

    <!-- Header section -->
    <header class="page-header group">
      <div class="hgroup">
        <h1 class="heading-small"><%=t 'registrations.view.heading' %></h1>
      </div>
    </header>

      <table summary='Regulation Authority details' class="certificate_table" role='presentation'>
        <thead>
          <tr>
            <th><%=t 'registrations.view.authority' %></th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.name' %></td>
              <td>
                <% if @pdf %>
                  <%= wicked_pdf_image_tag("Environment_Agency_logo.png", {:alt => 'Environment Agency Logo', :border => '0', :height => '39', :width => '129'}) %>
                <% else %>
                  <%= image_tag("Environment_Agency_logo.png", {:alt => 'Environment Agency Logo', :border => '0', :height => '39', :width => '129'}) %>
                <% end %>
              </td>
          </tr>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.nccc_address_pretext' %></td>
            <td>
              <ul>
                <li><%=t 'registrations.view.nccc_address_line1' %></li>
                <li><%=t 'registrations.view.nccc_address_line2' %></li>
                <li><%=t 'registrations.view.nccc_address_line3' %></li>
                <li><%=t 'registrations.view.nccc_address_line4' %></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.telephone_number_pretext' %></td>
            <td><%=t 'registrations.view.nccc_number' %></td>
          </tr>
        </tbody>
      </table>
      </br>

      <p class="certificate_text"><%=t 'registrations.view.certify_message' %></p>

      <table summary='Registration Certificate' role='presentation'>
        <thead>
          <tr>
            <th><%=t 'registrations.view.carrier_table_heading' %></th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% if @registration.businessType == 'soleTrader' %>
            <tr>
              <td class="table-column-text"><%=t 'registrations.view.carrier_name' %></td>
              <td><%= @registration.get_tier_appropriate_key_people_array.join('<br>').html_safe %></td>
            </tr>
            <tr>
              <td class="table-column-text"><%=t 'registrations.view.business_name_if_applicable' %></td>
              <td><%= @registration.companyName%></td>
            </tr>
          <% elsif @registration.businessType == 'partnership' %>
            <tr>
              <td class="table-column-text"><%=t 'registrations.view.carrier_name' %></td>
              <td><%= @registration.companyName%></td>
            </tr>
            <% if @registration.tier == 'UPPER' %>
              <tr>
                <td class="table-column-text"><%=t 'registrations.view.partners' %></td>
                <td><%= @registration.get_tier_appropriate_key_people_array.join('<br>').html_safe %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td class="table-column-text"><%=t 'registrations.view.carrier_name' %></td>
              <td><%= @registration.companyName%></td>
            </tr>
          <% end %>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.registered' %></td>
            <td><%= @registration.tier_and_registration_type_description %></td>
          </tr>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.registration_number' %></td>
            <td><%= @registration.regIdentifier%></td>
          </tr>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.business_address' %></td>
            <td>
              <%= render 'shared/address_display.html.erb', r: @registration, a: @registration.registered_address  %>
            </td>
          </tr>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.carrier_telephone_number' %></td>
            <td><%= @registration.phoneNumber%></td>
          </tr>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.registration_date' %></td>
            <td><%= format_as_ordinal_date_only  @registration.date_registered %></td>
          </tr>
           <% if @registration.upper? %>
          <tr>
            <td class="table-column-text"><%=t 'registrations.view.expiry_date' %></td>
            <td><%= format_as_ordinal_date_only  @registration.expires_on %></td>
          </tr>
            <% end %>
        </tbody>
      </table>

       <!-- Upper Lower Tier registration details section -->

      <h2 class="certificate_title"><%=t 'registrations.view.heading2' %></h2>

        <!-- Renewal details section -->
      <div class="renewal">
        <% if @registration.upper? %>
          <p class="certificate_text"><%= t 'registration_mailer.welcome_email.upper_renewal_html', :expires_after_pluralized => pluralize(get_expires_in_as_int, t('registration_mailer.year')) %></p>
        <% else %>
          <p class="certificate_text"><%= t 'registration_mailer.welcome_email.lower_renewal_html' %></p>
        <% end %>
        <% if @registration.assisted_digital? %>
          <p class="certificate_text"><%= t 'registration_mailer.welcome_email.updatePhone' %>.</p>
        <% end %>
      </div>

    </div><!--end grid-2-3 -->
  </div><!--end grid-wrapper -->
  </main><!-- end main -->
</div><!-- end wrapper -->
