<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.2 -->
          <div id="page0"  data-journey="waste-carriers-registration:confirmed-account">

            <% content_for :page_title, createTitle('.title') %>
            
            <%= render 'shared/complete_summary', :type => @confirmationType %>

            <fieldset>
            <% if @confirmationType.eql? getCompleteClass %>
              
              <legend><%= t '.your_reg_number', :reg => @registration.regIdentifier %></legend>
              <p><%= t('.registered_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>
              <p><%= t '.details_emailed', :email => @registration.accountEmail %></p>

			  <!-- The original screens for this had direct access to the View Certificate button, but this is ony available if logged in -->
              <% if can? :print, @registration %>
                <p><%= link_to t('form.view_certificate_link_label'), print_url(@registration.uuid), :class => 'link-button-secondary' %></p>
              <% end %>
              
              <p><%= t '.details_change' %></p>

            <% elsif @confirmationType.eql? getAlmostCompleteClass %>
              
              <p><%= t('.not_yet_registered_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>

              <p><%= t '.payment_message' %></p>
              
              <p><%= t '.how_to_pay_message', :email => @registration.accountEmail %></p>

            <% elsif @confirmationType.eql? getCriminallySuspectClass %>
              
              <legend><%= t '.confirm_within_limit', :limit => Rails.configuration.registrations_service_exceed_limit %></legend>
              
              <% if @registration.declaredConvictions %>
                <p><%= t '.declared_convictions_message' %></p>
              <% else %>
                <p>2 <%= t '.pending_key_people_check_message' %></p>
              <% end %>
              
              <p><%= t '.limit_exceeded', :limit => Rails.configuration.registrations_service_exceed_limit %></p>
              <h3><%= t '.phone_number', :number => Rails.configuration.registrations_service_phone %></h3>

              <% unless @registration.paid_in_full? %>
                <p><%= t '.payment_message' %></p>
              <% end %>

            <% end %>
            </fieldset>

            <%= form_tag(new_user_session_path, method: :get) do |f| %>
              <span class="next_link">
                <input id="finished_btn" name="finished" class="button button-get-started" type="submit" value="<%= t 'form.sign_in_button_label' %>"/>
              </span>
            <% end %>
            
            <% if @confirmationType.eql? getCompleteClass and @registration.tier.downcase.eql? 'upper' %>
              <div class="inner-payment-box">
            	<div class='notice-icon'></div>
        	  </div>
        	  <p class='subtitle' id="world-pay-subtitle"><%= t '.if_upper' %></p>
        	<% end %>
        
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
