<% content_for :page_title, createTitle('.title') %>

<main id="content" role="main" class="group">
<article role="article" class="group">

<h1><%= t '.title'%></h1>

<%= form_for @registration, :method => 'delete' do |f| %>

  <p><%=t '.message_html',:companyName=>@registration.companyName, :regIdentifier=>@registration.regIdentifier %></p>
  <p class="action group">
    <%= link_to t('registrations.form.back_button_label'), :back, :class => 'button-secondary' %>
    <input id="delete" name="delete" class="button delete" type="submit" value="<%=t '.deleteLabel'%>"/>
  </p>
<% end %>

</article>
</main>
