<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.2 -->
          <div id="page0"  data-journey="waste-carriers-registration:confirmed-account">

            <% content_for :page_title, createTitle('.title') %>
            
            <%
            confirmationType = nil
            # These must match the css classes they related to
            criminally_suspect_class = 'criminallySuspect'
            almost_complete_class = 'almostComplete'
            complete_class = 'complete'
            if @registration.criminally_suspect
              confirmationType = criminally_suspect_class
            elsif !@registration.paid_in_full? and !@registration.criminally_suspect
              confirmationType = almost_complete_class
            elsif @registration.paid_in_full? and !@registration.criminally_suspect
              confirmationType = complete_class
            else
              # Error state, should not reach here
              confirmationType = 'unknown'
            end
            %>
            <%= render 'shared/complete_summary', :type => confirmationType %>

            <fieldset>
            <% if @registration.is_complete? %>
              
              <legend><%= t '.your_reg_number', :reg => @registration.regIdentifier %></legend>
              <p><%= t('.registered_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>
              <p><%= t '.details_emailed', :email => @registration.accountEmail %></p>

			  <!-- The original screens for this had direct access to the View Certificate button, but this is ony available if logged in -->
              <% if can? :print, @registration %>
                <p><%= link_to t('form.view_certificate_link_label'), print_url(@registration.uuid), :class => 'link-button-secondary' %></p>
              <% end %>
              
              <p><%= t '.details_change' %></p>

            <% elsif confirmationType.eql? almost_complete_class %>
              
              <p><%= t('.not_yet_registered_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>

              <p><%= t '.payment_message' %></p>
              
              <p><%= t '.how_to_pay_message', :email => @registration.accountEmail %></p>

            <% else %>
              criminal
              <legend><%= t '.your_reg_number', :reg => @registration.regIdentifier %></legend>
              <p><%= t('.applied_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>
              <p><%= t '.details_emailed', :email => @registration.accountEmail %></p>

              <% unless @registration.paid_in_full? %>
                <p><%= t '.payment_message' %></p>
              <% end %>

              <% if @registration.criminally_suspect %>
                <% if @registration.declaredConvictions %>
                  <p><%= t '.declared_convictions_message' %></p>
                <% else %>
                  <p><%= t '.pending_key_people_check_message' %></p>
                <% end %>
              <% end %>

            <% end %>
            </fieldset>

            <%= form_tag(new_user_session_path, method: :get) do |f| %>
              <span class="next_link">
                <input id="finished_btn" name="finished" class="button button-get-started" type="submit" value="<%= t 'form.sign_in_button_label' %>"/>
              </span>
            <% end %>
            
            <% if @registration.tier.downcase.eql? 'upper' %>
              <div class="inner-payment-box">
            	<div class='notice-icon'></div>
        	  </div>
        	  <p class='subtitle' id="world-pay-subtitle"><%= t '.if_upper' %></p>
        	<% end %>
        
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
