<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.2 -->
          <div id="page0"  data-journey="waste-carriers-registration:confirmed-account">

            <% content_for :page_title, createTitle('.title') %>
            
            <%= render 'shared/complete_summary', :type => 'criminallySuspect' if @registration.criminally_suspect %>
            <%= render 'shared/complete_summary', :type => 'almostComplete' if !@registration.paid_in_full? and !@registration.criminally_suspect %>
            <%= render 'shared/complete_summary', :type => 'complete' if @registration.paid_in_full? and !@registration.criminally_suspect %>
            
            <% if @registration.is_complete? %>
              <h1 class="subtitle"><%= t '.subtitle_complete' %></h1>
              <h2 class="registered"><%= t '.your_reg_number', :reg => @registration.regIdentifier %></h2>
              <p><%= t('.registered_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>
              <p><%= t '.details_emailed', :email => @registration.accountEmail %></p>

              <% if can? :print, @registration %>
                <p><%= link_to t('form.view_certificate_link_label'), print_url(@registration.uuid), :class => 'link-button-secondary' %></p>
              <% end %>

            <% else %>
              <h1 class="subtitle"><%= t '.subtitle_pending' %></h1>
              <h2 class="registered"><%= t '.your_reg_number', :reg => @registration.regIdentifier %></h2>
              <p><%= t('.applied_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>
              <p><%= t '.details_emailed', :email => @registration.accountEmail %></p>

              <% unless @registration.paid_in_full? %>
                <p><%= t '.payment_message' %></p>
              <% end %>

              <% if @registration.criminally_suspect %>
                <% if @registration.declaredConvictions %>
                  <p><%= t '.declared_convictions_message' %></p>
                <% else %>
                  <p><%= t '.pending_key_people_check_message' %></p>
                <% end %>
              <% end %>

            <% end %>

            <p><%= t '.details_change' %></p>

            <%= form_tag(new_user_session_path, method: :get) do |f| %>
              <span class="next_link">
                <input id="finished_btn" name="finished" class="button button-get-started" type="submit" value="<%= t 'form.sign_in_button_label' %>"/>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
