<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">

    <% content_for :page_title, createTitle('.title') %>

<h1><%= t '.title'%></h1>

<%= form_for @registration, :method => 'delete' do |f| %>

  <p><%=t '.message_html',:companyName=>@registration.companyName %></p>
  <div class="action group">
    <%= link_to t('registrations.form.back_button_label'), userRegistrations_path(current_user.id), :class => 'button-secondary' %>
    <input id="delete" name="delete" class="button delete" type="submit" value="<%=t '.deleteLabel'%>"/>
  </div>
<% end %>

</article>
</main>
