<%= render 'shared/content_for_pages' %>

<% content_for :page_title, createTitle('registrations.finish.heading') %>

<main id="content" role="main" class="group"><article role="article" class="group">

<!--<h1><%= t 'registrations.form.title' %></h1>-->
<h1 class="subtitle"><%= t '.heading' %></h1>
<h2 class="registered"><%= t '.yourRegNumber', :reg => @registration.regIdentifier %></h2>
<%# render "shared/meta_phases"%>


<% isRegisteredMessageKey = @registration.lower? ? 'registrations.print.isRegisteredAsLower' : 'registrations.print.isRegisteredAsUpper' %>
<h3 class="registered"><%= t isRegisteredMessageKey, :companyName => @registration.companyName %></h3>

<% if @payment_pending %>
  <p>Your registration is pending payment</p>
<% end %>

<!--<h2><%= t '.yourRegNumber', :reg => @registration.regIdentifier %></h2>-->

<div id="wrapper" data-journey="waste-carriers-registration:confirmed"></div>

<form action="<%=print_confirmed_url%>">
<div class="action group">
	<!--
	<input type="submit" class="button-secondary" value="<%= t 'registrations.form.print_button_label' %>"/>
	-->
	<p><%= link_to t('registrations.form.print_button_label'), print_confirmed_url, :class => 'link-button-secondary' %></p>
</div>

<p><%= t '.detailsEmailed', :email => @registration.accountEmail %></p>

<div class="finish-section js-hidden"  data-journey="waste-carriers-registration:finish">
<%# render "details" %>
</div>

<p><%= t '.detailsChange' %></p>

<div class="action group"><input name="finish" class="button" type="submit" value="<%= t 'registrations.form.finish_button_label' %>"/></div>

<!--<p><%# t '.problems_html', :email => Rails.configuration.registrations_service_email, :subject => 'Digital%20Assistance%20Request' %></p>-->

</form>

</article></main>