<main id="content" role="main" class="group">
  <article role="article" class="group">

    <%= form_for(@registration, :url => :upper_contact_detail) do |f| %>

      <% content_for :page_title, createTitle('.title') %>

      <h1 class="subtitle"><%= t '.subtitle' %></h1>

      <%= render "upper_errors" %>

      <div class"wrap">

          <fieldset>
              <legend><%= t '.contact_form_legend' %></legend>
            <div class="form-group<%if @registration.errors[:primary_first_name].any?%> validation<%end%>">
              <%= validation_for(@registration, :primary_first_name) %>
              <%= f.label :primary_first_name, class: 'form-label' %>
              <%= f.text_field :primary_first_name, :size => 20, :maxlength => 35 %>
            </p>
            <div class="form-group<%if @registration.errors[:primary_last_name].any?%> validation<%end%>">
              <%= validation_for(@registration, :primary_last_name) %>
              <%= f.label :primary_last_name, class: 'form-label' %>
              <%= f.text_field :primary_last_name, :size => 20, :maxlength => 35 %>
            </div>
            <div class="form-group<%if @registration.errors[:primary_job_title].any?%> validation<%end%>">
              <%= validation_for(@registration, :primary_job_title) %>
              <%= f.label :primary_job_title, class: 'form-label' %>
              <%= f.text_field :primary_job_title, :size => 20, :maxlength => 35 %>
            </div>
            <div class="form-group<%if @registration.errors[:primary_telephone_number].any?%> validation<%end%>">
              <%= validation_for(@registration, :primary_telephone_number) %>
              <%= f.label :primary_telephone_number, class: 'form-label' %>
              <%= f.telephone_field :primary_telephone_number, :size => 20, :maxlength => 20 %>
            </div>
            <div class="group<%if @registration.errors[:primary_email_address].any?%> validation<%end%>">
              <%= validation_for(@registration, :primary_email_address) %>
              <%= f.label :primary_email_address, class: 'form-label' %>
              <%= f.email_field :primary_email_address, :size => 20, :maxlength => 70 %>
            </div>
          </fieldset>

          <fieldset>
            <legend><%= t '.alternate_form_legend' %></legend>
            <div class="form-group<%if @registration.errors[:alt_first_name].any?%> validation<%end%>">
              <%= validation_for(@registration, :alt_first_name) %>
              <%= f.label :alt_first_name, class: 'form-label' %>
              <%= f.text_field :alt_first_name, :size => 20, :maxlength => 35 %>
            </div>
            <div class="form-group<%if @registration.errors[:alt_last_name].any?%> validation<%end%>">
              <%= validation_for(@registration, :last_name) %>
              <%= f.label :alt_last_name, class: 'form-label' %>
              <%= f.text_field :alt_last_name, :size => 20, :maxlength => 35 %>
            </div>
            <div class="form-group<%if @registration.errors[:alt_job_title].any?%> validation<%end%>">
              <%= validation_for(@registration, :alt_job_title) %>
              <%= f.label :alt_job_title, class: 'form-label' %>
              <%= f.text_field :alt_job_title, :size => 20, :maxlength => 35 %>
            </div>
            <div class="form-group<%if @registration.errors[:alt_telephone_number].any?%> validation<%end%>">
              <%= validation_for(@registration, :alt_telephone_number) %>
              <%= f.label :alt_telephone_number, class: 'form-label' %>
              <%= f.telephone_field :alt_telephone_number, :size => 20, :maxlength => 20 %>
            </div>
            <div class="form-group<%if @registration.errors[:alt_email_address].any?%> validation<%end%>">
              <%= validation_for(@registration, :alt_email_address) %>
              <%= f.label :alt_email_address, class: 'form-label' %>
              <%= f.email_field :alt_email_address, :size => 20, :maxlength => 70 %>
            </div>
          </fieldset>
      </div>

      <div class='inline'>
        <p><%= link_to t('upper_registrations.form.back_button_label'), :upper_business_address, :class => 'button-secondary' %><p?
        <input name="next" class="button" type="submit" value="<%= t 'upper_registrations.form.next_button_label' %>"/>
      </div>

    <% end %>
  </article>
</main>
