<% content_for :page_title, createTitle('.title') %>

<main id="content" role="main" class="group">
  <article role="article" class="group">

    <h1><%= t '.subtitle' %></h1>

    <p><%= t '.text1' %></p>
    <p>
      <ul>
        <li><%= t '.point1' %></li>
        <li><%= t '.point2' %></li>
        <li><%= t '.point3' %></li>
        <li><%= t '.point4' %></li>
        <li><%= t '.point5' %></li>
        <li><%= t '.point6' %></li>
        <li><%= t '.point7' %></li>
      </ul>
    </p>
    <p><%= t '.text2' %></p>

  </article>
</main>
