<main id="content" role="main" class="group"><article role="article" class="group">

<h2><%= t 'registrations.confirmation_step.dataProtection_findOutMore' %></h2>

<p><%= t 'registrations.confirmation_step.dataProtection_text2' %></p>
<p>
<ul>
<li><%= t 'registrations.confirmation_step.dataProtection_point1' %></li>
<li><%= t 'registrations.confirmation_step.dataProtection_point2' %></li>
<li><%= t 'registrations.confirmation_step.dataProtection_point3' %></li>
<li><%= t 'registrations.confirmation_step.dataProtection_point4' %></li>
<li><%= t 'registrations.confirmation_step.dataProtection_point5' %></li>
<li><%= t 'registrations.confirmation_step.dataProtection_point6' %></li>
<li><%= t 'registrations.confirmation_step.dataProtection_point7' %></li>
</ul>
</p>
<p><%= t 'registrations.confirmation_step.dataProtection_text3' %></p>

</article></main>