<% content_for :head do %><%= render "shared/head" %><% end %>
<% content_for :html_lang do %><%= render "shared/html_lang" %><% end %>
<% content_for :page_title do %><%= render "shared/page_title" %><% end %>
<% content_for :inside_header do %><%= render "shared/inside_header" %><% end %>
<% content_for :cookie_message do %><%= render "shared/cookie_message" %><% end %>
<% content_for :after_header do %><%= render "shared/after_header" %><% end %>
<% content_for :footer_top do %><%= render "shared/footer_top" %><% end %>
<% content_for :body_end do %><%= render "shared/body_end" %><% end %>

<% content_for :page_title, createTitle('.title') %>

<main id="content" role="main" class="group">
  <article role="article" class="group">

    <h1><%= t '.subtitle' %></h1>

    <p><%= t '.text1' %></p>
    <p>
      <ul>
        <li><%= t '.point1' %></li>
        <li><%= t '.point2' %></li>
        <li><%= t '.point3' %></li>
        <li><%= t '.point4' %></li>
        <li><%= t '.point5' %></li>
        <li><%= t '.point6' %></li>
        <li><%= t '.point7' %></li>
      </ul>
    </p>
    <p><%= t '.text2' %></p>

  </article>
</main>
