<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

  <div class="grid-wrapper">
  <div class="grid-2-3">

    <%= render "order/notice_or_alert" %>
    <%= render "shared/registration_errors" %>

    <header class="page-header group">
      <div class="hgroup">
          <div id='payment-copycardcomplete-page'>
            <% content_for :page_title, createTitle('.title') %>
            <% type = @confirmationType %>
            <div class="completeSummary <%= type %>">
              <h1 class="heading-large completeSummaryTitle">

                <% if type.eql? RegistrationsHelper::STATUS_COMPLETE %> 
                  <span id="ut_complete_or_lower_tier"><%= t'shared.complete_summary.endpageReceivedBank' %></span>
                <% elsif type.eql? RegistrationsHelper::STATUS_COMPLETE_LOWER %> 
                  <span id="ut_complete_or_lower_tier"><%= t'shared.complete_summary.endpageCompleteLower' %></span>
                <% elsif type.eql? RegistrationsHelper::STATUS_CRIMINALLY_SUSPECT %> 
                  <span id="ut_pending_convictions_check"><%= t'shared.complete_summary.endpageReceivedConvictions' %></span>
                <% elsif type.eql? RegistrationsHelper::STATUS_ALMOST_COMPLETE %> 
                  <span id="ut_bank_transfer"><%= t'shared.complete_summary.endpageReceivedConvictions' %></span>
                <% end %> 

              </h1>
              <div class="completeSummaryMessage">
                <h2 class="heading-small"><%= t'registrations.confirmed.summary_ref_number' if type.eql? RegistrationsHelper::STATUS_ALMOST_COMPLETE %>
                  <%= t'registrations.confirmed.summary_ref_number' if type.eql? RegistrationsHelper::STATUS_CRIMINALLY_SUSPECT %>
                </h2>
                <h3 class="heading-large"><%= @registration.regIdentifier %></h3>
              </div>
            </div>
          </div>
      </div>
    </header>

    <p><%= t'registrations.confirmed.how_to_pay_message', email: @registration.accountEmail %></p>

    <h4 class="heading-small heading-with-border">
      <%= @registration.within_ir_renewal_window? ? t('registrations.confirmed.next_step_ir') : t('registrations.confirmed.next_step') %>
    </h4>

    <p><%= t('registrations.confirmed.payment_details', charge: Money.new(@registration.order_builder.total_fee).format) %></p>
    <p><%= t'registrations.confirmed.payment_timescale' %></p>
    <p><%= t'registrations.confirmed.contact_agency_html' %></p>
    <p class="heading-with-border"><%= t'registrations.confirmed.survey_html' %><%= t'registrations.confirmed.survey_text' %></p>

    <%= form_tag(@exitRoute) do |f| %>
      <span class="continue_link">
        <input id="finished_btn" name="finished" class="button button-get-started" type="submit" value="<%= t 'form.finished_button_label' %>"/>
      </span>
    <% end %>

    </div><!-- end grid -->
  </div><!-- end grid-wrapper -->

  </main><!-- end main -->
</div><!-- end wrapper -->
