<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <div class="back-section">
        <ol>
          <li><%= render 'back_link' %></li>
        </ol>
    </div>

    <header class="page-header group">
      <div class="hgroup">
          <h1 class="heading-large"></h1>
      </div>
    </header>

    <section id='payment-copycardcomplete-page' class="text">

      <% content_for :page_title, createTitle('.title') %>

      <%= render "order/notice_or_alert" %>
      <%= render "shared/registration_errors" %>
      <%= render 'shared/complete_summary', :type => @confirmationType %>

      <fieldset>


    <!--   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
        <% title =  ''  %>
        <% subtitle =  'TBC - Edit / Renew order complete page'  %>
        <% case  @edit_mode.to_i%>
        <% when  RegistrationsController::EditMode::RENEWAL %>
            <% title =  t '.title_renew_reg'  %>
           <% subtitle =  t '.subtitle_renew_reg'  %>
        <% when  RegistrationsController::EditMode::RECREATE %>
           <% title =  t '.title_recreate_reg'  %>
           <% subtitle =  t '.subtitle_recreate_reg'  %>
        <% when  RegistrationsController::EditMode::EDIT %>
            <% title =  t '.title_edit_reg'  %>
            <% case  @edit_result.to_i %>
            <% when RegistrationsController::EditResult::UPDATE_EXISTING_REGISTRATION_NO_CHARGE  %>
             <% subtitle =  t '.subtitle_edit_reg_no_charge'  %>
            <% when RegistrationsController::EditResult::UPDATE_EXISTING_REGISTRATION_WITH_CHARGE %>
            <% subtitle =  t '.subtitle_edit_reg_with_charge'  %>
            <% when  RegistrationsController::EditResult::CREATE_NEW_REGISTRATION  %>
             <% subtitle =  t '.subtitle_edit_reg_new_reg'  %>
            <% when  RegistrationsController::EditResult::NO_CHANGES  %>
            <% end %>
        <% end %>

        <legend class="heading-large"><%= title %></legend>

        <p class='registered'><%= subtitle %></p>


    <!--   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

        <%= link_to t('.back_button'), userRegistrations_path(current_user.id), :class => 'link_to' if current_user %>

      </fieldset>
    </section>
  </main><!-- end main -->
</div><!-- end wrapper -->