<%= render 'shared/content_for_pages' %>
<div id="wrapper">
  <main id="content" role="main" class="group">
    <article role="article" class="group">
      <section>
        <% content_for :page_title, createTitle('.title') %>
        <%= form_for(@registration, :url => enterRegistration_path) do |f| %>
          
          <div id="enterRegistrationNumber" data-journey="waste-carriers-registration:enter-registration-number">
            
            <!-- Enter registration number
              Enter your registration number?
            -->
            <header class="page-header group">
              <div class="hgroup"> 
                  <h1 class="heading-large"><%= t '.subtitle' %></h1>
              </div>
            </header> 

            <fieldset>
              <legend></legend>
              <%= render "errors" %>
              <div class="form-group<%if @registration.errors[:originalRegistrationNumber].any?%> validation<%end%>">
                <%= validation_for(@registration, :originalRegistrationNumber) %>
                <%#= f.label :originalRegistrationNumber, class: 'form-label' %><%# Removed as label, is essentially the subtitle? %>
                <%= f.text_field :originalRegistrationNumber, :size => 20, :maxlength => 35 %>
              </div>
              
              <details class="text">
                <summary aria controls='details-content-0' tabindex='0'>
                  <span class='summary'><%= t '.WhatIsYourRegistrationNumber' %>?</span>
                </summary>
                <div id='details-content-0' class='panel-indent' aria-expanded='true' style='display:block'>
                  <p><%= t '.YourRegistrationNumberDetailsCanBeFound'%>...</p>
                </div>
              </details>
              
              <%= link_to t('.lookUpYourRegistrationNumber'), :new_user_session, :class => 'link_to' %>
              
            </fieldset>
            <%= link_to t('registrations.form.back_button_label'), :newOrRenew, :class => 'link_to' %>
            <%= render 'next_link' %>
          </div>

        <% end %>
      </section>
    </article>
  </main>
</div>