<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <div class="back-section">
      <ol>
        <li><%= render 'back_link' %></li>
      </ol>
    </div>

    <%= render "errors" %>
    <header class="page-header group">
      <div class="hgroup">
        <h1 class="heading-large"><%= t '.subtitle' %></h1>
      </div>
    </header>

    <% content_for :page_title, createTitle('.title') %>
    <%= form_for(@registration, :url => enterRegistration_path) do |f| %>

    <div id="enterRegistrationNumber" data-journey="waste-carriers-registration:enter-registration-number"></div>
    <fieldset>
      <legend></legend>
        <div class="form-group<%if @registration.errors[:originalRegistrationNumber].any?%> validation<%end%>">
          <ul>
            <li><%= validation_for(@registration, :originalRegistrationNumber) %></li>
            <li><%= f.label :originalRegistrationNumber, class: 'form-label' %>
              <%= f.text_field :originalRegistrationNumber, :size => 20, :maxlength => 35, :autocomplete => :off %>
            </li>
          </ul>
        </div>
    </fieldset>
    <%= render 'next_link' %>
    <% end %>

  </main><!-- end main -->
</div><!-- end wrapper -->