<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.4 -->
          <div id="page4"  data-journey="waste-carriers-registration:finish">
            <% content_for :page_title, createTitle('.title') %>

<% case  session[:edit_mode] .to_i %>
<% when RegistrationsController::EditMode::RENEWAL %>
<% when RegistrationsController::EditMode::RECREATE %>
<% when RegistrationsController::EditMode::EDIT %>
  <h1 class="subtitle"><%= t '.edit_heading' %></h1>
<% else %>  <!-- this is a new registration page -->
  <h1 class="subtitle"><%= t '.heading' %></h1>
<% end %>

<h2 class="registered"><%= t '.yourRegNumber', :reg => @registration.regIdentifier %></h2>
<%# render "shared/meta_phases"%>

<% isRegisteredMessageKey = @registration.lower? ? 'registrations.print.isRegisteredAsLower' : 'registrations.print.isRegisteredAsUpper' %>
<h3 class="registered"><%= t isRegisteredMessageKey, :companyName => @registration.companyName %></h3>


<!--<h2><%= t '.yourRegNumber', :reg => @registration.regIdentifier %></h2>-->

<form action="<%=print_url(@registration.id)%>">

<% if can? :print, @registration %>
                <p><%= link_to t('form.view_certificate_link_label'), print_url(@registration.uuid), :class => 'link-button-secondary' %></p>
<% end %>

              <h1 class="subtitle"><%= t '.subtitle_pending' %></h1>
              <h2 class="registered"><%= t '.your_reg_number', :reg => @registration.regIdentifier %></h2>
              <p><%= t('.applied_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>
              <p><%= t '.details_emailed', :email => @registration.accountEmail %></p>

              <% unless @registration.paid_in_full? %>
                <p><%= t '.payment_message' %></p>
              <% end %>

              <% if @registration.criminally_suspect %>
                <% if @registration.declaredConvictions %>
                  <p><%= t '.declared_convictions_message' %></p>
                <% else %>
                  <p><%= t '.pending_key_people_check_message' %></p>
                <% end %>
              <% end %>


            <p><%= t '.details_change' %></p>

            <%= form_tag(registrations_finish_path) do |f| %>
              <span class="next_link">
                <input id="finished_btn" name="finished" class="button button-get-started" type="submit" value="<%= t 'form.finished_button_label' %>"/>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
