<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.4 -->
          <div id="page4"  data-journey="waste-carriers-registration:finish">
            <% content_for :page_title, createTitle('.title') %>

            <% if @is_complete %>
              <h1 class="subtitle"><%= t '.subtitle_complete' %></h1>
              <h2 class="registered"><%= t '.your_reg_number', :reg => @registration.regIdentifier %></h2>
              <p><% t('.registered_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>
            <% else %>
            <% end %>


            <%= form_for(@key_person, url: {action: "updateNewKeyPerson"} ) do |f| %>
              <%= render 'key_person_form', f: f, d: @key_person, :legend => t('.legend') %>
              <span class="next_link"><%= render 'next_link' %></span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>


<form action="<%=print_url(@registration.id)%>">

<% if can? :print, @registration %>
  <div class="action group"><input type="submit" class="button-secondary" value="<%= t 'registrations.form.print_button_label' %>"/></div>
<% end %>

<p><%= t '.detailsEmailed', :email => @registration.accountEmail %></p>


<p><%= t '.detailsChange' %></p>

<div class="action group"><input name="finish" class="button" type="submit" value="<%= t 'registrations.form.finish_button_label' %>"/></div>

<!--<p><%# t '.problems_html', :email => Rails.configuration.registrations_service_email, :subject => 'Digital%20Assistance%20Request' %></p>-->

</form>

</article></main>
