<main id="content" role="main" class="group"><article role="article" class="group">

<h1>Waste Carrier Registration</h1>
<h2 class="subtitle">For a lower tier waste carrier/broker/dealer</h2>
<%= render "shared/meta_phases"%>

<h2 class="registered"><%=@registration.companyName%> has been registered with the Environment Agency</h2>

<h3>Your registration number is: <%=@registration.regIdentifier%></h3>

<p>Your registration details and guidance have been emailed to <%=@registration.accountEmail%> and can be printed for your reference.</p>

<div class="finish-section js-hidden">
<%# render "details" %>
</div>

<form action="<%=print_url(@registration.id)%>">
<p class="action group">
	<input name="finish" class="button" type="submit" value="Finish"/>
	<input type="submit" class="button-secondary" value="Print"/>
</p>

<p>If any of your details change you must update yor registration within 28 days. Instructions can be found in your email.</p>

<p>If you have any problems with this service email: <a href="#">NCCC-carrierbroker@environment-agency.gov.uk</a></p>

</form>

</article></main>