<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <div class="back-section">
        <ol>
          <li></li>
        </ol>
    </div>

    <header class="page-header group">
      <div class="hgroup">
          <h1 class="heading-large"></h1>
      </div>
    </header>

    <!-- WF 4.3.4 -->
    <div id="page4" class="text"  data-journey="waste-carriers-registration:finish">
      <% content_for :page_title, createTitle('.title') %>
      <% isComplete = (@confirmationType.eql? RegistrationsHelper::STATUS_COMPLETE) or (@confirmationType.eql? RegistrationsHelper::STATUS_ALMOST_COMPLETE) %>
      <div class="summary-box">
        <%= render 'shared/complete_summary', :type => @confirmationType %>
      </div>

      <h2 class="registered"><%= t '.your_reg_number', :reg => @registration.regIdentifier %></h2>
      <p><%= t('.applied_as', :companyName => @registration.companyName, tier_with_article: @registration.tier.downcase.with_indefinite_article) %></p>
      <% if isComplete %>
        <p><%= t '.details_emailed', :email => @registration.accountEmail %></p>
      <% end %>
      <% if can? :print, @registration and isComplete %>
        <p><%= link_to t('form.view_certificate_link_label'), print_url(@registration.uuid), :class => 'link-button-secondary' %></p>
      <% end %>

      <% unless @registration.paid_in_full? %>
        <p><%= t '.payment_message_html' %></p>
      <% end %>

      <% if @registration.is_awaiting_conviction_confirmation? %>
        <% if @registration.declaredConvictions %>
          <p><%= t '.declared_convictions_message' %></p>
        <% else %>
          <p><%= t '.pending_key_people_check_message' %></p>
        <% end %>
      <% end %>

      <p class="panel-indent"><%= t '.details_change' %></p>

      <%= form_tag(registrations_finish_path) do |f| %>
        <span class="next_link">
          <input id="finished_btn" name="finished" class="button button-get-started" type="submit" value="<%= t 'form.finished_button_label' %>"/>
        </span>
      <% end %>
    </div>

  </main><!-- end main -->
</div><!-- end wrapper -->
