<main id="content" role="main" class="group"><article role="article" class="group">

<h1><%= t 'registrations.form.title' %></h1>
<h2 class="subtitle"><%= t 'registrations.form.subtitle' %></h2>
<%= render "shared/meta_phases"%>

<h2 class="registered"><%= t '.hasBeenRegistered', :companyName => @registration.companyName %></h2>

<h2><%= t '.yourRegNumber', :reg => @registration.regIdentifier %></h2>

<form action="<%=print_url(@registration.id)%>">
<p class="action group"><input type="submit" class="button-secondary" value="<%= t 'registrations.form.print_button_label' %>"/></p>

<p><%= t '.detailsEmailed', :email => @registration.accountEmail %></p>

<div class="finish-section js-hidden"  data-journey="waste-carriers-registration:finish">
<%# render "details" %>
</div>

<p><%= t '.detailsChange' %></p>

<p class="action group"><input name="finish" class="button" type="submit" value="<%= t 'registrations.form.finish_button_label' %>"/></p>

<!--<p><%# t '.problems_html', :email => Rails.configuration.registrations_service_email, :subject => 'Digital%20Assistance%20Request' %></p>-->

</form>

</article></main>