<%= render 'shared/content_for_pages' %>
<div id="wrapper">

  <header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-xlarge"><%= t '.subtitle' %></h1>
      <% if params[:error] %>
        <div id="error_explanation" class="validation-summary">
          <h2 class="heading-medium"><%= params[:error]%></h2>
        </div>
      <% end %>
      <% if !notice.nil? %>
        <h2 class="heading-medium"><%= notice%></h2>
      <% end %>
      <% if params[:note] %>
        <h2 class="heading-medium"><%= params[:note]%></h2>
      <% end %>
    </div>
  </header>

  <main id="content" role="main" class="group">
    <div class="grid-wrapper">
      <div class="grid-wrapper">
        <div class="grid-2-3">
          <article role="article" class="group">
            <!-- WF 4.3.2 -->
            <div id="page0"  data-journey="waste-carriers-registration:agency-user-controls">
              <% content_for :page_title, createTitle('.title') %>
              <%= form_tag('/registrations', { method: :get }) do %>

                <fieldset id='find-registration'>
                  <div class="form-group">
                    <%= label_tag 'query-label', t('.query_label'), { class: 'form-label', for: 'q'} %>
                    <%= text_field_tag 'q', params[:q], { id: 'q', size: 20 } %>
                  </div>

                  <div id="advanced-options" style="<% if params[:searchWithin].nil? || params[:searchWithin] == 'any' %>display:none<% end %>">
                    <div class="form-group">
                      <%= label_tag 'search-within-label', t('.search_within_label'), { class: 'form-label', for: 'searchWithin' } %>
                      <% options = [ t('.option_any'), t('.option_company_name'), t('.option_contact_name'), t('.option_postcode') ] %>
                      <% selected = if params[:searchWithin].nil? || params[:searchWithin] == 'any' %>
                        <% t '.option_any' %>
                      <% elsif params[:searchWithin] == 'companyName' %>
                        <% t '.option_company_name' %>
                      <% elsif params[:searchWithin] == 'contactName' %>
                        <% t '.option_contact_name' %>
                      <% elsif params[:searchWithin] == 'postcode' %>
                        <% t '.option_postcode' %>
                      <% end %>
                      <%= select_tag 'searchWithin', options_for_select(options, selected) %>
                    </div>
                  </div>

                </fieldset>

                <a href="#" id="toggle-search">
                  <% if params[:searchWithin].nil? || params[:searchWithin] == 'any' %>
                    <%= t '.refine_search_link_label' %>
                  <% else %>
                    <%= t '.full_search_link_label' %>
                  <% end %>
                </a>
                <div class="next_link">
                  <%= submit_tag(t('form.search_button_label'), { id: 'reg-search', class: 'button button-get-started' })  %>
                </div>
              <% end %>

              <% if params[:q]%>
                <div id="reg-search-result" style="">
                  <h2><%= t('.results_count_message', :pluralized_registration => pluralize(@registrations.count, t('.registration'))) %></h2>
                  <p><%= t('.results_showing_message', :count => @registrations.count, :pluralized_record => pluralize(@registrations.count, t('.record'))) %>

                </div>
                <% regCount = 1 %>
                <% @registrations.each do |registration| %>
                  <div class="box <%= registration.boxClassSuffix %>">
                    <dl>
                      <dt><%= t '.company_name' %></dt>
                      <dd><%= registration.companyName %></dd>
                      <dt><%= t 'activemodel.attributes.registration.postcode' %></dt>
                      <dd><%= registration.postcode %></dd>
                    </dl>
                    <div class="detailsBoxWrapper">
                      <div class="detailsBox <%= registration.boxClassSuffix %>">
                        <div class="detailHeading">
                          <%= t '.registration_status_message', :status => registration.metaData.first.status.downcase.capitalize %>
                        </div>
                        <div class="detail">
                          <div class="data"
                            data-organisationType="<%= registration.businessType%>"
                            data-organisationName="<%=registration.companyName%>"
                            data-individualsType="<%=registration.individualsType%>"
                            data-publicBodyType="<%=registration.publicBodyType%>"
                            data-firstName="<%=registration.firstName%>"
                            data-lastName="<%=registration.lastName%>"
                            data-phoneNumber="<%=registration.phoneNumber%>"
                            data-emailAddress="<%=registration.contactEmail%>"
                            data-houseNumber="<%=registration.houseNumber%>"
                            data-postcode="<%=registration.postcode%>"
                            data-status="<%=registration.metaData.first.status%>"
                            data-regIdentifier="<%=registration.regIdentifier%>"
                            data-accessCode="<%=registration.accessCode%>">
                          </div>
                        </div>

                        <%= form_tag ncccedit_url(registration.id) do %>
                          <%= submit_tag t('form.edit_button_label'), { class: 'button' }  %>
                        <% end %>

                        <% if registration.try(:tier).try(:downcase) == "upper" %>
                          <%= form_tag paymentstatus_url(registration.uuid) do %>
                            <%= submit_tag t('form.payment_status_button_label'), { id: "paymentStatus#{regCount}",class: 'button' }  %>
                          <% end %>
                        <% end %>

                        <%# button_to "Delete", registration_path(registration.id), :method => :delete, :class => "button", :data => "{ :confirm => 'are you sure?' }"%>
                      </div>
                    </div>
                  </div>
                  <% regCount = regCount + 1 %>
                <% end %>
              <% end %>
            </div>
          </article>
        </div><!--grid-2-3 end-->
      </div><!--grid-wrapper end-->

      <div class="grid-wrapper">
        <div class="grid-1-3">
          <div class="related">
            <div class="inner group related-subsection">
              <h2 class="heading-small"><%= t '.aside_heading' %></h2>
              <nav aria-labelledby="parent-subsection" role="navigation">
                <%= render "shared/current_user" %>
              </nav>
            </div>
          </div><!--related end-->
        </div><!--grid-1-3 end-->
      </div><!--grid-wrapper end-->

    </div><!--grid-wrapper end-->
  </main><!--main end-->
</div><!--wrapper end-->
