<% content_for :page_title, createTitle('registrations.form.agency_search_label') %>

<main id="content" role="main" class="group"><article role="article" class="group">

<% if params[:error] %>
<div id="error_explanation" class="validation-summary">
  <h2><%= params[:error]%></h2>
</div>
<% end %>

<% if !notice.nil? %>
<div id="note_explanation" class="note-summary">
  <h1><%= notice%></h1>
</div>
<% end %>


<% if params[:note] %>
<div id="note_explanation" class="note-summary">
  <h1><%= params[:note]%></h1>
</div>
<% end %>


<h1><%= t 'registrations.form.agency_search_label' %></h1>

<%= render "shared/meta_phases"%>
<form method="get" action="/registrations">
<div class="box"  data-journey="waste-carriers-registration:registrations">
<p class="group">
	<label for="q">Find a registration</label>
	<input id="q" name="q" type="text" value="<%= params[:q]%>" />
</p>


<div id="advanced-options" style="<% if params[:searchWithin]=='any'||!params[:searchWithin] %>display:none<% end %>">

<p class="group">
	<label for="searchWithin">Search only within</label>
	<select id="searchWithin" name="searchWithin">
		<option value="any"<% if params[:searchWithin]=='any'||!params[:searchWithin] %>selected="selected"<%end%>>Any</option>
		<option value="companyName" <% if params[:searchWithin]=='companyName' %>selected="selected"<%end%>>Company Name</option>
		<option value="contactName" <% if params[:searchWithin]=='contactName' %>selected="selected"<%end%>>Contact Name</option>
		<option value="postcode" <% if params[:searchWithin]=='postcode' %>selected="selected"<%end%>>Postcode</option>
	</select>
</p>
</div>
<p class="action group">
<input type="submit" id="reg-search" class="button" value="Search" />
<a href="#" id="toggle-search"><% if params[:searchWithin]=='any'||!params[:searchWithin] %>Refine<% else %>Full<% end %> search</a>
</p>
</div>
</form>


<form method="get" action="<%=newBusinessType_path%>">
<div style="max-width:510px"><input name="agency" type="submit" class="button" style="float:right" value="New registration" /></div>
</form>

<% if params[:q]%>
<div id="reg-search-result" style="">
<h2>Found <%=pluralize(@registrations.count,"registration")%></h2>
<p>Showing 1-<%= @registrations.count %>  of <%=pluralize(@registrations.count,"record")%></p>

<% @registrations.each do |registration| %>
<div class="box <%= registration.boxClassSuffix %>">
	<dl>
		<dt>Name</dt>
		<dd><%= registration.companyName %></dd>

		<dt>Postcode</dt>
		<dd><%= registration.postcode %></dd>
	</dl>
	<div class="detailsBoxWrapper">
		<div class="detailsBox <%= registration.boxClassSuffix %>">
			<% if registration.metaData.status == "REVOKED" %><div class="detailHeading">Registration Status: Revoked</div><% end %>
			<% if registration.metaData.status == "PENDING" %><div class="detailHeading">Registration Status: Pending</div><% end %>
			<div class="detail">
				<div class="data" 
					data-organisationType="<%= registration.businessType%>" 
					data-organisationName="<%=registration.companyName%>" 
					data-individualsType="<%=registration.individualsType%>" 
					data-publicBodyType="<%=registration.publicBodyType%>" 
					data-title="<%=registration.title%>" 
					data-otherTitle="<%=registration.otherTitle%>" 
					data-firstName="<%=registration.firstName%>" 
					data-lastName="<%=registration.lastName%>" 
					data-phoneNumber="<%=registration.phoneNumber%>" 
					data-emailAddress="<%=registration.contactEmail%>" 
					data-houseNumber="<%=registration.houseNumber%>" 
					data-postcode="<%=registration.postcode%>" 
					data-uprn="<%=registration.uprn%>" 
					data-address="<%=registration.address%>"
					data-status="<%=registration.metaData.status%>"
					data-regIdentifier="<%=registration.regIdentifier%>"
					data-accessCode="<%=registration.accessCode%>">
				</div>
			</div>
			<form action="<%=ncccedit_url(registration.id)%>">
				<p class="action group"><input type="submit" class="button" value="Edit registration"/></p>
			</form>
			<%# button_to "Delete", registration_path(registration.id), :method => :delete, :class => "button", :data => "{ :confirm => 'are you sure?' }"%>
		</div>
	</div>
</div>
<% end %>
</div>
<% end %>


</article></main>
