<main id="content" role="main" class="group"><article role="article" class="group">


<h2>Find a registered business, organisation or trader</h2>
<div class="box">
<p class="group">
	<label for="businessName">Business, organisation or trading name</label>
	<input id="businessName" type="text" />
</p>
<div id="advanced-options" style="display:none">
<p class="group">
	<label for="organisationType">Business or organisation type</label>
	<select id="organisationType">
		<option value="">Please select...</option>
		<option value="individual">An individual</option>
		<option value="organisationOfIndividuals">An organisation of individuals (such as a charity)</option>
		<option value="limitedCompany" selected="selected">A limited company or limited liability partnership (LLP)</option>
		<option value="publicBody">A public body</option></select>
	</select>
</p>
<p class="group">
	<label for="postcode">Postcode of principal (main) place of business</label>
	<input id="postcode" type="text" />
</p>
</div>
<p class="action group">
<button id="reg-search" class="button">Search</button>
<a href="#" id="toggle-search">Advanced search</a>
</p>
</div>

<div id="reg-search-result" style="display: none">
<h2>Found <%=pluralize(@registrations.count,"registration")%></h2>
<p>Showing 1-<%= @registrations.count %>  of <%=pluralize(@registrations.count,"record")%></p>

<% @registrations.each do |registration| %>
<div class="box">
	<dl>
		<dt>Name</dt>
		<dd><%= registration.organisationName %></dd>

		<dt>Postcode</dt>
		<dd><%= registration.postcode %></dd>
	</dl>
	<div class="detail">
		<div class="data" data-registerAs="<%= registration.registerAs%>" data-organisationType="<%= registration.organisationType%>"
			data-organisationName="<%=registration.organisationName%>" data-individualsType="<%=registration.individualsType%>"
			data-companyRegistrationNumber="<%=registration.companyRegistrationNumber%>" data-publicBodyType="<%=registration.publicBodyType%>"
			data-title="<%=registration.title%>" data-firstName="<%=registration.firstName%>"
			data-lastName="<%=registration.lastName%>" data-phoneNumber="<%=registration.phoneNumber%>"
			data-emailAddress="<%=registration.emailAddress%>" data-houseNumber="<%=registration.houseNumber%>"
			data-postcode="<%=registration.postcode%>" data-uprn="<%=registration.uprn%>"
			data-address="<%=registration.address%>" >
		</div>
		<form action="<%=edit_registration_path(registration.id)%>">
			<p class="action group"><input type="submit" class="button" value="Edit Registration"/></p>
		</form>
	</div>
</div>
<% end %>
</div>

<!--
<h1>Listing registrations</h1>

<table>
  <tr>
    <th>Registeras</th>
    <th>Organisationtype</th>
    <th>Organisationname</th>
    <th>Individualstype</th>
    <th>Companyregistrationnumber</th>
    <th>Publicbodytype</th>
    <th>Title</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phonenumber</th>
    <th>Emailaddress</th>
    <th>Housenumber</th>
    <th>Postcode</th>
    <th>Uprn</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.registerAs %></td>
    <td><%= registration.organisationType %></td>
    <td><%= registration.organisationName %></td>
    <td><%= registration.individualsType %></td>
    <td><%= registration.companyRegistrationNumber %></td>
    <td><%= registration.publicBodyType %></td>
    <td><%= registration.title %></td>
    <td><%= registration.firstName %></td>
    <td><%= registration.lastName %></td>
    <td><%= registration.phoneNumber %></td>
    <td><%= registration.emailAddress %></td>
    <td><%= registration.houseNumber %></td>
    <td><%= registration.postcode %></td>
    <td><%= registration.uprn %></td>
    <td><%= registration.address %></td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
-->
<%= link_to 'New Registration', start_url%>

</article></main>
