<%= render 'shared/content_for_pages' %>

<div id="wrapper">
<main id="content" role="main" class="group">

  <header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-xlarge"><%= t '.subtitle' %></h1>
        <!-- search validation -->
        <% if params[:error] %>
          <div id="error_explanation" class="validation-summary">
            <p class="text"><%= params[:error]%></p>
          </div>
        <% end %>
        <% if !notice.nil? %>
          <p class="text"><%= notice%></p>
        <% end %>
        <!-- end search validation -->
    </div>
  </header>

  <div class="grid-wrapper-internal">

  <!-- Grid -->

  <div class="inner-block">
  <div class="grid-2-3">

    <!-- WF 4.3.2 -->
    <div id="page0"  data-journey="waste-carriers-registration:agency-user-controls">
      <% content_for :page_title, createTitle('.title') %></div>
      <%= form_tag(registrations_path, { method: :get }) do %>

    <!-- START OF SEARCH -->
    <div id='find-registration'>

    <p><%= t '.bullet-heading' %></p>
      <ul class="list-bullet">
        <li><%= t '.bullet1' %></li>
        <li><%= t '.bullet2' %></li>
        <li><%= t '.bullet3' %></li>
        <li><%= t '.bullet4' %></li>
        <li><%= t '.bullet5' %></li>
      </ul>
      <%= t('.ir_search_hint').html_safe %>

      <!-- Search for label and input box -->
      <div class="form-group panel-colour">
      <!-- <%= label_tag 'query-label', t('.query_label'), { class: 'form-label', for: 'q'} %> -->

      <%= text_field_tag 'q', params[:q], { id: 'q', class: 'form-control-3-4', size: 20, :autocomplete => :off } %>
      <!-- end search for label and input box -->

      <!-- Search button -->
      <div class="inline">
      <%= submit_tag(t('form.search_button_label'), { id: 'reg-search', class: 'button button-get-started' })  %>
      </div>
      <!-- End search button -->

      <!-- Advanced search options -->
      <div id="advanced-options" style="<% if params[:searchWithin].nil? || params[:searchWithin] == 'any' %>display:none<% end %>">

      <%= label_tag 'search-within-label', t('.search_within_label'), { class: 'form-label', for: 'searchWithin' } %>
       <% options = { "#{t('.option_any')}" => 'any', "#{t('.option_company_name')}" => 'companyName', "#{t('.option_contact_name')}" => 'contactName', "#{t('.option_postcode')}" => 'postcode' } %>

      <!-- Select drop down -->
      <div class="form-group inline">
        <% selected = if params[:searchWithin].nil? || params[:searchWithin] == 'any' %>
          <% t '.option_any' %>
        <% elsif params[:searchWithin] == 'companyName' %>
          <% t '.option_company_name' %>
        <% elsif params[:searchWithin] == 'contactName' %>
          <% t '.option_contact_name' %>
        <% elsif params[:searchWithin] == 'postcode' %>
          <% t '.option_postcode' %>
        <% end %>
        <%= select_tag 'searchWithin', options_for_select(options, selected) %>
        <!-- End select drop down -->

        <!-- Refine Search or Full Search -->
        <div class="inline">
        <p class="inline">
          <span id="full-search-label" style="display:none"><%= t '.full_search_link_label' %></span>
        </p>
        <p class="inline">
          <span id="refine-search-label" style="display:none"><%= t '.refine_search_link_label' %></span>
        </p>
        </div>
      </div>

      </div><!-- End advanced search options -->

    </div><!-- end form-group panel-colour -->
    </div><!-- end find-registration -->

    <!-- Refine link -->
    <div class="form-group">
    <a href="#" id="toggle-search">
      <% if params[:searchWithin].nil? || params[:searchWithin] == 'any' %>
        <%= t '.refine_search_link_label' %>
      <% else %>
        <%= t '.full_search_link_label' %>
      <% end %>
    </a>
    </div><!-- End refine link-->

    </div>
    </div>

    <% end %>
    <div class="inner-block">
      <div class="grid-1-3">
        <div class="related">
          <div class="inner group related-subsection">
            <h2 class="heading-small"><%= t 'registrations.form.currentUser' %></h2>
            <nav aria-labelledby="parent-subsection" role="navigation">
              <ul>
                <li><%= render "shared/current_user" %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <% if params[:q]%>

    </div><!-- End Find Reg -->

    <!-- End grid thirds -->

    <h2 class="heading-small"><%= t('.results_count_message', :pluralized_registration => pluralize(@registrations.count, t('.registration'))) %></h2>

    <% end %>
    <% regCount = 1 %>

    <% if @registrations.size > 0 %>
    <% @registrations.each do |reg| %>

    <!-- SEARCH RESULTS -->
    <!-- Grid quarters -->

    <div class="agency-edit" id="searchResult<%= regCount.to_s %>" >

    <div class="grid-1-4 registration-table">
      <div class="inner-block">
          <ul>
            <li><span><%= t '.company_name' %></span><p><%= reg.companyName %></p></li>
            <li><span><%= t 'activemodel.attributes.address.postcode' %></span><p><%= reg.registered_address.postcode %></p></li>
            <li>
              <span><%= t 'activemodel.attributes.accountEmail' %></span>
              <p>
              <% if reg.accountEmail.present? %>
                <%= reg.accountEmail %>
              <% else %>
                <%= t '.no_account_email' %>
              <% end %>
              <% if reg.account_email_has_no_matching_user? %>
                <br>
                <em><%= t '.no_matching_account' %></em>
              <% end %>
              </p>
            </li>
          </ul>
      </div>
    </div>


    <div class="grid-1-4 registration-table">
      <div class="inner-block">
          <ul>
            <li><span><%= t('.registration').humanize %></span><p><!-- Reg: <%= reg.uuid %> --><%= reg.regIdentifier %></p>
            </li>
            <li><span><%= t 'activemodel.attributes.metadata.status' %></span>
              <p style='color: <%= reg.registration_status_color %>'><%= reg.registration_status %></p></li>
          </ul>
      </div>
    </div>


    <div class="grid-1-4 registration-table">
      <div class="inner-block">
          <ul>
            <li>
              <span><%= t 'activemodel.attributes.metadata.dateRegistered' %></span>
              <% if reg.metaData.first.dateActivated %>
                <p><%= format_as_date_only reg.metaData.first.dateActivated %></p>
              <% else %>
                <p><%= t('registrations.form.not_applicable') %></p>
              <% end %>
            </li>
            <li><span><%= t 'activemodel.attributes.registration.expires_on' %></span>
            <% if reg.metaData.first.dateActivated && reg.expires_on %>
              <p><%= format_as_date_only reg.expires_on %></p>
            <% else %>
              <p><%= t('registrations.form.not_applicable') %></p>
            <% end %>
            </li>
          </ul>
      </div>
    </div>

    <div class="grid-1-4 registration-table">
      <div class="inner-block">
          <nav aria-labelledby="parent-subsection" role="navigation">
            <ul class="actions-border">
              <li><span><%= t('.actions_heading') %></span><li>
              <li><%= link_to t('form.details'), back_office_details_url(reg.regIdentifier) %></li>
              <% if reg.can_view_certificate? %><li><%= link_to t('registrations.form.view_button_label'), view_path(reg.uuid), target: '_blank' %></li><% end %>
              <% if reg.can_be_edited?(current_agency_user) %><li><%= link_to t('registrations.form.edit_button_label'), edit_path(reg.uuid, edit_process: RegistrationsController::EditMode::EDIT) %></li><% end %>
              <% if reg.can_be_deleted?(current_agency_user) %><li><%= link_to t('form.deregister_button_label'), confirmDelete_path(reg.uuid) %></li><% end %>
              <% if reg.is_revocable?(current_agency_user) %><li><%= link_to t('registrations.form.revoke_button_label'), revoke_path(reg.uuid), id: "revokeRegistration#{regCount}" %></li><% end %>
              <% if reg.is_unrevocable?(current_agency_user) %><li><%= link_to t('registrations.form.unrevoke_button_label'), unrevoke_path(reg.uuid) %></li><% end %>
              <% if reg.can_be_transferred?(current_agency_user) %>
                <li><%= link_to t('form.transfer_button_label'), link_to_transfer(reg) %></li>
              <% end %>
              <% if reg.upper? %>
                <% if reg.can_view_payment_status? %>
                  <li><%= link_to t('form.payment_status_button_label'), paymentstatus_url(reg.uuid), id: "paymentStatus#{regCount}" %></li>
                <% end %>
                <% if reg.can_renew? %>
                  <li><%= link_to t('form.renew_button_label'), reg.back_office_renewals_url %></li>
                <% end %>
                <% if reg.can_request_copy_cards?(current_agency_user) %>
                  <li><%= link_to t('form.addCopyCards_button_label'), link_to_order_copy_cards(reg) %></li>
                <% end %>
              <% end %>
            </ul>
          </nav>
      </div>
    </div>

  </div><!-- End agency-edit -->

  <!-- End grid quarters -->

  <% regCount = regCount + 1 %>
  <% end %>

  <p class="inline"><%= t('.results_showing_message', :count => @registrations.count, :pluralized_record => pluralize(@registrations.count, t('.record'))) %>
  <% end %>

  </div><!-- end grid-wrapper-internal -->

  </main><!-- end main -->
</div><!-- end wrapper -->
