<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
      <section>
        <div class="inner">
          <div class="col-1">

            <!-- WF 4.3.2 -->
            <div id="page6"  data-journey="waste-carriers-registration:business-details">
              <% content_for :page_title, createTitle('.title') %>
              <ol>
                <li class="back_link"><%= render 'back_link' %></li>
                <% if @registration.tier.eql?('UPPER') %>
                  <li class="step"><%= t '.step', :step_x => '2', :step_y => '9' %></li>
                <% else %>
                  <li class="step"><%= t '.step', :step_x => '1', :step_y => '4' %></li>
                <% end %>
              </ol>
        
              <%= render 'errors' %>
        
              <%= form_for(@registration, :url => newBusinessDetails_path) do |f| %>
        
                <%= render 'company_name', :f => f, :r => @registration %>
                <% if @registration.businessType.eql?('limitedCompany') && @registration.tier.eql?('UPPER') %>
                  <%= render 'company_details_finder', f: f, r: @registration %>
                <% end %>
                <%= render 'address_finder', :f => f, :r => @registration %>
        
                <span class="next_link"><%= render 'next_link' %></span>
              <% end %>
            </div>
          </div>
        </div>
      </section>
  </article>
</main>
