<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.2 -->
          <div id="page6"  data-journey="waste-carriers-registration:business-details">
            <% content_for :page_title, createTitle('.title') %>
         
            <%= render 'back_link' %>
            <%= render 'errors' %>

            <%= form_for(@registration, :url => newBusinessDetails_path) do |f| %>

                <% case @registration.businessType %>
                <% when 'limitedCompany' %>
                  <% legend = t '.legend_limited'  %>
                  <% name_field = t '.name_field_limited'  %>
                <% when 'publicBody' %>
                  <% legend = t '.legend_public'  %>
                  <% name_field = t '.name_field_public'  %>
                <% else %>
                  <% legend = t '.legend'  %>
                  <% name_field = t '.name_field'  %>
                <% end %>

                <fieldset>
                  <legend><%= legend %></legend>
                <% if @registration.businessType.eql?('limitedCompany') && @registration.tier.eql?('UPPER') %>
                    <%= render 'company_details_finder', f: f, r: @registration %>
                <% end %>
              <%= render 'company_name', :f => f, :r => @registration, n: name_field %>
              <%= render 'address_finder', :f => f, :r => @registration %>
                </fieldset>
              <span class="next_link"><%= render 'next_link' %></span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
