<%= render 'shared/content_for_pages' %>
<div id="wrapper">

<div class="back-section">
  <ol>
    <li><%= render 'back_link' %></li>
  </ol>
</div>

<header class="page-header group">
    <div class="hgroup"> 
        <h1 class="heading-large"><%= t '.subtitle' %></h1>
    </div>
</header> 

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <div class="grid-wrapper">

    <section class="summary-page">
      <div class="grid-2-3" id='confirmation-col-1'>
        <!-- WF 4.3.3 -->
        <div id="page9"  data-journey="waste-carriers-registration:confirmation">

          <% content_for :page_title, createTitle('.title') %>
          <%= render 'errors' %>
          <%= form_for(@registration, :url => newConfirmation_path) do |f| %>

            <!-- Smart answers section -->
            <div class='form-group'>
              <h2 class="heading-medium"><%= t '.smart_answers_heading' %></h2>
              <div class='summary-box'>
                <span class='list-bullets'><%= render 'smartanswers_display', r: @registration %></span>
              </div>
              <p><%= link_to t('.edit_smart_answers_link'), find_path %></p>
            </div>

            <!-- Business details section -->
            <div class='form-group'>
              <% case @registration.businessType %>
              <% when 'limitedCompany' %>
                <h2 class='heading-medium'><%= t '.business_details_limited_heading' %></h2>
              <% when 'publicBody' %>
                <h2 class='heading-medium'><%= t '.business_details_public_heading' %></h2>
              <% else %>
                <h2 class='heading-medium'><%= t '.business_details_heading' %></h2>
              <% end %>
              <div class='summary-box'>
                <span class='summary-items'><%= render 'address_display', r: @registration %></span>
              </div>
              <p><%= link_to t('.edit_business_details_link'), newBusinessDetails_path %></p>
            </div>

            <!-- Contact details section -->
            <div class='form-group'>
              <h2 class='heading-medium'><%= t '.contact_details_heading' %></h2>
              <div class='summary-box'>
                <span class='summary-items'><%= render 'contactdetails_display', r: @registration %></span>
              </div>
              <p><%= link_to t('.edit_contact_details_link'), newContact_path %></p>
            </div>

            <!-- Key people section -->
            <% unless @registration.tier.eql?('LOWER') %>
            <div class='form-group'>
              <% case @registration.businessType %>
              <% when 'limitedCompany' %>
                <h2 class='heading-medium'><%= t '.key_person_limited_heading' %></h2>
              <% when 'partnership' %>
                <h2 class='heading-medium'><%= t '.key_person_partnership_heading' %></h2>
              <% when 'publicBody' %>
                <h2 class='heading-medium'><%= t '.key_person_public_heading' %></h2>
              <% else %>
                <h2 class='heading-medium'><%= t '.key_person_heading' %></h2>
              <% end %>
              <div class='summary-box'>
                <span class='summary-items'><%= render '/key_people/key_people_display' %></span>
              </div>
              <p><%= link_to t('.edit_key_person_link'), registration_key_people_path %></p>
            </div>
            <% end %>

            <!-- Convictions section -->
            <% unless @registration.tier.eql?('LOWER') %>
            <div class='form-group'>
              <h2 class='heading-medium'><%= t '.convictions_declaration_heading' %></h2>
              <div class='summary-box'>
                <span class='summary-items'>
                  <% if @registration.declaredConvictions == 'yes' %>
                    <p><%= t '.have_declared_convictions' %></p>
                  <% else %>
                    <p><%= t '.have_not_declared_convictions' %></p>
                  <% end %>
                </span>
              </div>
              <p><%= link_to t('.edit_convictions_declaration_link'), newRelevantConvictions_path %></p>
            </div>
            <% end %>

            <!-- Declaration section -->
            <div class='form-group' id='declaration-summary'>
              <h3 class='heading-large'><%= t '.declaration_legend' %></h3>
              <div class="panel-indent<%if @registration.errors[:declaration].any?%> validation<%end%>">
                <%= validation_for(@registration, :declaration) %>
                <ol>
                  <li>
                    <label>
                      <p><%= f.check_box :declaration%> <%= t '.check_box_label' %></p>
                    </label>
                  </li>
                  <li>
                    <p><%= t '.declaration_text1' %></p>
                  </li>
                  <li>
                    <p class='declaration-text'><%= t '.declaration_text2' %></p>
                    <p class="notice-icon"></p>
                  </li>
                </ol>
              </div>
            </div><!-- end form-group -->

            <!-- Privacy notice -->
            <div>
              <ol>
                <li>
                  <p class='privacy-data'><%= t '.data_protection_text1' %> <%= link_to t('.privacy_policy_link'), Rails.configuration.waste_exemplar_eaPrivacyCookies_url, :target => "_blank" %> <%= t '.data_protection_text2' %>
                  </p>
                </li>
              </ol>

              <input name="confirm" class="button" type="submit" value="<%= t 'form.confirm_button_label' %>"/>
            </div>
          <% end %>
        </div>
      </div>
    </section>

    <div class="grid-wrapper">
      <div class="grid-1-3">
        <div class="related">
          <div class="inner group related-subsection">
            <h2 class="heading-small"><%= t '.tier_aside_heading' %></h2>
            <!-- Dynamic context section -->
            <div class='form-group'>
              <% if (!session[:edit_mode] && @registration.tier != 'UPPER') || \
                ( session[:edit_mode].to_i == RegistrationsController::EditMode::EDIT ) %>

                <% message = "#{t('.tier_result_message', tier_with_article: @registration.tier.downcase.with_indefinite_article)}" %>
              <% elsif  !session[:edit_mode] && @registration.tier == 'UPPER' %>
                <% message = "#{t('.tier_result_message', tier_with_article: @registration.tier.downcase.with_indefinite_article)} #{t('.payment_message')}" %>
              <% end %>
              <div>
                <%= message %>
              </div>
            </div>
          </div><!--inner group related end-->
        </div><!--related end-->
      </div><!--grid-1-3 end-->
    </div><!--grid-wrapper end-->
       

    </div><!--wrapper end-->
  </article>
</main>
</div><!--wrapper end-->
