<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">
          <!-- WF 4.3.3 -->
          <div id="page9"  data-journey="waste-carriers-registration:confirmation">
            <% content_for :page_title, createTitle('.title') %>
            <ol>
              <li class="back_link"><%= render 'back_link' %></li>
              <%= render 'step', r: @registration, upper_step: '6', lower_step: '3' %>
            </ol>
            <%= render 'errors' %>
            <h2><%= t '.subtitle' %></h2>
            <%= form_for(@registration, :url => newConfirmation_path) do |f| %>

              <%= render 'confirmation_context_panel', f: f, r: @registration %>

              <div class='form-group'>
                <h2><%= t '.smart_answers_heading' %></h2>
                <ul class='summary-box'>
                  <li class='list-bullets'><%= render 'smartanswers_display', r: @registration %></li>
                </ul>
                <p><%= link_to t('.edit_smart_answers_link'), find_path %></p>
              </div>

              <div class='form-group'>
                <% case @registration.businessType %>
                  <% when 'limitedCompany' %>
                    <h2><%= t 'business_details_limited_heading' %></h2>
                  <% when 'publicBody' %>
                    <h2><%= t 'business_details_public_heading' %></h2>
                  <% else %>
                    <h2><%= t 'business_details_heading' %></h2>
                <% end %>
                <ul class='summary-box'>
                  <li class='summary-items'><%= render 'address_display', r: @registration %></li>
                </ul>
                <p><%= link_to t('.edit_business_details_link'), newBusinessDetails_path %></p>
              </div>

              <div class='form-group'>
                <h2><%= t '.contact_details_heading' %></h2>
                <ul class='summary-box'>
                  <li class='summary-items'><%= render 'contactdetails_display', r: @registration %></li>
                </ul>
                <p><%= link_to t('.edit_contact_details_link'), newContact_path %></p>
              </div>

          		<%= render 'confirmation_declaration', f: f, r: @registration %>
              <p><%= t '.data_protection_text1' %> <%= link_to t('.privacy_policy_link'), Rails.configuration.waste_exemplar_eaPrivacyCookies_url, :target => "_blank" %> <%= t '.data_protection_text2' %>
              </p>

              <input name="confirm" class="button" type="submit" value="<%= t 'form.confirm_button_label' %>"/>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
