<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">

    <% content_for :page_title, createTitle('registrations.otherBusinesses_step.title') %>
    <%= form_for(@registration, :url => newOtherBusinesses_path) do |f| %>

      <div class="step"><%= t 'registrations.otherBusinesses_step.step' %></div>
      <h1 class="subtitle"><%= t 'registrations.otherBusinesses_step.subtitle' %></h1>

      <%= render "otherbusinesses_step", :f => f %>

    <% end %>

  </article>
</main>
