<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section class='bank_section'>
      <div class="inner">
      <div class="col-1" id="col-1-bank-transfer">
      
        <%= render 'back_link' %>

<div id='bank_transfer_table'>
  <h1 class='table_header'><%= t '.heading' %></h1>
    <h3><%= t '.bank_transfer_instructions' %></h3>
    <br/>
      <table summary='Bank transfer details' role='presentation'>
        <thead>
          <tr>
            <th class="subtitle"><h3><strong>Step one</strong></h3></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class='table-column-text'><%= t '.reference' %></td>
            <td class='table-column-data'><%= @registration.regIdentifier %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.payment_due' %></td>
            <td class='table-column-data'><%= pence_to_currency @order.totalAmount %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.account_name' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_account_name %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.bank_name' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_name %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.bank_address' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_address %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.sort_code' %></td>
            <td class='table-column-data'><%= Rails.configuration.bank_transfer_sort_code %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.account_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.bank_transfer_account_number %></td>
          </tr>
        </tbody>
      </table>
</div>

<div id="electronic-payment-icon"></div>
<p id="iban"><strong><%= t '.iban_instructions' %></strong></p>

<div id='bank_transfer_table'>
      <table summary='Bank transfer details' role='presentation'>
        <thead>
        </thead>

        <tbody>
          <tr>
            <td class='table-column-text'><%= t '.iban_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.iban_number %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.swiftbic_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.swiftbic_number %></td>
          </tr>
        </tbody>
      </table>
</div>

<br/>
<br/>
<br/>

<div class="subtitle"><h3><strong>Step two</strong></h3></div>
<div><h3><%= t '.bank_transfer_contact_instructions' %></h3></div>

<div id='bank_transfer_table'>
      <table summary='Bank transfer details' role='presentation'>
        <thead>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.email_preamble' %></td>
            <td class='table-column-data'><%= mail_to Rails.configuration.income_email_address %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.fax_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.income_fax_number %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.postal_address' %></td>
            <td id='table-column-data-address'><%= Rails.configuration.income_postal_address %></td>
          </tr>
        </tbody>
      </table>
</div>
<br/>



    <%= form_for(@registration, :url => newOfflinePayment_path, :method => :post) do |f| %>
      <%= render 'next_link' %>
    <% end %>


    </div>
  </div>
</section>
  </article>
</main>
