<%= render 'shared/content_for_pages' %>

<div id="wrapper">

<main id="content" role="main" class="group">

<div class="back-section">
  <ol>
    <li><%= render 'back_link' %></li>
  </ol>
</div>

  <header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-xlarge"><%= t '.heading' %></h1>
      <h2 class="heading-medium"><%= t '.bank_transfer_instructions' %></h2>
      <ul>
        <li><%= t '.bank_transfer_instructions1' %></li>
        <li><%= t '.bank_transfer_instructions2' %></li>
      </ul>
    </div>
  </header>

  <div class="grid">
    <div class="grid-2-3">
      <div id="payment-table-wrapper">
      <table summary='Bank transfer details' role='presentation'>
        <thead><strong><%= t '.table_heading1' %></strong><%= t '.table_heading2' %></thead>
        <tbody>
          <tr>
            <td class='table-column-text'><%= t '.reference' %></td>
            <td class='table-column-data'><%= @registration.regIdentifier %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.payment_due' %></td>
            <td class='table-column-data'><%= pence_to_currency(@order.totalAmount.to_i + @registration.previous_outstanding_balance(@order.totalAmount)) %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.account_name' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_account_name %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.bank_name' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_name %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.bank_address' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_address %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.sort_code' %></td>
            <td class='table-column-data'><%= Rails.configuration.bank_transfer_sort_code %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.account_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.bank_transfer_account_number %></td>
          </tr>
        </tbody>
      </table>

      <br/>

      <table summary='Bank transfer details' role='presentation'>
        <thead><p><%= t '.iban_instructions' %></p></thead>
        <tbody>
          <tr>
            <td class='table-column-text'><%= t '.iban_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.iban_number %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.swiftbic_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.swiftbic_number %></td>
          </tr>
        </tbody>
      </table>

      <p class="panel-indent"><strong><%= t '.sterling_instruction' %></strong></p>

      <br/>
      <br/>

      <table summary='Bank transfer details' role='presentation'>
        <thead><strong><%= t '.table_heading3' %></strong><%= t '.table_heading4' %></thead>
        <tbody>
          <tr>
            <td class='table-column-text'><%= t '.email_preamble' %></td>
            <td class='table-column-data'><%= mail_to Rails.configuration.income_email_address %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.fax_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.income_fax_number %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.postal_address' %></td>
            <td id='table-column-data-address'><%= Rails.configuration.income_postal_address %></td>
          </tr>
        </tbody>
      </table>

    <p class="panel-indent"><strong><%= t '.payment_notice' %></strong></p>

    <%= form_for(@registration, :url => newOfflinePayment_path, :method => :post, html: {autocomplete: 'off'}) do |f| %>

    <%= render 'shared/registration_continue_link' %> 

      <% end %>
    </div><!-- end payment-table-wrapper -->
    </div><!-- end grid -->
  </div><!-- end grid -->

</main><!--content end-->
</div><!--wrapper end-->
