<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
  	<section>
      	<div class="inner">
      		<div class="col-1">
    			<% content_for :page_title, createTitle('registrations.onlydealwith_step.title') %>
    			<%= form_for(@registration, :url => newOnlyDealWith_path) do |f| %>
    			<ol>
     				<li class="back_link"><%= render 'back_link' %></li>	
      				<li class="step"><%= t 'registrations.onlydealwith_step.step' %></li>
      			</ol>
      			<%= render "onlydealwith_step", :f => f %>
    		<% end %>
       		</div>
  		</div>
	</section>
 </article>
</main>
