<%= render 'shared/content_for_pages' %>
<div id="wrapper">
<div class="back-section">
  <ol>
    <li><%= render 'back_link' %></li>
  </ol>
</div>

<header class="page-header group">
  <div class="hgroup"> 
    <h1 class="heading-xlarge"><%= t '.heading' %></h1>
    <h2 class="heading-medium"><%= t '.bank_transfer_instructions' %></h2>
    <h3 class="heading-medium"><strong>Step 1</strong></h3>
  </div>
</header> 

<main id="content" role="main" class="group">
  <article role="article" class="group">
      <div id="payment-table-wrapper">
      <table summary='Bank transfer details' role='presentation'>
        <thead></thead>
        <tbody>
          <tr>
            <td class='table-column-text'><%= t '.reference' %></td>
            <td class='table-column-data'><%= @registration.regIdentifier %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.payment_due' %></td>
            <td class='table-column-data'><%= pence_to_currency @order.totalAmount %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.account_name' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_account_name %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.bank_name' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_name %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.bank_address' %></td>
            <td class='table-column-data'><%= Rails.configuration.environment_agency_bank_address %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.sort_code' %></td>
            <td class='table-column-data'><%= Rails.configuration.bank_transfer_sort_code %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.account_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.bank_transfer_account_number %></td>
          </tr>
        </tbody>
      </table>

  </br>
  </br>

      <p class="iban-instructions"><%= t '.iban_instructions' %></p>
      <div class="notice-icon"></div>

      <table summary='Bank transfer details' role='presentation'>
        <thead></thead>
        <tbody>
          <tr>
            <td class='table-column-text'><%= t '.iban_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.iban_number %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.swiftbic_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.swiftbic_number %></td>
          </tr>
        </tbody>
      </table>

  </br>
  </br>

      <h3 class="heading-medium"><strong>Step 2</strong></h3>
      <p><%= t '.bank_transfer_contact_instructions' %></p>

      <table summary='Bank transfer details' role='presentation'>
        <thead></thead>
        <tbody>
          <tr>
            <td class='table-column-text'><%= t '.email_preamble' %></td>
            <td class='table-column-data'><%= mail_to Rails.configuration.income_email_address %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.fax_number' %></td>
            <td class='table-column-data'><%= Rails.configuration.income_fax_number %></td>
          </tr>
          <tr>
            <td class='table-column-text'><%= t '.postal_address' %></td>
            <td id='table-column-data-address'><%= Rails.configuration.income_postal_address %></td>
          </tr>
        </tbody>
      </table>

    <%= form_for(@registration, :url => newOfflinePayment_path, :method => :post) do |f| %>
    <ol>
      <li><%= render 'next_link' %></li>
    <ol>
    <% end %>
    
  </div><!--payment-table-wrapper-->
</article>
</main>
</div><!--wrapper end-->
