<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">

    <h2><%= t '.heading' %></h2>

    <p><%= t '.amount' %></p>

    <ul>
      <li><%= t '.sort_code' %></li>
      <li><%= t '.account_number' %></li>
    </ul>

    <%= render 'wizard_links' %>
  </article>
</main>
