<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">
    
    <%= form_for(@registration, :url => :upper_payment) do |f| %>
    <% content_for :page_title, createTitle('.title') %>

    <p class='back_link'><%= render 'back_link' %></div>
    <div class="step">Step 7 of 8</div>
    <%= render "errors" %>

    <fieldset>
      <legend><%= t '.subtitle' %></legend>

      <div class='payment-box'>
        <div class="inner-payment-box">
          <div class='inner'>
            <div class='inline'>
              <%= f.label :registration_fee, class: 'form-label' %>
              <%= f.text_field :registration_fee, :size =>5, :autocomplete => :off, :maxlength => 4, :disabled=>true %>
            </div>
            <p class='subtitle'>Cost of Waste Carrier registration</p>
         </div>
        </div>

        <div class="inner-payment-box">
          <div class='inner'>
            <%= validation_for(@registration, :copy_cards) %>
              <div class='inline'>
                <%= f.label :copy_cards, class: 'form-label' %>
                <%= f.text_field :copy_card_fee, :size =>5, :maxlength => 4, :disabled=>true %>
                <%= f.number_field :copy_cards, :min => 0, :max => 3 %>
              </div>
            <p class='subtitle'><%= t '.copy_card_info' %></p>
          </div>
        </div>

        <div class="inner-payment-box-total">
          <div class="inner">
            <div class='inline'>
              <%= f.label :total_fee, class: 'form-label' %>
              <%= f.text_field :total_fee, :size =>5, :autocomplete => :off, :maxlength => 4, :disabled=>true %>
            </div>
          </div> 
        </div>
       
        <div class="inner-payment-box-buttons">
          <div class="inner">
            <div class='payment-buttons'>
              <input name="next" class="button" type="submit" value="<%= t 'registrations.form.pay_by_worldpay_button_label' %>"/>
                  <span>or</span>
                <%= link_to t('registrations.form.pay_offline_button_label'), newOfflinePayment_path, class: 'button-secondary' %>
            </div>
          </div>
        </div>
      </div>

    </fieldset>
      
    <% end %>
  </article>
</main>
