<main id="content" role="main" class="group">
  <article role="article" class="group">

    <%= form_for(@registration, :url => :upper_payment) do |f| %>

      <% content_for :page_title, createTitle('.title') %>

      <div class="step">Step 7 of 8</div>
      <h1 class="subtitle"><%= t '.subtitle' %></h1>

      <%= render "errors" %>

      <fieldset>
        <div>&nbsp;</div>
        <div class="boxed">
        <p class="group">
          <div class="label_clone left"><%= t '.new_reg_label' %>
            <div class="boxed_pay_small right"> <%= f.text_field :registration_fee, :size =>5, :maxlength => 4, disabled: 'disabled' %>
            </div>
        </p>
          </div>
        </div>
        <div>&nbsp;</div>
        <div class="boxed">
          <p class="group">
            <%= validation_for(@registration, :copy_cards) %>
            <div class="label_clone left"><%= f.label t '.copy_card_label' %>
            <div class="left"><%= f.number_field :copy_cards, :min => 0, :max => 3 %>
            <div class="boxed_pay_small right"> <%= f.text_field :copy_card_fee, :size =>5, :maxlength => 4, disabled: 'disabled' %> </div>
            </div>
          </p>
        </div>
        </div>
        <p> <%= t '.copy_card_info' %> </p>
        <div class="boxed">
        <p class="group">
          <div class="label_clone_big left"><%= t '.total_label' %>
           <div class="boxed_pay_small right">

           <%= f.text_field :total_fee, :size =>5, :maxlength => 4, disabled: 'disabled' %> </div>
         </p>
         </div>
        </div>

      </fieldset>

      <p>
        <%= link_to t('upper_registrations.form.back_button_label'), :upper_contact_details, :class => 'button-secondary' %>
        <input name="next" class="button" type="submit" value="<%= t 'upper_registrations.form.next_button_label' %>"/>
      </p>

    <% end %>
  </article>
</main>
