<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

  <div class="back-section">
    <ol>
      <li><%= render 'back_link' %></li>
    </ol>
  </div>

  <%= render 'errors' %>
  <header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-xlarge" id="groupLabel"><%= t '.legend' %></h1>
      <h2 class="panel-medium"><%= t '.subtitle' %></h2>
      <p class="panel-indent"><%= t '.text1' %></p>
    </div>
  </header>

  <div class="inline">
    <ul>
      <li><a href="/your-registration/signin"><%= t '.sign_in_link'%></a></li>
    <ul>
  </div>

	<!-- WF 4.3.4 -->
	<div id="page4"  data-journey="waste-carriers-registration:signup">
    <% content_for :page_title, createTitle('.title') %></div>
		<%= form_for(@registration, :url => newSignup_path, html: {autocomplete: 'off'}) do |f| %>
        <div class="form-group <%if @registration.errors[:accountEmail].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel" id="registration_accountEmail">
            <%= validation_for(@registration, :accountEmail) %>
            <%= f.label :accountEmail, class: 'form-label' %>
            <%= f.email_field :accountEmail, :autofocus => true %>
        </div>
        <div class="form-group <%if @registration.errors[:accountEmail_confirmation].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel" id="registration_accountEmail_confirmation">
            <%= validation_for(@registration, :accountEmail_confirmation) %>
            <%= f.label :accountEmail_confirmation, class: 'form-label' %>
            <%= f.email_field :accountEmail_confirmation %>
        </div>
        <div class="form-group <%if @registration.errors[:password].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel" id="registration_password">
            <%= validation_for(@registration, :password) %>
            <%= f.label :password, t('.createPassword'), class: 'form-label' %>
            <%= f.password_field :password %>
            <!-- Restored the original strength line for debugging purposes -->
            <!-- The script currently assumes it should changes all siblings of registration_password to use its class. Which it was at the time.-->
            <!--<span class="strength_icon none">&#9650;<span class="strength_message"></span></span>-->
            <p class='form-hint text'><%= t '.password_hint' %></p>
        </div>

        <div class="form-group <%if @registration.errors[:password_confirmation].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel" id="registration_password_confirmation">
          <%= validation_for(@registration, :password_confirmation) %>
          <%= f.label :password_confirmation, class: 'form-label' %>
          <%= f.password_field :password_confirmation %>
        </div>

		 <%= render 'next_link' %>

 	<% end %>

  </main><!--content end-->
</div><!--wrapper end-->

