<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
	<article role="article" class="group">
	  <section>
      <div class="inner">
        <div class="col-1">

        	<!-- WF 4.3.4 -->
					<div id="page4"  data-journey="waste-carriers-registration:signup">
            <% content_for :page_title, createTitle('.title') %>
         
             <%= render 'back_link' %>
              <%= render 'step', r: @registration, upper_step: '7', lower_step: '4' %>
  

            <%= render 'errors' %>

						<%= form_for(@registration, :url => newSignup_path) do |f| %>

							<% if user_signed_in? || agency_user_signed_in? %>
								<p><%= t '.signedInAsText' %> <strong><% if user_signed_in? %><%= current_user.email %><% elsif agency_user_signed_in? %><%= current_agency_user.email %><% end %></strong></p>
    						<p><%= t '.notYouText_html' %></p>
    						<%= f.select(:sign_up_mode, options_for_select([["Signed In",""]],f.object.sign_up_mode), {}, { :class => 'js-hidden' }) %>
    					<% else %>
    						<% if @registration.sign_up_mode == "sign_in" %>
							    <h2 id="accountExists" class="form-group"><%= t '.accountExists' %></h2>
							  <% end %>
							  <% if @registration.sign_up_mode == "sign_up" %>
							    <h2 id="emailSignUpText"><%= t '.emailUsernameText' %></h2>
							  <% end %>
								<%= render "signup_step", :f => f, :r => @registration %>
							<% end %>
							<span class="next_link"><%= render 'next_link' %></span>
				   	<% end %>
			   	</div>
			  </div>
			</div>
		</section>
	</article>
</main>