<%= render 'shared/content_for_pages' %>
<div id="wrapper">

<div class="back-section">
  <ol>
    <li><%= render 'back_link' %></li>
  </ol>
</div>

<header class="page-header group">
    <div class="hgroup"> 
        <h1 class="heading-medium"><%= t '.legend' %></h1>
    </div>
</header> 

<main id="content" role="main" class="group">
	<article role="article" class="group">
	  <section>
        	<!-- WF 4.3.4 -->
					<div id="page4"  data-journey="waste-carriers-registration:signup">
            <% content_for :page_title, createTitle('.title') %>
						<%= form_for(@registration, :url => newSignup_path) do |f| %>
              <fieldset>
                <legend></legend>
                <%= render 'errors' %>
                <div class="form-group <%if @registration.errors[:accountEmail].any?%> validation<%end%>">
                  <%= validation_for(@registration, :accountEmail) %>
                  <%= f.label :accountEmail, class: 'form-label' %>
                  <%= f.email_field :accountEmail, :autofocus => true %>
                </div>
                <div class="form-group <%if @registration.errors[:accountEmail_confirmation].any?%> validation<%end%>">
                  <%= validation_for(@registration, :accountEmail_confirmation) %>
                  <%= f.label :accountEmail_confirmation, class: 'form-label' %>
                  <%= f.email_field :accountEmail_confirmation %>
                </div>
                <div class="form-group <%if @registration.errors[:password].any?%> validation<%end%>">
                  <%= validation_for(@registration, :password) %>
                  <%= f.label :password, t('.createPassword'), class: 'form-label' %>
                  <%= f.password_field :password %>
                  <div class="text"><p class='form-hint'>Password must be at least 8 characters long using upper and lower case letters.</p></div>
                </div>
                <div class="form-group <%if @registration.errors[:password_confirmation].any?%> validation<%end%>">
                  <%= validation_for(@registration, :password_confirmation) %>
                  <%= f.label :password_confirmation, class: 'form-label' %>
                  <%= f.password_field :password_confirmation %>
                </div>
              </fieldset>

              <ol>
                <li><a href="/your-registration/signin"><%= t '.sign_in_link'%></a></li>
              </ol>

							<span class="next_link"><%= render 'next_link' %></span>
				   	<% end %>
			   	</div>

		</section>
	</article>
</main>
</div>
