<main id="content" role="main" class="group">
  <article role="article" class="group">

    <%= form_for(@registration, :url => :upper_summary) do |f| %>

      <% content_for :page_title, createTitle('.title') %>

      <div class="step">Step 8 of 8</div>
      <h1 class="subtitle"><%= t '.subtitle' %></h1>
       <%= render "confirmation_step", f: f, registration_class: 'upper_tier'  %>
       <hr>
       <p>
      <%= render 'payment_summary', f: f, fee: @registration.total_fee %>
      <%= link_to t('form.edit_these_details'), upper_payment_path %>
      </p>
      <%= render 'declaration_and_data_protection', f: f %>

    <% end %>
  </article>
</main>
