<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">
  	 <section>
      <div class="inner">
      	 <div class="col-1">

    	<%= form_for(@registration, :url => :upper_summary) do |f| %>

      	<% content_for :page_title, createTitle('.title') %>

      	<ol>
	  		<li class="back_link"><%= render 'back_link' %></li>
      		<li class="step">Step 6 of 9</li>
      	</ol>
       	<%= render "confirmation_step", f: f, registration_class: 'upper_tier'  %>
      	<%= render 'declaration_and_data_protection', f: f %>

    	<% end %>

       </div>
	  </div>
	</section>
  </article>
</main>
