<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">
    <%= render "errors" %>
    <% content_for :page_title, createTitle('.title') %>
    <%= form_for(@registration, :url => newUpperBusinessDetails_path) do |f| %>
    <div class="step"><%= t 'registrations.contactdetails_step.step' %></div>


    <% case  @registration.businessType %>
    <% when 'soleTrader', 'partnership' %>
      <%= render 'company_name', f: f %>
      <%= render "address_finder", f: f  %>
    <% when 'limitedCompany' %>
      <h1 class="subtitle"><%= t 'registrations.contactdetails_step.subtitle_upper', business_caption: 'business' %></h1>
      <fieldset>
        <legend></legend>
          <div class="form-group<%if @registration.errors[:companyName].any?%> validation<%end%>">
            <%= validation_for(@registration, :companyName) %>
            <%= f.label :companyName, class: 'form-label' %>
            <%= f.text_field :companyName, :size => 20, :maxlength => 35 %>
          </div>
      </fieldset>
        <%= render 'company_details_finder', f: f %>
         <div class="form-group<%if @registration.errors[:streetLine1].any?%> validation<%end%>">
            <%= validation_for(@registration, :streetLine1) %>
            <%= f.label :streetLine1, class: 'form-label' %>
            <%= f.text_field :streetLine1, :size => 20, :maxlength => 35 %>
        </div>
        <div class="form-group<%if @registration.errors[:streetLine2].any?%> validation<%end%>">
            <%= validation_for(@registration, :streetLine2) %>
            <%= f.label :streetLine2, :class=>"form-label offscreen" %>
            <%= f.text_field :streetLine2, :size => 20, :maxlength => 35 %>
        </div>
        <div class="form-group<%if @registration.errors[:townCity].any?%> validation<%end%>">
            <%= validation_for(@registration, :townCity) %>
            <%= f.label :townCity, class: 'form-label' %>
            <%= f.text_field :townCity, :size => 20, :maxlength => 35 %>
        </div>
        <div class="form-group<%if @registration.errors[:postcode].any?%> validation<%end%>">
            <%= validation_for(@registration, :postcode) %>
            <%= f.label :postcode, class: 'form-label' %>
            <%= f.text_field :postcode, :size => 14, :maxlength => 10 %>
        </div>
    <% when 'publicBody' %>
      <%= render 'company_name', f: f %>
      <h1 class="subtitle"><%= t 'registrations.contactdetails_step.subtitle_upper', business_caption: 'organisation' %></h1>
      <%= render "address_finder", f: f %>
    <% end %>

  <%= render "wizard_links" %>
  <% end %>


  </article>
</main>
