<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">
    <%= render "errors" %>
    <% content_for :page_title, createTitle('.title') %>
    <%= form_for(@registration, :url => newUpperBusinessDetails_path) do |f| %>
    <p class="back_link"><%= render 'back_link' %></p>
    <div class="step"><%= t 'registrations.contactdetails_step.step' %></div>

    <% case  @registration.businessType %>
    <% when 'soleTrader', 'partnership' %>
        <%= render 'company_name', f: f, mode: 'business' %>
    <% when 'limitedCompany' %>
        <%= render 'company_name', f: f, mode: 'company' %>
        <%= render 'company_details_finder', f: f  %>
    <% when 'publicBody' %>
      <%= render 'company_name', f: f, mode: 'organisation'  %>
    <% end %>

    <%= render "address_finder", f: f  %>

  <% end %>


  </article>
</main>
