<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
  	<section>
      <div class="inner">
      <div class="col-1">


	    <% content_for :page_title, createTitle('.heading') %>

	    <!-- FIXME: Restyle this to match whatever is decided -->
	    <% if alert %>
	    <div id="note_explanation" class="note-summary">
		  <h3 class='heading-medium'><%= alert%></h3>
		</div>
		<% end %>

	    <%= form_for(@registration, :url => enterPayment_path) do |f| %>

	      	<!-- Step item not required <div class="step"><%= t '.step' %></div> -->
	      	<!-- <h1 class="subtitle"></h1> -->
	      	<%= render "errors" %>

			<!-- WF 4.3.2 -->
			<div id="paymentStatus"  data-journey="waste-carriers-registration:payment-status">

			    <fieldset>
			  	    <legend><%= t '.heading' %></legend>
			        <div class="form-group">
	                    <div class="form-label"><%= @registration.regIdentifier %></div>
				        <div class="form-label"><%= @registration.companyName %></div>
				        <div class="form-label"><%= format_address(@registration) %></div>
			        </div>

			        <% if @registration.respond_to? :finance_details %>
				        <div class="form-group">
				        	<div class="form-label" id="amountSummary"><%= amount_payment_summary_for(@registration) %></div>
				        </div>
			        <% end %>

			        <div class="form-group">
				  	    <legend><%= t'.chargehistory_table_heading' %></legend>
						<table class="" summary='This table details the charge history of a registration'
							<thead class="">
								<tr>
									<th class="" ><%= t '.chargehistory_date_table_heading' %></th>
									<th class="" ><%= t '.chargehistory_charge_table_heading' %></th>
									<th class="" ><%= t '.chargehistory_amount_table_heading' %></th>
								</tr>
							</thead>
							<tbody>
								<% regCount = 1; %>
								<% if @registration.respond_to?('finance_details') and @registration.finance_details.first \
								   && @registration.finance_details.size > 0 && @registration.finance_details.first.orders %>
									<% @registration.finance_details.first.orders.each do |order| %>
									  <% if order.respond_to?('order_items') and order.order_items %>
									  	<% order.order_items.each do |orderItem| %>
											<tr class="<% if regCount.odd? %> solid-box<% else %> lighter-box<% end %>">
												<td class="" ><%= order.dateLastUpdated %></td>
												<td class="" ><%= orderItem.description %></td>
												<td class="" ><%= Money.new(orderItem.amount) %></td>
											</tr>
										  <% regCount = regCount + 1; %>
									    <% end %>
									  <% else %>
										  <tr class="<% if regCount.odd? %> solid-box<% else %> lighter-box<% end %>">
											<td class="" >ORDER::<%= order.dateLastUpdated %></td>
											<td class="" ><%= order.description %></td>
											<td class="" ><%= Money.new(order.totalAmount) %></td>
										  </tr>
										<% regCount = regCount + 1; %>
									  <% end %>
									<% end %>
								<% else %>
									<tr class="solid-box">
											<td class="" >No Change History</td>
											<td class="" > </td>
											<td class="" > </td>
											<td class="" > </td>
										</tr>
								<% end %>
							</tbody>
						</table>
					</div>

			        <div class="form-group">
		            	<legend><%= t'.paymenthistory_table_heading' %></legend>
						<table class="" summary='This table details the payment history of a registration'> 
							<thead class="">
								<tr>
									<th class="" ><%= t '.paymenthistory_date_table_heading' %></th>
									<th class="" ><%= t '.paymenthistory_charge_table_heading' %></th>
									<th class="" ><%= t '.paymenthistory_reference_table_heading' %></th>
									<th class="" ><%= t '.paymenthistory_amount_table_heading' %></th>
									<th class="" ><%= t '.paymenthistory_comments_table_heading' %></th>
								</tr>
							</thead>
							<tbody>
								<% regCount = 1; %>
								<% if @registration.finance_details.size > 0 \
									&& @registration.finance_details.first.payments \
									&& @registration.finance_details.first.payments.size > 0 %>
									<% @registration.finance_details.first.payments.each do |payment| %>
										<tr class="<% if regCount.odd? %> solid-box<% else %> lighter-box<% end %>">
											<td class="" ><%= payment.dateReceived %></td>
											<td class="" ><%= payment.paymentType %></td>
											<td class="" ><% if hasOrderKey(payment) %><%= payment.orderKey %><%else%><%= t 'registrations.form.not_applicable' %><%end%>/<%= payment.registrationReference %></td>
											<td class="" ><%= Money.new(payment.amount) %></td>
											<td class="" ><%= payment.comment %></td>
										</tr>
									<% regCount = regCount + 1; %>
									<% end %>
								<% else %>
									<tr class="solid-box">
										<td class="" >No Payment History</td>
										<td class="" > </td>
										<td class="" > </td>
										<td class="" > </td>
										<td class="" > </td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>

			        <div class="form-group">
		            	<legend><%= t'.balance_table_heading' %></legend>
						<table class="" summary='This table details the balance due on a registration'
							<thead class="">
								<tr>
									<th class="" ></th>
									<th class="" ><%= t '.balance_cost_table_heading' %></th>
								</tr>
							</thead>
							<tbody>
								<% if @registration.finance_details %>
								<tr class="">
									<td class="" >
						        	<%= amount_summary_for(@registration, false) %>
									</td>
									<td class="" id="balanceDue"><%= Money.new(@registration.finance_details.first.balance.to_f.abs) %></td>
								</tr>
								<%# Assume if finance_details are not available it is because no charges are present on the account therefore must have a zero balance %>
								<% else %>
							    <tr class="">
									<td class="" ><%= t 'registrations.form.balanceDue_text' %></td>
									<td class="" id="balanceDue">0.00</td>
								</tr>
							    <% end %>
							</tbody>
						</table>
					</div>

	            </fieldset>
		    </div>

	    <% end %>

	    <div class="inline" style="width:130%">
		    <noscript>
		        <%= content_tag :p, t('registrations.back_link_unavailable') %>
		    </noscript>
		    <%= link_to t('registrations.form.back_button_label'), 'javascript:history.back()', :class => 'link_to' %>
		    <%
		    isFinanceBasic = current_agency_user.has_role? :Role_financeBasic, AgencyUser
		    isFinanceAdmin = current_agency_user.has_role? :Role_financeAdmin, AgencyUser
		    isRefund = current_agency_user.has_role? :Role_ncccRefund, AgencyUser
		    #isRefundOrBasic = current_agency_user.has_any_role?({ :name => :Role_ncccRefund, :resource => AgencyUser }, { :name => :Role_financeBasic, :resource => AgencyUser })
		    %>
		    <% if isFinanceBasic %>
		    <span class="next_link"><%= link_to t('registrations.form.enterpayment_button_label'), :enterPayment, :class => 'button', :id => 'enterPayment' %></span>
		    <span class="next_link"><%= link_to t('registrations.form.reversals_button_label'), :paymentReversal, :class => 'button', :id => 'reversals' %></span>
		    <% end %>
		    <% if isRefund %>
		      <span class="next_link">
		      <% if isSmallWriteOffAvailable(@registration) %>
		        <%= link_to t('registrations.form.writeoffsmall_button_label'), enterWriteOff_path(:type => 'writeOffSmall'), :class => 'button', :id => 'writeOffSmall' %>
		      <% else %>
		        <%= link_to t('registrations.form.writeoffsmall_button_label'), '#', :class => 'button disabled', :id => 'writeOffSmall' %>
		      <% end %>
		      </span>
		    <% end %>
		    <% if isFinanceAdmin %>
		    <span class="next_link"><%= link_to t('registrations.form.enterpayment_button_label'), :enterPayment, :class => 'button', :id => 'enterPayment' %></span>
		    <span class="next_link">
		    <% if isLargeWriteOffAvailable(@registration) %>
		      <%= link_to t('registrations.form.writeofflarge_button_label'), enterWriteOff_path(:type => 'writeOffLarge'), :class => 'button', :id => 'writeOffLarge' %>
		    <% else %>
		      <%= link_to t('registrations.form.writeofflarge_button_label'), '#', :class => 'button disabled', :id => 'writeOffLarge' %>
		    <% end %>
		    </span>
		    <span class="next_link"><%= link_to t('registrations.form.reversals_button_label'), :paymentReversal, :class => 'button', :id => 'reversals' %></span>
		    <span class="next_link"><%= link_to t('registrations.form.adjustments_button_label'), :chargeAdjustment, :class => 'button', :id => 'adjustments' %></span>
		    <% end %>
		    <% if isRefund %>
		      <span class="next_link">
		      <% if isRefundAvailable(@registration) %>
		        <%= link_to t('registrations.form.refund_button_label'), :refund, :class => 'button', :id => 'refund' %>
		      <% else %>
		        <%= link_to t('registrations.form.refund_button_label'), '#', :class => 'button disabled', :id => 'refund' %>
		      <% end %>
		    <% end %>
		    </span>
		</div>
		<br/>

       </div>
  </div>
</section>

    <aside role='note'>
      <div class="inner">
        <div class="col-2">
         <%= render "shared/current_user" %>
        </div>
      </div>
    </aside>

  </article>
</main>
