<%= render 'shared/content_for_pages' %>
<div id="wrapper">

  <main id="content" role="main" class="group">

    <% content_for :page_title, createTitle('.title') %>

    <!-- Header section -->
    <header class="page-header group">
      <div class="hgroup">
        <% message = "#{t('registration_mailer.welcome_email.tier_result_message', :companyName => @registration.companyName, :tier_with_article => @registration.tier.downcase.with_indefinite_article)}" %>
        <h1 class="heading-medium"><%= message %></h1>
      </div>
    </header>

    <div class="grid-2-3">

      <!-- Business details section -->
      <div class="print-section"  data-journey="waste-carriers-registration:print">
        <h2 class="heading-small"><%= t 'registration_mailer.welcome_email.detailsHeading'%></h2>
          <%= @registration.firstName%> <%= @registration.lastName%></br>
          <% unless @registration.houseNumber.blank? %>
              <%= @registration.houseNumber %></br>
          <% end %>
          <% unless @registration.streetLine1.blank? %>
              <%= @registration.streetLine1 %></br>
          <% end %>
          <% unless @registration.streetLine2.blank? %>
              <%= @registration.streetLine2 %></br>
          <% end %>
          <% unless @registration.streetLine3.blank? %>
              <%= @registration.streetLine3 %></br>
          <% end %>
          <% unless @registration.streetLine4.blank? %>
              <%= @registration.streetLine4 %></br>
          <% end %>
          <% unless @registration.townCity.blank? %>
              <%= @registration.townCity %></br>
          <% end %>
          <% unless @registration.postcode.blank? %>
              <%= @registration.postcode %></br>
          <% end %>
          <% unless @registration.country.blank? %>
              <%= @registration.country %></br>
          <% end %>
      </div>

      <!-- Registration section -->
      <div class="registration-details">
        <h3 class="heading-small"><%= t 'registration_mailer.welcome_email.registrationHeading'%></h2>
        <h2 class="email" style="font-size: 19px; line-height: 1.11111; margin: 0 0 15px 0;">
          <%=t 'registration_mailer.welcome_email.proof'%></h2>
        <ul>
          <li>
            <%=t 'registration_mailer.welcome_email.contactName'%><%= @registration.firstName%> <%= @registration.lastName%></li>
          <li>
            <%=t 'registration_mailer.welcome_email.phoneNumber'%><%= @registration.phoneNumber%></li>
          <li>
            <%= t 'registrations.finish.your_reg_number', :reg => @registration.regIdentifier %></li>
          <li>
            <%=t 'registration_mailer.welcome_email.registeredOn', :date => @registration.formatted_registration_date %></li>
        </ul>
      </div>

      <!-- Renewal details section -->
      <div class="renewal">
        <% if @registration.upper? %>
          <p><%= t 'registration_mailer.welcome_email.upper_renewal_html', :expires_after_pluralized => pluralize(get_expires_in_as_int, t('registration_mailer.year')) %></p>
        <% else %>
          <p><%= t 'registration_mailer.welcome_email.lower_renewal_html' %></p>
        <% end %>
        <% if @registration.assisted_digital? %>
          <p><%= t 'registration_mailer.welcome_email.updatePhone' %><strong><span id='accessCode'><%= @registration.accessCode %><span></strong>.</p>
        <% else %>
          <p><%= t 'registration_mailer.welcome_email.updateWebsite_html', :link => user_session_url().split('?')[0] %></p>
        <% end %>
      </div>

      <!-- Tier registration details section -->
      <div class="finish-section">
        <% if @registration.upper? %>
          <h3 class="heading-small"><%=t 'registration_mailer.welcome_email.upperTierRegistration'%></h3>
          <p><%=t 'registration_mailer.welcome_email.criteriaIntroUpper'%></p>
        <ul>
          <li><%=t 'registration_mailer.welcome_email.criteria5'%></li>
          <li><%=t 'registration_mailer.welcome_email.criteria6'%></li>
          <li><%=t 'registration_mailer.welcome_email.criteria7'%></li>
        </ul>
        <% else %>
          <h3 class="heading-small">
            <%=t 'registration_mailer.welcome_email.lowerTierRegistration'%></h3>
          <p><%=t 'registration_mailer.welcome_email.criteriaIntroLower'%></p>
        <ul>
          <li><%=t 'registration_mailer.welcome_email.criteria1'%></li>
          <li><%=t 'registration_mailer.welcome_email.criteria2'%></li>
          <li><%=t 'registration_mailer.welcome_email.criteria3'%></li>
          <li><%=t 'registration_mailer.welcome_email.criteria4'%></li>
        </ul>
        <% end %>
      </div>

       <!-- Responsibilites section -->
      <div class="finish-section">
        <h3 class="heading-small"><%=t 'registration_mailer.welcome_email.responsibilitiesHeading'%></h3>
        <p><%=t 'registration_mailer.welcome_email.responsibilitiesIntro'%></p>
        <ul>
          <li><%=t 'registration_mailer.welcome_email.responsibilities1'%></li>
          <li><%=t 'registration_mailer.welcome_email.responsibilities2'%></li>
          <li><%=t 'registration_mailer.welcome_email.responsibilities3'%></li>
          <li><%=t 'registration_mailer.welcome_email.responsibilities4'%></li>
        </ul>
      </div>

      <!-- EA contact details -->
      <div class="ea-contact">
        <p><%= t 'registration_mailer.welcome_email.enquiresMessage' %></p>
        <ul>
          <li>
            <%= t 'registration_mailer.welcome_email.telephone'%><%= Rails.configuration.registrations_service_phone %></li>
          <li>
            <%= t 'registration_mailer.welcome_email.email'%><%= Rails.configuration.registrations_service_email %></li>
        </ul>
      </div>

      <!-- Back button section -->
      <div class="back-button-section">
        <%= link_to t('registrations.form.back_button_label'), :back, :class => 'link-button-secondary' %>
        <% if session[:edit_mode].to_i  ==  RegistrationsController::EditMode::RENEWAL  %>
        <%= link_to t('registrations.form.finish_button_label'), action: "finish_renewal", :class => 'link-button-secondary' %>
         <% end %>
      </div>

    </div><!--end grid-2-3 -->
  </main><!-- end main -->
</div><!-- end wrapper -->
