<script><!--
  var startUrl = "<%=new_registration_path%>";
//--></script>
<main id="content" role="main" class="group"><article role="article" class="group">

<%= form_for(@registration, url: print_url(:id => @registration.id)) do |f| %>

<h1>Waste Carrier Registration</h1>
<h2 class="subtitle">For a lower tier waste carrier, broker or dealer</h2>
<%= render "shared/meta_phases"%>

<h2 class="registered"><%=@registration.companyName%> has been registered with the Environment Agency</h2>

<h3>Your registration number is: <%=@registration.regIdentifier%>.</h3>

<p>This is proof of your registration.</p>

<% if @registration.assisted_digital? %>
<h3>Your access code is: <%=@registration.accessCode%>.</h3>
<% end %>

<div class="print-section">
<%= render "details", :f => f %>
</div>

<div class="finish-section">
<h3>Lower tier registration</h3>

<p>
You are registered as a lower tier waste carrier/broker/dealer under The Waste (England and Wales) Regulations 2011 but <b>only</b> in the following circumstances:
<ol>
<li>You are a charity or voluntary organisation.</li>
<li>You are a waste collection authority, a waste disposal authority or a waste regulation authority.</li>
<li>You are a business which only transports waste you have produced as part of your normal business activities, except where it is construction or demolition waste.</li>
<li>You only handle: (i) animal by-products; (ii) waste from a mine or quarry; or (iii) waste from premises used for agriculture.</li>
</ol>
</p>
<p>Your registration will last indefinitely so does not need to be renewed but <b>you must tell us if any of your registration details change</b>, within 28 days of the change.  You can do this by going to the website <u>www.wastecarriersregistration.service.gov.uk</u> and logging in using your email and password.</p>

</div>

<div class="finish-section">
<h3>Your legal responsibilities for waste</h3>
<p>If you produce, carry, import, keep, treat or dispose of waste you have a legal 'duty of care' for that waste. The duty of care aims to protect the environment and human health by making sure that waste is handled safely and only passed to people authorised to receive it. There are some simple rules you must follow:</p>
<ul>
<li>If you give your waste to another business check the person is properly authorised to accept it. Check that they are a permitted site or a registered waste carrier.</li>
<li>Make sure any waste is safely contained and is not able to escape control.</li>
<li>Make sure the correct documentation is completed for each transfer of waste and that it correctly describes the waste.</li>
<li>Minimise the environmental impact of waste by prioritising waste prevention, re-use, recycling and recovery over disposal. This is known as applying the 'waste hierarchy'.</li>
<ul>
</div>

<p>Please contact the Environment Agency if you have any enquiries.</p>

<dl class="data">
<dt>Telephone:</dt>
<dd>03708 506506</dd>
<dt>Email:</dt>
<dd>NCCC-carrierbroker@environment-agency.co.uk</dd>
</dl>


<% end %>
<br/>
<br/>
</article></main>