<%= render 'shared/content_for_pages' %>

<% content_for :page_title, createTitle('.title') %>
<main id="content" role="main" class="group">
	<article role="article" class="group">
	  <section>
      <div class="inner">
      <div class="col-1">

<%= form_for(@registration, url: print_url(:id => @registration.id)) do |f| %>

<!--<h1><%= t 'registrations.form.title' %></h1>-->
<%= render "shared/meta_phases"%>

<% isRegisteredMessageKey = @registration.lower? ? 'registrations.print.isRegisteredAsLower' : 'registrations.print.isRegisteredAsUpper' %>
<h1 class="registered"><%= t isRegisteredMessageKey, :companyName => @registration.companyName %></h1>

<h2><%= t 'registrations.finish.yourRegNumber', :reg => @registration.regIdentifier %></h2>

<% case  session[:edit_process] %>
<% when 'renewal' %>
  <p><i>Renewed on: <%= format_date(@registration.metaData.first.dateRegistered) %></i></p>
<% when 're-create' %>
<% when 'edit' %>
<% else %>  <!-- this is a new registration page -->
  <p><i><%=t '.registeredOn',:date=>format_date(@registration.metaData.first.dateRegistered) %></i></p>
<% end %>


<p><%= t '.proof' %></p>
<% if @registration.assisted_digital? %>
<h3><%= t '.accessCode_html', :code => @registration.accessCode %></h3>
<% end %>

<div class="print-section"  data-journey="waste-carriers-registration:print">
<%= render "details", :f => f %>
</div>

<p><%=t 'registration_mailer.welcome_email.renewal_html'%><% if !@registration.assisted_digital? %><%=t '.website_html'%><% else %><%=t '.calling'%><% end %></p>

<p><%= t '.enquiries'%></p>

<dl class="data">
<dt><%=t '.telephone'%>:</dt>
<dd><%= Rails.configuration.registrations_service_phone %></dd>
<dt><%=t '.email'%>:</dt>
<dd><%= Rails.configuration.registrations_service_email %></dd>
</dl>

<br/><br/><br/>

<div class="finish-section">
<h3><%=t '.lowerTierRegistration'%></h3>
<p>
<%=t '.criteriaIntro'%></p>
<ul>
<li><%=t '.criteria1'%></li>
<li><%=t '.criteria2'%></li>
<li><%=t '.criteria3'%></li>
<li><%=t '.criteria4'%></li>
</ul>
</p>
<br/>
</div>

<br/>
<div class="finish-section">
<h3><%=t '.responsibilitiesHeading'%></h3>
<p><%=t '.responsibilitiesIntro'%></p>
<ul>
<li><%=t '.responsibilities1'%></li>
<li><%=t '.responsibilities2'%></li>
<li><%=t '.responsibilities3'%></li>
<li><%=t '.responsibilities4'%></li>
</ul>
</div>


<div class="print-section">
<p class="printButton">
<!--
<input name="from" type="hidden" value="<%= flash[:alert] %>"/>
<input name="back" class="button-secondary" type="submit" value="<%= t 'registrations.form.back_button_label' %>"/>
-->
<%= link_to t('registrations.form.back_button_label'), :back, :class => 'link-button-secondary' %>
<% if session[:edit_process]  == 'renewal'  %>
  <%= link_to t('registrations.form.finish_button_label'), action: "finish_renewal", :class => 'link-button-secondary' %>
 <% end %>
</p>
</div>

<% end %>
<br/>
<br/>
    </div>
  </div>
</section>
</article></main>
