<% content_for :page_title, createTitle('.heading') %>

<main id="content" role="main" class="group"><article role="article" class="group">

<% if params[:error] %>
<div id="error_explanation" class="validation-summary">
  <h2><%= params[:error]%></h2>
</div>
<% end %>

<% if !notice.nil? %>
<div id="note_explanation" class="note-summary">
  <h1>Information</h1>
  <ul>
  <li><%= notice %></li>
  </ul>
</div>
<% end %>

<h1><%= t '.heading' %></h1>


<form method="get" action="/registrations/search">
<div class="box" data-journey="waste-carriers-registration:registrations">
	<p class="group">
		<label for="q"><%= t '.search_label' %></label>
		<input id="q" name="q" type="text" placeholder="eg Bristol Flowers Ltd or Luton Mill" value="<%= params[:q]%>" />
	</p>
	<div id="onelinewrapper">
		<label for="oneline">Filter by area (optional)</label>
		<div id="oneline">
			<span id="disLabel" for="distance"><%= t '.distance_label' %></span>
			<% defaultDistance='any'%>
			<% if !params[:distance].nil?
			defaultDistance=params[:distance] 
			end %>
			<%= select_tag :distance, options_for_select(Registration.distance_options_for_select, defaultDistance) %>
			<span id="postLabel" for="postcode"><%= t '.postcode_label' %></span>
			<input id="postcode" name="postcode" size="10" value="<%= params[:postcode]%>" type="text" />
		</div>
	</div>
	<p class="action group">
		<input type="submit" id="reg-search" class="button" value="<%= t '.search_button_label' %>" />
	</p>
</div>
</form>


<% if params[:q] && (notice.nil? && params[:error].nil?) %>
<div id="reg-search-result" style="">
<h2><%= t '.search_found', :count => @registrations.count, :carrier => t('.carrier').pluralize(@registrations.count) %></h2>
<p><%= t '.search_results', :initial => '1', :count => @registrations.count, :records => pluralize(@registrations.count, t('.record')) %></p>


<% if @registrations.count > 0 %>

<table class="search">
	<thead class="search-header">
		<tr>
			<th class="search-header-field" style="width:20%"><%= t '.regId_table_heading' %></th>
			<th class="search-header-field" style="width:30%"><%= t '.companyName_table_heading' %></th>
			<th class="search-header-field" style="width:40%"><%= t '.address_table_heading' %></th>
			<% if params[:distance]!='any' %><th class="search-header-field" style="width:10%"><%= t '.distance_table_heading' %></th><% end %>
		</tr>
	</thead>
	<tbody>
<% regCount = 1; %>
<% @registrations.each do |registration| %>
	<tr class="search-body<% if regCount.odd? %> solid-box<% else %> lighter-box<% end %>">
		<td class="search-body-field" style="width:20%"><%= registration.regIdentifier %></td>
		<td class="search-body-field" style="width:30%"><%= registration.companyName %></td>
		<td class="search-body-field" style="width:40%"><%= format_address(registration) %></td>
		<% if params[:distance]!='any' %><td class="search-body-field" style="width:10%"><%= registration.metaData.distance %> <%= t '.miles' %></td><% end %>
	</tr>
<% regCount = regCount + 1; %>
<% end %>

	</tbody>
</table>
<% end %>

</div>
<% end %>

<% if params[:q] %>
<p><a href="<%= Rails.configuration.waste_exemplar_end_url %>"><%= t '.feedback_link' %></a></p>
<% end %>

</article></main>
