<%= render 'shared/content_for_pages' %>

<% content_for :page_title, createTitle('.heading') %>

<div id="wrapper">

<main id="content" role="main" class="group">

  <div class="back-section">
    <ol>
      <li></li>
    </ol>
  </div>

  <header class="page-header group">
      <div class="hgroup">
          <h1 class="heading-large" id="groupLabel"><%= t '.heading' %></h1>
      </div>
  </header>

    <div class="grid-wrapper">
      <div class="grid grid-2-3">
    <div class="inner-block">

      <% if !notice.nil? %>
        <div id="note_explanation" class="validation-summary">
		    <h2 class="heading-medium"><%= t 'registrations.errors.errorMessage', :count => pluralize(1, t('registrations.errors.error')) %></h2>
            <ul>
                <li><a class="error-text" href="#q"><%= notice %></a></li>
            </ul>
	    </div>
        <p class="panel-indent"><%= t '.outsideuk' %></p>
      <% end %>

      <% if params[:error] %>
        <div id="error_explanation" class="validation-summary">
          <ul class="list-bullet error-text">
            <li><%= params[:error]%></li>
          </ul>
        </div>
      <% end %>

      <form method="get" action="<%= public_path %>">
      <div class="box" data-journey="waste-carriers-registration:search-register">

        <div class="form-group" role="group" aria-labelledby="groupLabel">
      	  <label for="q" class="form-label"><%= t '.search_label' %></label>
      	  <input id="q" name="q" type="text" class="form-control-1-2" value="<%= params[:q]%>" />
        </div>

      		<div class="hidden">
      			<label for="oneline" class="form-label"><%=t '.filterLabel'%></label>
      			<span id="disLabel" for="distance"><%= t '.distance_label' %></span>

      		<!-- // Original - outdated when replaced drop down witg radio buttons
      		<div id="onelinewrapper">
      			<label for="oneline" class="form-label"><%=t '.filterLabel'%></label>
      			<div id="oneline">
      			<span id="disLabel" for="distance"><%= t '.distance_label' %></span>
      				<% defaultDistance='any'%>
      				<% if !params[:distance].nil?
      				defaultDistance=params[:distance]
      				end %>
      				<%= select_tag :distance, options_for_select(Registration.distance_options_for_select, defaultDistance) %>
      			<span id="postLabel" for="postcode"><%= t '.postcode_label' %></span>
      		    <input id="postcode" name="postcode" size="10" value="<%= params[:postcode]%>" type="text" />

      		-->

      		    <div class='inline'>

              		 <%
              		 defaultDistance='any'
              		 if !params[:distance].nil?
      				   defaultDistance=params[:distance]
      				 end
      				 %>
              		 <% Registration.distance_options_for_select.each do |dist| %>
              		 	<label class="block-label" for="<%= dist[1] %>">
      					<input type="radio" value="<%= dist[1] %>" name="distance" id="<%= dist[1] %>" <% if defaultDistance==dist[1] %>checked="checked"<% end %>>
      					<%= dist[0] %>
              		 </label>
              		 <% end %>

              	</div>

              	<div class='form-group'>
              		 <span id="postLabel" for="postcode"><%= t '.postcode_label' %></span>
      		    	 <input id="postcode" name="postcode" size="10" value="<%= params[:postcode]%>"
      		    	 type="text">
      		    </div>
      		</div>

      		<div class="form-group">
      		 <input type="submit" id="reg-search" class="button" value="<%= t '.search_button_label' %>" />
      		</div>

      </div>
      </form>


  <% if params[:q] && (notice.nil? && params[:error].nil?) %>
  <div id="reg-search-result" style="">
  <h2><%= t '.search_found', :count => @registrations.count, :carrier => t('.carrier').pluralize(@registrations.count) %></h2>
  <p><%= t '.search_results', :initial => '1', :count => @registrations.count, :records => pluralize(@registrations.count, t('.record')) %></p>


  <% if @registrations.count > 0 %>
      <table class="search" summary='Details search results for publicly registered businesses' role='presentation'>
      	<thead class="search-header">
      		<tr>
      			<th class="search-header-field"><%= t '.companyName_table_heading' %></th>
      			<th class="search-header-field"><%= t '.address_table_heading' %></th>
      			<th class="search-header-field"><%= t '.regId_table_heading' %></th>
      			<% if params[:distance]!='any' %>
            <th class="search-header-field"><%= t '.distance_table_heading' %></th>
            <% end %>
      		</tr>
      	</thead>
      <tbody>

        <% regCount = 1; %>
        <% @registrations.each do |registration| %>
        	<tr class="search-body<% if regCount.odd? %> solid-box<% else %> lighter-box<% end %>">
        		<td class="search-body-field"><%= registration.companyName %></td>
        		<td class="search-body-field"><%= format_address(registration.registered_address) %></td>
        		<td class="search-body-field"><%= registration.regIdentifier %></td>
        		<% if params[:distance]!='any' %>
            <td class="search-body-field"><%= registration.metaData.first.distance %><%= t '.miles' %></td>
            <% end %>
        	</tr>
        <% regCount = regCount + 1; %>
        <% end %>

      </tbody>
      </table>
      <% end %>

      </div>
      <% end %>

      <% if params[:q] %>
      <p><a href="<%= Rails.configuration.waste_exemplar_end_url %>"><%= t '.feedback_link' %></a></p>
      <% end %>

      </div><!-- end inner-block -->
    </div><!-- end grid 2-3 -->

  </div><!-- end grid -->
</main><!-- end main -->
</div><!-- end wrapper -->
