<p id="notice"><%= notice %></p>

<p>
  <b>Registeras:</b>
  <%= @registration.registerAs %>
</p>

<p>
  <b>Organisationtype:</b>
  <%= @registration.organisationType %>
</p>

<p>
  <b>Organisationname:</b>
  <%= @registration.organisationName %>
</p>

<p>
  <b>Individualstype:</b>
  <%= @registration.individualsType %>
</p>

<p>
  <b>Companyregistrationnumber:</b>
  <%= @registration.companyRegistrationNumber %>
</p>

<p>
  <b>Publicbodytype:</b>
  <%= @registration.publicBodyType %>
</p>

<p>
  <b>Title:</b>
  <%= @registration.title %>
</p>

<p>
  <b>Firstname:</b>
  <%= @registration.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @registration.lastName %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @registration.phoneNumber %>
</p>

<p>
  <b>Emailaddress:</b>
  <%= @registration.emailAddress %>
</p>

<p>
  <b>Housenumber:</b>
  <%= @registration.houseNumber %>
</p>

<p>
  <b>Postcode:</b>
  <%= @registration.postcode %>
</p>

<p>
  <b>Uprn:</b>
  <%= @registration.uprn %>
</p>

<p>
  <b>Address:</b>
  <%= @registration.address %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
