<main id="content" role="main" class="group"><article role="article" class="group">

<h1>Waste Carrier Registration</h1>
<h2 class="subtitle">For a lower tier waste carrier/broker/dealer</h2>
<%= render "shared/meta_phases"%>

<p class="group">Your registrations are listed below, from here you can create a new registration for a business or organisation. You can also change or delete one you have previously created. You must tell us if any of your registration details change, within 28 days of the change.</p>

<p class="group"><b>You have <%=pluralize(@registrations.count,"registration")%></b></p>

<% @registrations.each do |registration| %>
<div class="box full">
	<dl>
		<dt>Name</dt>
		<dd><%= registration.companyName %></dd>

		<dt>Postcode</dt>
		<dd><%= registration.postcode %></dd>
	</dl>
	<%if registration.status == "revoked"%>
	<div class="status revoked">
		Revoked
	</div>
	<%else%>
	<div class="status registered">
		Registered
	</div>
	<%end%>
	<div class="actions" >
		<%= button_to "Delete", registration_path(registration.id), :method => :delete, :class => "button", :id => "delete", :data => "{ :confirm => 'are you sure?' }"%>
	</div>
	<div class="actions">
		<form action="<%=edit_registration_url(registration.id)%>"><input type="submit" class="button" value="Change" /></form>
	</div>
	<div class="clr"></div>
</div>
<% end %>

<form method="get" action="<%=start_url%>" class="action group">
	<input type="submit" class="button" value="New Registration" />
</form>

</article></main>
