<%= render 'shared/content_for_pages' %>
<%= render "shared/current_user" %>

<% content_for :page_title, createTitle('.subtitle') %>

<main id="content" role="main" class="group"><article role="article" class="group">

<% if params[:note] %>
<div id="note_explanation" class="note-summary">
  <h1><%= params[:note]%></h1>
</div>
<% end %>

<% if notice %>
<div id="notice_explanation" class="note-summary">
  <h2><%= notice %></h2>
</div>
<% end %>

<!--<h1><%= t 'registrations.form.title' %></h1>-->
<h1 class="subtitle"><%= t '.subtitle' %></h1>
<%= render "shared/meta_phases"%>

<p class="group"><%= t '.summaryText' %></p>



<p class="group"><b><%= t '.registrationCountText', :count => pluralize(@registrations.count,"registration") %></b></p>

<table>
  <tr>
    <th>Name</th>
    <th><%= t 'activemodel.attributes.registration.postcode' %></th>
    <th>Identifier</th>
    <th>Status</th>
    <th>Expiry Date</th>
    <th>Action</th>
  </tr>
<% @registrations.each do |registration| %>en
  <tr>
    <td><%= registration.companyName %></td>
    <td><%= registration.postcode %></td>
    <td><%= registration.regIdentifier %></td>
    <td><%= registration.metaData.first.status %></td>
    <td><%= registration.expires_on %></td>
    <td>	<div class="actions">
		<div class="left"> <%= link_to 'View Certificate', print_path(registration.uuid) %> </div>
		<div class="right"><%= button_to t('registrations.form.delete_button_label'), confirmDelete_path(registration.uuid), :method => :get, :class => "button", :id => "delete" %></div>
		<form action="<%=edit_url(registration.uuid)%>"><input type="submit" class="button" value="<%= t 'registrations.form.change_button_label' %>" /></form>
	</div>
	</td>
  </tr>
<% end %>
</table>



<form method="get" action="<%= find_path %>" class="action group">
	<input type="submit" class="button" value="<%= t 'registrations.form.new_button_label' %>" />
</form>

</article></main>
