<% content_for :page_title, createTitle('.subtitle') %>

<main id="content" role="main" class="group"><article role="article" class="group">

<% if params[:note] %>
<div id="note_explanation" class="note-summary">
  <h1><%= params[:note]%></h1>
</div>
<% end %>

<% if notice %>
<div id="notice_explanation" class="note-summary">
  <h2><%= notice %></h2>
</div>
<% end %>

<!--<h1><%= t 'registrations.form.title' %></h1>-->
<h1 class="subtitle"><%= t '.subtitle' %></h1>
<%= render "shared/meta_phases"%>

<p class="group"><%= t '.summaryText' %></p>

<p class="group"><b><%= t '.registrationCountText', :count => pluralize(@registrations.count,"registration") %></b></p>

<% @registrations.each do |registration| %>
<div class="box full<% if registration.metaData.status == "REVOKED" %> revoked_status<% end %>">
	<dl>
		<dt>Name</dt>
		<dd><%= registration.companyName %></dd>

		<dt><%= t 'activemodel.attributes.registration.postcode' %></dt>
		<dd><%= registration.postcode %></dd>
		
		<dt><%= t 'activemodel.models.registration' %></dt>
		<dd><%= registration.regIdentifier %></dd>
	</dl>
	<% if registration.metaData.status == "REVOKED" %>
	<div class="status registered_status">
		<%= t '.revoked' %>
	</div>
	<% else %>
	<div class="status registered_status">
		<%= t '.registered' %>
	</div>
	<% end %>
	<% if registration.metaData.status != "REVOKED" %>
	<div class="actions">
		<%= link_to 'View Certificate', print_path(registration.id) %>
	</div>
	<div class="actions" >
		<%= button_to t('registrations.form.delete_button_label'), confirmDelete_path(registration.id), :method => :get, :class => "button", :id => "delete" %>
	</div>
	<div class="actions">
		<form action="<%=ncccedit_url(registration.id)%>"><input type="submit" class="button" value="<%= t 'registrations.form.change_button_label' %>" /></form>
	</div>
	<% end %>
	<div class="clr"></div>
</div>
<% end %>

<form method="get" action="<%= find_path %>" class="action group">
	<input type="submit" class="button" value="<%= t 'registrations.form.new_button_label' %>" />
</form>

</article></main>
