<%= render 'shared/content_for_pages' %>
<%#= render "shared/current_user" %>

<% content_for :page_title, createTitle('.subtitle') %>

<div id="wrapper">

<main id="content" role="main" class="group">

<div class="back-section">
    <ol>
      <li></li>
    </ol>
</div>

<header class="page-header group">
  <div class="hgroup">

  <!--<h1><%= t 'registrations.form.title' %></h1>-->
  <!--<h1 class="subtitle"><%= t '.subtitle' %></h1>-->
  <h1 class="heading-xlarge"><%= t '.subtitle' %></h1>

  <% if notice %>
  <div id="notice_explanation" class="note-summary">
    <h2 class="heading-large"><%= notice %></h2>
  </div>
  <% end %>

  </div>
</header>

<div class="grid-wrapper">

<div class="grid-2-3">
  <div class="inner-block">

<p class="panel-indent text"><%= t '.summaryText' %></p>

  <fieldset>
    <legend></legend>

    <h2 class="heading-medium"><%= t '.registrationCountText', :count => pluralize(@registrations.count,"registration") %></h2>

      <table summary=" A list of the user's registrations">
        <thead>
          <tr>
            <th><%= t '.name_header' %></th>
            <th><%= t '.postcode_header' %></th>
            <th><%= t '.registration_header' %></th>
            <th><%= t '.status_header' %></th>
            <th><%= t '.expiry_header' %></th>
            <!--  column for certificate button -->
            <!--  column for edit button -->
            <!--  column for delete registration -->
            <!--  column for renew button -->
            <!--  column for more copy cards -->
          </tr>
        </thead>
        <tbody>
          <% @registrations.each do |registration| %>
          <%  unless registration.is_inactive? %>
          <tr>
              <td><%= registration.companyName %></td>
              <td><%= registration.postcode %></td>
              <td><%= registration.regIdentifier %></td>
              <td><%= registration.metaData.first.status %></td>
              <td>
                <% case registration.get_status %>
                <% when 'ACTIVE', 'EXPIRED'  %>
                  <% if registration.expires_on %>
                    <%= registration.expires_on.strftime("%d-%^B-%Y") %>
                  <% else %>
                    <%= t 'registrations.form.not_applicable' %>
                  <% end %>
                <% when 'REVOKED' %>
                  <%= t '.status_revoked_text' %>
                <% else %>
                  <%= t '.status_na_text' %>
                <% end %>
              </td>
          </tr>
          <%  end %>
            <% 
            # Only show the Edit Row, if any of the butttons are shown
            if registration.can_view_certificate? || registration.can_be_edited? || \
            	registration.is_active? || registration.about_to_expire? || \
            	registration.can_request_copy_cards? %>
            <tr>
              <td>
              <% if registration.can_view_certificate? %>
                <%= link_to 'View Certificate', print_path(registration.uuid) %>
              <% end %>
              </td>

              <td>
              <% if registration.can_be_edited? %>
                <%= link_to 'Edit Registration', edit_path(registration.uuid, edit_process: RegistrationsController::EditMode::EDIT), :id => 'edit_'+registration.regIdentifier %>
              <% end %>
              </td>

		          <td><%= link_to t('registrations.form.delete_button_label'), confirmDelete_path(registration.uuid), :method => :get, :id => "delete" if registration.is_active? %>
              </td>

	            <td>
		            <% if registration.upper? and registration.about_to_expire? %>
	            	<%= link_to 'Renew Registration', edit_path(registration.uuid, edit_process: RegistrationsController::EditMode::RENEWAL), :id => 'renew_'+registration.regIdentifier %>
	            	<% elsif registration.upper? and registration.can_be_recreated? %>
		            	<%= link_to 'Re-create Registration', edit_path(registration.uuid, edit_process: RegistrationsController::EditMode::RECREATE) %>
	            	<% end %>
	            </td>

	            <td><%= link_to t('form.addCopyCards_button_label'), newOrderCopyCards_path(registration.uuid), :id => 'addcopycards_'+registration.regIdentifier  if registration.can_request_copy_cards?  %>
              </td>

	        </tr>
	        <% end # if%>
          <% end # registrations %>
        </tbody>
      </table>
</fieldset>

<form method="get" action="<%= find_path %>" class="action group">
  <input type="submit" class="button" value="<%= t 'registrations.form.new_button_label' %>" />
</form>

</div><!-- end inner-block -->
</div><!-- end grid-2-3 -->


  <div class="grid-1-3">
    <div class="inner-block related">
      <div class="inner group related-subsection">
        <h2 class="heading-small">Current user</h2>
          <nav aria-labelledby="parent-subsection" role="navigation">
            <ul>
              <li><%= render "shared/current_user" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div><!-- end grid 1-3-->

    </div><!-- end grid-wrapper -->

  </main><!-- end main -->
</div><!-- end wrapper -->
