<main id="content" role="main" class="group"><article role="article" class="group">

<!--<h1><%= t 'registrations.form.title' %></h1>-->
<h2 class="subtitle"><%= t 'registrations.form.subtitle' %></h2>
<%= render "shared/meta_phases"%>

<p class="group"><%= t '.summaryText' %></p>

<p class="group"><b><%= t '.registrationCountText', :count => pluralize(@registrations.count,"registration") %></b></p>

<% @registrations.each do |registration| %>
<div class="box full<% if registration.metaData.status == "REVOKED" %> revoked_status<% end %>">
	<dl>
		<dt>Name</dt>
		<dd><%= registration.companyName %></dd>

		<dt><%= t 'activemodel.attributes.registration.postcode' %></dt>
		<dd><%= registration.postcode %></dd>
		
		<dt><%= t 'activemodel.models.registration' %></dt>
		<dd><%= registration.regIdentifier %></dd>
	</dl>
	<% if registration.metaData.status == "REVOKED" %>
	<div class="status registered_status">
		<%= t '.revoked' %>
	</div>
	<% else %>
	<div class="status registered_status">
		<%= t '.registered' %>
	</div>
	<% end %>
	<!--<div class="actions" >
		<%# button_to "Delete", registration_path(registration.id), :method => :delete, :class => "button", :id => "delete", :data => "{ :confirm => 'are you sure?' }"%>
	</div>-->
	<% if registration.metaData.status != "REVOKED" %>
	<div class="actions">
		<form action="<%=ncccedit_url(registration.id)%>"><input type="submit" class="button" value="<%= t 'registrations.form.change_button_label' %>" /></form>
	</div>
	<% end %>
	<div class="clr"></div>
</div>
<% end %>

<form method="get" action="<%=new_registration_path%>" class="action group">
	<input type="submit" class="button" value="<%= t 'registrations.form.new_button_label' %>" />
</form>

</article></main>
