<%= render 'shared/content_for_pages' %>
<%#= render "shared/current_user" %>

<% content_for :page_title, createTitle('.subtitle') %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
  <section>
  <div class="inner">
  <div class="col-1">

<% if params[:note] %>
<div id="note_explanation" class="note-summary">
  <h1><%= params[:note]%></h1>
</div>
<% end %>

<% if notice %>
<div id="notice_explanation" class="note-summary">
  <h2><%= notice %></h2>
</div>
<% end %>

<!--<h1><%= t 'registrations.form.title' %></h1>-->
<!--<h1 class="subtitle"><%= t '.subtitle' %></h1>-->
<legend><%= t '.subtitle' %></legend>
<%= render "shared/meta_phases"%>

<p class="group" style="width:60%"><%= t '.summaryText' %></p><!-- FIXME: Force indent as to not wrap over user status box -->

<p class="group"><b><%= t '.registrationCountText', :count => pluralize(@registrations.count,"registration") %></b></p>



<fieldset>
  <legend></legend>
    <div class='summary-box'>
      <table summary=" A list of the user's registrations">
        <thead>
          <tr>
            <th><%= t '.name_header' %></th>
            <th><%= t '.postcode_header' %></th>
            <th><%= t '.registration_header' %></th>
            <th><%= t '.status_header' %></th>
            <th><%= t '.expiry_header' %></th>
            <th></th>  <!--  empty column -->
            <th></th> <!--  column for certificate button -->
            <th></th> <!--  column for edit button -->
            <th></th> <!--  column for renew button -->
          </tr>
        </thead>
        <tbody>
	        <% @registrations.each do |registration| %>
	            <td><%= registration.companyName %></td>
	            <td><%= registration.postcode %></td>
	            <td><%= registration.regIdentifier %></td>
	            <td><%=  registration.metaData.first.status %></td>
	            <td>
		            <% case  registration.metaData.first.status %>
		            <% when 'ACTIVE' %>
			            <%= registration.expires_on.strftime("%d-%^B-%Y") %>
		            <% when 'EXPIRED' %>
			            <%= t '.status_expired_text' %>
		            <% when 'REVOKED' %>
			            <%= t '.status_revoked_text' %>
		            <% else %>
			            <%= t '.status_na_text' %>
		            <% end %>
	            </td>
	            <td></td>
	            <td><%= link_to 'View Certificate', print_path(registration.uuid) %></td>
	            <td><%= link_to 'Edit Registration', edit_path(registration.uuid, edit_process: 'edit') unless registration.metaData.first.status == 'REVOKED'%></td>
	            <td>
		            <% if (registration.metaData.first.status == 'ACTIVE') && \
		            	(registration.expires_on - 6.months) < Time.now && \
		            	registration.expires_on  > Time.now  \
		            	%>
	            	<%= link_to 'Renew Registration', edit_path(registration.uuid, edit_process: 'renewal') %>
	            	<% elsif  (registration.metaData.first.status == 'EXPIRED') || (registration.expires_on  < Time.now) %>
		            	<%= link_to 'New Registration', edit_path(registration.uuid, edit_process: 're-create') %>
	            	<% end %>
	            </td>

	          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>


</div>
</div>
</section>

<form method="get" action="<%= find_path %>" class="action group">
	<input type="submit" class="button" value="<%= t 'registrations.form.new_button_label' %>" />
</form>

    <aside>
      <div class="inner">
        <div class="col-2">
          <%= render "shared/current_user" %>
        </div>
    </aside>

</article></main>
