<main id="content" role="main" class="group"><article role="article" class="group">


<h1>Waste Carrier Registration</h1>
<h2 class="subtitle">For a lower tier waste carrier, broker or dealer</h2>


<h2>Registrations</h2>
<p>Your registrations are listed below, from here you can create a new registration for a business or organisation. You can also change or delete one you have previously created. You must tell us if any of your registration details change, within 28 days of the change.</p>

<form method="get" action="<%=start_url%>">
<div><input type="submit" class="button" value="New Registration" /></div>
</form>


<h2>You have <%=pluralize(@registrations.count,"registration")%></h2>

<% @registrations.each do |registration| %>
<div class="box full">
	<dl>
		<dt>Name</dt>
		<dd><%= registration.companyName %></dd>

		<dt>Postcode</dt>
		<dd><%= registration.postcode %></dd>
	</dl>
	<%if registration.status == "revoked"%>
	<div class="status revoked">
		Revoked
	</div>
	<%else%>
	<div class="status registered">
		Registered
	</div>
	<%end%>
	<div class="actions">
		<form action="<%=edit_registration_url(registration.id)%>"><div><input type="submit" class="button" value="Change" /></div></form>
	</div>
	<div class="clr"></div>
</div>
<% end %>

</article></main>
