<div class="form-group<%if r.errors[:company_no].any?%> validation<%end%>" role="group" aria-labelledby="groupLabel">
  <%= validation_for(r, :company_no) %>
  <%= f.label :company_no, class: 'form-label' %>
  <details class="text">
    <summary id="show-hide-details-summary-0" aria controls='details-content-0' tabindex='0' aria-controls="details-content-0" role="button">
      <span class='summary'><%= t '.companies_house_details_link' %></span>
    </summary>
    <div style='display:block' class='panel-indent' id='details-content-0' >
      <p><%= t '.companies_house_paragraph1' %>
        <a href="<%= Rails.configuration.waste_exemplar_companies_house_url %>" target="_blank">
          <%= t '.companies_house'%><a rel="external"></a><%= t '.companies_house_paragraph2' %>
        </a>
      </p>

      <p><%= t '.companies_house_paragraph3' %></p>
      <p><%= t '.companies_house_paragraph4' %></p>
    </div>
  </details>
  <%= f.text_field :company_no, class: 'form-control-1-2', :size => 35, :maxlength => Registration::MAX_COMPANY_REGISTRATION_NO %>
</div>



