<%#
This file expects a parameter 'type' with the following values:
almostComplete    - renders appropriate text, with blue background
complete          - renders appropriate text, with green background
complete lower    - renders appropriate text, with green background
criminallySuspect - renders appropriate text, with blue background
Note: These values should match styles in the css if needed
%>

<% if RegistrationsHelper::COMPLETE_STATUSES.include? type %>
<!-- Show a summary box of the status of the registration -->
<div class="completeSummary <%= type %>">
	<div class="completeSummaryTitle">
    <%= t'.endpageReceivedBank' if type.eql? RegistrationsHelper::STATUS_ALMOST_COMPLETE %>
    <%= t'.endpageReceivedConvictions' if type.eql? RegistrationsHelper::STATUS_CRIMINALLY_SUSPECT %>
    <%= t'.endpageComplete' if type.eql? RegistrationsHelper::STATUS_COMPLETE %>
    <%= t'.endpageCompleteLower' if type.eql? RegistrationsHelper::STATUS_COMPLETE_LOWER %>
	</div>
	<div>
		<% if @confirmationType.eql? RegistrationsHelper::STATUS_COMPLETE or @confirmationType.eql? RegistrationsHelper::STATUS_COMPLETE_LOWER %>
		<h2 class="heading-small"><%= t'registrations.confirmed.summary_reg_number' %></h2>
    <% elsif @registration.declaredConvictions %>
   		<h2 class="heading-small"><%= t'registrations.confirmed.summary_ref_number' %></h2>
    <% end %>
			<h3 class="heading-large"><%= @registration.regIdentifier %></h3>
	</div>
</div>
<% else %>
<!-- Error: Invalid type provided, should be one of almostComplete, complete, criminallySuspect -->
<% end %>