<div class="ea-footer">
  <p><%=t 'global.bracketsEA'%><%= Rails.configuration.registrations_service_phone %></p>
  <ul>
    <li class="inline"><a href="<%= privacy_path %>" target="_blank"><%=t 'global.footer_privacy_link'%></a></li>
    <li class="inline"><a href="<%= cookies_path %>" target="_blank"><%=t 'global.footer_cookies_link'%></a></li>
  </ul>
</div>
