
<div class="footer-top"><%=t 'global.helpline'%><br/>
<%=t 'global.england'%>: <%= Rails.configuration.registrations_service_phone %> <%=t 'global.bracketsEA'%><br/>
<a href="<%= cookies_path %>" target="_blank"><%=t 'global.privacyAndCookies'%></a></div>


<%# DEBUGING: Remove once testing complete, Shows a summary of session variables %>
<!--
<br/>
'UUID: <%= session[:registration_uuid] %>'<br/>
'ID: <%= session[:registration_id] %>'<br/>
'orderCode: <%= session[:orderCode] %>'<br/>
'renderType: <%= session[:renderType] %>'<br/>
'edit_mode: <%= session[:edit_mode] %>'<br/>
-->


