
<div class="ea-footer">
  <p><%=t 'global.bracketsEA'%><%= Rails.configuration.registrations_service_phone %></p>
  <ul>
    <li class="inline"><a href="<%= privacy_path %>" target="_blank"><%=t 'global.footer_privacy_link'%></a></li>
    <li class="inline"><a href="<%= cookies_path %>" target="_blank"><%=t 'global.footer_cookies_link'%></a></li>
  </ul>
</div>


<%# DEBUGING: Remove once testing complete, Shows a summary of session variables %>
<!--
<br/>
'UUID: <%= session[:registration_uuid] %>'<br/>
'ID: <%= session[:registration_id] %>'<br/>
'orderCode: <%= session[:orderCode] %>'<br/>
'renderType: <%= session[:renderType] %>'<br/>
'edit_mode: <%= session[:edit_mode] %>'<br/>
-->


