
<div class="footer-top"><%=t 'global.helpline'%><br/>
<%=t 'global.england'%>: <%= Rails.configuration.registrations_service_phone %> <%=t 'global.bracketsEA'%><br/>
<a href="<%= Rails.configuration.waste_exemplar_eaPrivacyCookies_url%>" target="_blank"><%=t 'global.privacyAndCookies'%></a></div>
<hr>