<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
    <article role="article" class="group">
    <% content_for :page_title, createTitle('.heading') %>
    
    <!-- Usefult for showing default messages -->
    <% if alert %><%= alert %><% end %>
    
    <div class="step"><%= t '.step' %></div>
    
    <div id="payment" data-journey="waste-carriers-registration:refund-complete">

			<fieldset>
				<legend><%= t '.heading' %></legend>
				
				<h1>You have completed worldpay refund for order code: <%= @orderCode %></h1>
				
				<p>You will now be redirected to worldpay to continue with the refund. [MAYBE?]</p>
				
				<p>The registration has been updated to reflect that a refund has been made.</p>
	
			</fieldset>
	</div>
	
	<div class="inline">
	    <noscript>
	        <%= content_tag :p, t('registrations.back_link_unavailable') %>
	    </noscript>
	    <%= link_to t('registrations.form.back_to_status_button_label'), :paymentstatus, :class => 'link_to' %>
	</div>
	
	</article>
</main>