<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
	<article role="article" class="group">
	<section>
      <div class="inner">
      <div class="col-1">
	
	  <% content_for :page_title, createTitle('.heading') %>

	  <!-- Usefull for showing default messages -->
	  <% if alert %><%= alert %><% end %>
	  
	  <%= form_for @order, url: {action: "createAdjustment", controller: "payment"}, :method => 'post' do |f| %>

		<div class="step"><%= t '.step' %></div>

		<%= render "orderErrors" %>	<!-- FIXME: Bit ugly, Reimplemented errors as it assumed @registration -->

		<!-- WF X.X.X -->
		<div id="payment" data-journey="waste-carriers-registration:refunds">

			<fieldset>
				<legend><%= t '.heading' %></legend>
				
				<p>Adjustment page TODO</p>
				
				<p>For order: <%= f.object.orderCode %>, in the amount of <%= number_to_currency(f.object.totalAmount, :unit => "£") %></p>
				
				<p>To confirm this refund, click the Refund button below.</p>

				<div class="inline">
				    <noscript>
				        <%= content_tag :p, t('registrations.back_link_unavailable') %>
				    </noscript>
				    <%= link_to t('registrations.form.back_button_label'), :chargeAdjustment, :class => 'link_to' %>
				    <span class="next_link"><input name="next" class="button button-get-started" type="submit" value="<%= t 'registrations.form.refund_button_label' %>"/></span>
				</div>
				
				<br/>
				
			</fieldset>
			
		</div>

	  <% end %>
      
      </div>
      </div>
    </section>

    <aside role='note'>
      <div class="inner">
        <div class="col-2">
         <%= render "shared/current_user" %>
        </div>
      </div>
    </aside>

	</article>
</main>