<% content_for :head do %><%= render "shared/head" %><% end %>
<% content_for :html_lang do %><%= render "shared/html_lang" %><% end %>
<% content_for :page_title do %><%= render "shared/page_title" %><% end %>
<% content_for :inside_header do %><%= render "shared/inside_header" %><% end %>
<% content_for :cookie_message do %><%= render "shared/cookie_message" %><% end %>
<% content_for :after_header do %><%= render "shared/after_header" %><% end %>
<% content_for :footer_top do %><%= render "shared/footer_top" %><% end %>
<% content_for :body_end do %><%= render "shared/body_end" %><% end %>

<main id="content" role="main" class="group">
<article role="article" class="group">
<div class='inner'>
  <h1>GOV.UK Waste Carriers Registration Service - Development Home Page</h1>
      <p>You are seeing this page because the application is deployed in development mode.
      Users in the production environment will be redirected to the "Find out if I need to register" page.
      </p>
  <% if alert %>
<div id="error_explanation" class="validation-summary">
  <h2><%= t '.standard_error' %></h2>
  <ul>
    <li><%= alert %></li>
  </ul>
</div>
<% end %>

<% if notice %>
<div id="notice_explanation" class="validation-summary">
  <!--
  <h2><%= t '.standard_error' %></h2>
  -->
  <ul>
    <li><%= notice %></li>
  </ul>
</div>
<% end %>

<h2>Waste Carrier Entry points (typically redirected from GOV.UK)</h2>
  <a href='/your-registration/business-type'>Find out if I have to register </a><br/>
  <a href='/users/sign_in'>Waste Carrier Login </a><br/>
  <a href='/registrations/search'>Public Register</a><br/>
</ul>

<hr>

<h2>NCCC Entry points</h2>

  <a href='/agency_users/sign_in'>Agency/NCCC Login </a><br/>

<hr>

<h2>Administration Entry points</h2>
  <a href='/admins/sign_in'>Administration Login </a><br/>

<div id="includedContent"></div>
</div>
</article>
</main>


