<main id="content" role="main" class="group">
  <article role="article" class="group">

    <%= form_for(@registration, :url => :upper_business_address) do |f| %>

      <!-- <h1 class="subtitle"><%= t 'upper_registrations.form.subtitle' %></h1> -->

      <% content_for :page_title, createTitle('.title') %>

      <!-- <%= render "shared/progress", size: "10%" %> -->
      <div>Step 5 of 9</div>

      <%= render "errors" %>

      <div id="page1" data-journey="waste-carriers-upper-registration:business-address">

      <fieldset>
        <legend><%= t '.form_legend' %></legend>
        <p class="group<%if @registration.errors[:business_name].any?%> validation<%end%>">
          <%= validation_for(@registration, :business_name) %>
          <%= f.label :business_name %>
          <%= f.text_field :business_name, :size => 20, :maxlength => 70 %></br>
          <a href="?companyOutsideUk=true"><%= t '.company_outside_uk_link'%></a>
        </p>
        <p class="group<%if @registration.errors[:postcode].any?%> validation<%end%>">
          <%= validation_for(@registration, :postcode) %>
          <%= f.label :postcode %>
          <%= f.text_field :postcode, :size => 14, :maxlength => 10 %>
          <input type="submit" class="button" name="findAddress" value="<%=t 'upper_registrations.form.find_button_label'%>"/></br>
          <a href="?manualAddress=true"><%= t '.manual_address_link'%></a>
        </p>
      </fieldset>

      <p>
        <%= link_to t('upper_registrations.form.back_button_label'), :upper_business_type, :class => 'button-secondary' %>
        <input name="next" class="button" type="submit" value="<%= t 'upper_registrations.form.next_button_label' %>"/>
      </p>

    <% end %>
  </article>
</main>
