<main id="content" role="main" class="group">
  <article role="article" class="group">

    <%= form_for(@registration, :url => :upper_business_detail) do |f| %>

      <h1 class="subtitle"><%= t 'upper_registrations.form.subtitle' %></h1>

      <% content_for :page_title, createTitle('.title') %>

      <%= render "shared/progress", size: "40%" %>

      <%= render "errors" %>

      <div id="page4" data-journey="waste-carriers-upper-registration:business-detail">

      <fieldset>
        <legend><%= t '.form_legend' %></legend>
        <p class="group<%if @registration.errors[:company_house_number].any?%> validation<%end%>">
          <%= validation_for(@registration, :company_house_number) %>
          <%= f.label :company_house_number %>
          <%= f.text_field :company_house_number, :size => 20, :maxlength => 35 %>
          <input type="submit" class="button" name="findCompany" value="<%=t '.find_company'%>"/></br>
          <a href="?manualCompHouse=true"><%= t '.manual_companies_house_link'%></a>
        </p>
        <p><%= t '.alternative_title' %></p>
        <p class="group<%if @registration.errors[:alt_full_name].any?%> validation<%end%>">
          <%= validation_for(@registration, :alt_full_name) %>
          <%= f.label :alt_full_name %>
          <%= f.text_field :alt_full_name, :size => 20, :maxlength => 35 %>
        </p>
        <p class="group<%if @registration.errors[:alt_job_title].any?%> validation<%end%>">
          <%= validation_for(@registration, :alt_job_title) %>
          <%= f.label :alt_job_title %>
          <%= f.text_field :alt_job_title, :size => 20, :maxlength => 35 %>
        </p>
        <p class="group<%if @registration.errors[:alt_telephone_number].any?%> validation<%end%>">
          <%= validation_for(@registration, :alt_telephone_number) %>
          <%= f.label :alt_telephone_number %>
          <%= f.text_field :alt_telephone_number, :size => 20, :maxlength => 20 %>
        </p>
        <p class="group<%if @registration.errors[:alt_email_address].any?%> validation<%end%>">
          <%= validation_for(@registration, :alt_email_address) %>
          <%= f.label :alt_email_address %>
          <%= f.text_field :alt_email_address, :size => 20, :maxlength => 70 %>
        </p>
      </fieldset>

      <%= link_to t('upper_registrations.form.back_button_label'), :upper_business_type, :class => 'button-secondary' %>
      <input name="next" class="button" type="submit" value="<%= t 'upper_registrations.form.next_button_label' %>"/>
      </p>

    <% end %>
  </article>
</main>
