<main id="content" role="main" class="group">
  <article role="article" class="group">

    <%= form_for(@registration, :url => :upper_payment) do |f| %>

      <h1 class="subtitle"><%= t 'upper_registrations.form.subtitle' %></h1>

      <% content_for :page_title, createTitle('.title') %>

      <%= render "shared/progress", size: "20%" %>

      <%= render "errors" %>

      <div id="page7" data-journey="waste-carriers-upper-registration:payment">

      <fieldset>
        <legend><%= t '.form_legend' %></legend>
        <p class="group<%if @registration.errors[:copy_cards].any?%> validation<%end%>">
          <%= validation_for(@registration, :copy_cards) %>
          <%= f.label :copy_cards %>
          <%= f.text_field :copy_cards, :size => 5, :maxlength => 5 %>
        </p>
        <p class="group<%if @registration.errors[:payment_method].any?%> validation<%end%>">
          <%= validation_for(@registration, :payment_method) %>
          <%= f.label :payment_method %>
          <input name="world_pay" class="button" type="submit" value="<%= t '.payment_method_world_pay' %>"/>
          <input name="elec_transfer" class="button" type="submit" value="<%= t '.payment_method_elec_transfer' %>"/></br>
          <a href="?troublePaying=true"><%= t '.trouble_paying_link'%></a>
        </p>
      </fieldset>

      <%= link_to t('upper_registrations.form.back_button_label'), :upper_relevant_conviction, :class => 'button-secondary' %>
      <input name="next" class="button" type="submit" value="<%= t 'upper_registrations.form.next_button_label' %>"/>
      </p>

    <% end %>
  </article>
</main>
