<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">

    <!-- WF 4.3.2 -->
    <div id="page7"  data-journey="waste-carriers-registration:director-details">

      <% content_for :page_title, createTitle('.title') %>
      <div class="step"><%= t '.step' %></div>

      <%= form_for(@key_person, url: {action: "update"}, method: "patch" ) do |f| %>
        <%= render 'form', f: f, d: @key_person %>
        <div class="inline">
          <p class="back_link"><%= render 'back_link' %></p>
          <span class="next_link">
            <input name="next" class="button button-get-started" type="submit" value="<%= t 'form.update_button_label' %>"/>
          </span>
        </div>
      <% end %>

    </div>
  </article>
</main>