<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">

    <% content_for :page_title, createTitle('.title') %>
    <div class="step"><%= t '.step' %></div>

    <%= form_for(@registration, :url => { :action => 'done' }, :method => 'get'  ) do |f| %>
      <%= render 'index', f: f, l: @registration.key_people %>
      <%= link_to t('form.add_button_label'), url_for({ :controller => 'key_people', :action => 'new' }), :class => 'link_to' %>
      <%= render 'wizard_links' %>
    <% end %>

  </article>
</main>
