<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.2 -->
          <div id="page7"  data-journey="waste-carriers-registration:key-person-details">

            <% content_for :page_title, createTitle('.title') %>
               <%= render 'back_link' %>
               <%= t '.step' %>
               <%= render 'errors' %>

            <%= form_for(@key_person, url: {action: "updateNewKeyPerson"} ) do |f| %>
              <%= render 'key_person_form', f: f, d: @key_person, :legend => t('.legend') %>
              <span class="next_link"><%= render 'next_link' %></span>
            <% end %>
          </div>

        </div>
      </div>
    </section>
  </article>
</main>