<%= render 'shared/content_for_pages' %>
<div id="wrapper">

<div class="back-section">
    <ol>
      <li><%= render 'back_link' %></li>
    </ol>
</div>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="grid-wrapper">

        <div class="grid-wrapper">
        <div class="grid-2-3">

          <!-- WF 4.3.2 -->
          <div id="page7"  data-journey="waste-carriers-registration:key-people-details">

            <% content_for :page_title, createTitle('.title') %>
         
            
            <%= render 'errors' %>

            <% legend = t '.legend' %>
            <% button_label = nil %>

            <%= form_for(@key_person, url: {action: "updateNewKeyPeople"} ) do |f| %>

              <% case @registration.businessType %>
                <% when 'limitedCompany' %>
                  <% legend = t '.legend_limited' %>
                  <% button_label = t '.button_label_limited' %>
                <% when 'partnership' %>
                  <% legend = t '.legend_partner' %>
                  <% button_label = t '.button_label_partner' %>
                <% when 'publicBody' %>
                  <% legend = t '.legend_public' %>
                  <% button_label = t '.button_label_public' %>
              <% end %>

              <%= render 'key_person_form', f: f, d: @key_person, legend: legend %>

              <span class="next_link">
                <input id="add_btn" name="add" class="button button-get-started" type="submit" value="<%= button_label %>"/>
              </span>
            <% end %>

            <!-- This next button only gets displayed for businesses that can collect
              more than one person and where at least one already has. -->
            <% if @key_people.any? %>
              <%= form_for(@registration, :url => { :action => 'doneKeyPeople' }, :method => 'get'  ) do |f| %>
                <span class="next_link"><%= render 'next_link' %></span>
              <% end %>
            <% end %>

          </div>

        </div><!--grid-2-3 end-->
      </div><!--grid-wrapper end-->
    </section>

    <% if @key_people.any? %>
    <div class="grid-wrapper">
      <div class="grid-1-3">
        <div class="related" id="directors-aside">
          <div class="inner group related-subsection">
            <h2 class="heading-small"><%= t '.you_have_added' %></h2>
            <%= content_tag_for(:p, @key_people) do |key_person| %>
              <%= first_name_last_name(key_person) %> <%= link_to t('form.delete_button_label'), url_for(:controller => 'key_people', :action => 'delete', :id => key_person.id), :class => 'link_to' %>
            <% end %>
            <div id="includedContent"></div>
          </div>
        </div>        
      </div><!--grid-1-3 end-->
    </div><!--grid-wrapper end-->
    <% end %>
    
    </div><!--grid-wrapper end-->
  </article>
</main>
</div><!--wrapper end-->