<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.2 -->
          <div id="page7"  data-journey="waste-carriers-registration:key-people-details">

            <% content_for :page_title, createTitle('.title') %>
         
              <%= render 'back_link' %>
              <%= t '.step' %>
      

            <%= render 'errors' %>

            <% legend = t '.legend' %>
            <% button_label = nil %>

            <%= form_for(@key_person, url: {action: "updateNewKeyPeople"} ) do |f| %>

              <% case @registration.businessType %>
                <% when 'limitedCompany' %>
                  <% legend = t '.legend_limited' %>
                  <% button_label = t '.button_label_limited' %>
                <% when 'partnership' %>
                  <% legend = t '.legend_partner' %>
                  <% button_label = t '.button_label_partner' %>
                <% when 'publicBody' %>
                  <% legend = t '.legend_public' %>
                  <% button_label = t '.button_label_public' %>
              <% end %>

              <%= render 'key_person_form', f: f, d: @key_person, legend: legend %>

              <span class="next_link">
                <input id="add_btn" name="add" class="button button-get-started" type="submit" value="<%= button_label %>"/>
              </span>
            <% end %>

            <!-- This next button only gets displayed for businesses that can collect
              more than one person and where at least one already has. -->
            <% if @key_people.any? %>
              <%= form_for(@registration, :url => { :action => 'doneKeyPeople' }, :method => 'get'  ) do |f| %>
                <span class="next_link"><%= render 'next_link' %></span>
              <% end %>
            <% end %>

          </div>

        </div>
      </div>
    </section>

    <% if @key_people.any? %>
      <aside role='note' id="directors-aside">
        <div class="inner">
          <div class="col-2">
            <h3><%= t '.you_have_added' %></h3>
            <hr />
            <%= content_tag_for(:p, @key_people) do |key_person| %>
              <%= first_name_last_name(key_person) %> <%= link_to t('form.delete_button_label'), url_for(:controller => 'key_people', :action => 'delete', :id => key_person.id), :class => 'link_to' %>
            <% end %>
            <div id="includedContent"></div>
          </div>
        </div>
      </aside>
    <% end %>

  </article>
</main>