<%= render 'shared/content_for_pages' %>

<div id="wrapper">
  <main id="content" role="main" class="group">

    <% content_for :page_title, createTitle('.renew_title') %>

    <header class="text">
      <h1 class="form-title heading-large" id="groupLabel">
        <%= t('.renew_heading_h1') %>
      </h1>
    </header>

    <p class="text"><%= t('.renew_para1') %></p>

    <p class="text"><%= t('.renew_para2') %></p>

    <p class="text"><%= t('.renew_para3') %></p>

    <ul class="list-bullet text">
      <li><%= t('.renew_list_item1') %></li>
      <li><%= t('.renew_list_item2') %></li>
      <li><%= t('.renew_list_item3') %></li>
    </ul>

    <p class="text"><%= t '.renew_para4' %>
      <a href="https://www.gov.uk/government/publications/waste-carrier-broker-and-dealer-registration-renewals-due-after-25-march-2018-rps-208/waste-carrier-broker-and-dealer-registration-renewals-due-after-25-march-2018-rps-208"><%= t '.renew_rps_link' %></a>.
    </p>

    <h2 class="heading-medium"><%= t('.renew_heading_h2') %></h2>

    <p class="text"><%= t('.renew_para5') %></p>

    <p class="text"><%= t(
      '.renew_para6',
      renewal_fee: Rails.configuration.fee_renewal / 100
    ) %></p>

    <p class="text"><%= t(
      '.renew_para7',
      registration_fee: Rails.configuration.fee_registration / 100
    ) %></p>

    <p class="text"><%= t(
      '.renew_para8',
      service_phone: Rails.configuration.registrations_service_phone
    ) %></p>

    <p class="text"><%= t('.renew_para9') %></p>

  </div>
</div>
