<%= render 'shared/content_for_pages' %>
<% content_for :page_title, t('devise.sessions.title') %>

<div id="wrapper">

<main id="content" role="main" class="group">

<div class="back-section">
  <ol>
    <li></li>
  </ol>
</div>

<header class="page-header group">
    <div class="hgroup">
      <h1 class="heading-xlarge"><%= t '.sign_in_heading' %></h1>
    </div>
</header>
<br />
<div id="wrapper" data-journey="waste-carriers-registration:sign-in"></div>

  <div class="form-group">
    <% if request.original_url.include? "agency_users/sign_in" %>
      <h2 class="heading-medium"><%= t '.agency_heading' %></h2>
    <% elsif request.original_url.include? "admins/sign_in" %>
      <h2 class="heading-medium"><%= t '.admin_heading' %></h2>
    <% end%>

    <% if alert %>
        <div id="error_explanation" class="validation-summary">
            <h2 class="heading-medium"><%= t 'registrations.errors.errorMessage', :count => pluralize(1, t('registrations.errors.error')) %></h2>
              <a class="error-text text" href="#<%= resource_name %>_<%= :email %>"><%= alert %></a>
        </div>
    <% end %>

    <% if notice %>
    <div id="notice_explanation" class="note-summary">
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
    <% end %>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:autocomplete => "off"}) do |f| %>
        <div class="form-group<% if alert %> validation<% end %>">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control-1-2', :autofocus => true, :autocomplete => :off %>
        </div>

        <div class="form-group<% if alert %> validation<% end %>">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: 'form-control-1-2' %>
        </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: 'form-label' %>
        </div>
      <% end -%>

        <div class="form-group">
          <%= f.submit t('shared.current_user.sign_in'), {:class => "button", :id => 'sign_in'} %>
        </div>

      <% end %>
    </div>

    <details class="text">
      <summary aria controls='details-content-0' tabindex='0' aria-controls="details-content-0" aria-expanded="false" role="button">
        <span class='summary'><%= t '.sign_in_problems' %></span>
      </summary>
      <div style='display:block' id='details-content-0' >

      <h2 class="heading-small"><%= t '.sign_in_password_unknown' %></h2>
        <p><%= t '.sign_in_password_unknown_paragraph' %></p>
          <ul>
           <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <li><%= link_to t('.forgotPassword'), new_password_path(resource_name) %></li>
          </ul>
        <% end -%>

      <h2 class="heading-small heading-with-border"><%= t '.sign_in_email_unknown' %></h2>
        <p><%= t '.sign_in_email_unknown_paragraph' %></p>

        <details class="text heading-with-border">
          <summary aria controls='details-content-0' tabindex='0' aria-controls="details-content-0" aria-expanded="false" role="button">
            <span class='summary'><%= t '.sign_in_other_problems' %></span>
          </summary>
            <div style='display:block' id='details-content-0' >
            <h2 class="heading-small"><%= t '.sign_in_other_problems_heading' %></h2>
            <ul>
              <li class='list-bullet'><%= t '.sign_in_other_problems_bullet1' %></li>
              <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
              <li><%= link_to t('.sendUnlockInstructions'), new_unlock_path(resource_name) %></li>
              <% end -%>
            </ul>

            <ul>
              <li class="list-bullet"><%= t '.sign_in_other_problems_bullet2' %></li>
              <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <li><%= link_to t('.sendConfirmInstructions'), new_confirmation_path(resource_name) %></li>
              <% end -%>
            </ul>

            </div>
        </details>

      </div>
    </details>

  </main><!-- end content -->
</div><!-- end wrapper -->
