<%= render 'shared/content_for_pages' %>
<% content_for :page_title, t('devise.sessions.title') %>

<div id="wrapper">

<main id="content" role="main" class="group">

<div class="back-section">
  <ol>
    <li></li>
  </ol>
</div>

<header class="page-header group">
    <div class="hgroup">
        <h1 class="heading-xlarge"><%= t '.sign_in_heading' %></h1>
    </div>
</header>

<div id="wrapper" data-journey="waste-carriers-registration:sign-in"></div>

  <fieldset>
    <legend></legend>

    <% if request.original_url.include? "agency_users/sign_in" %>
      <h2 class="heading-medium"><%= t '.agency_heading' %></h2>
    <% elsif request.original_url.include? "admins/sign_in" %>
      <h2 class="heading-medium"><%= t '.admin_heading' %></h2>
    <% end%>

    <% if alert %>
        <div id="error_explanation" class="validation-summary">
            <h2 class="heading-medium"><%= t 'registrations.errors.errorMessage', :count => pluralize(1, t('registrations.errors.error')) %></h2>
            <ul>
                <li><a class="error-text" href="#<%= resource_name %>_<%= :email %>"><%= alert %></a></li>
            </ul>
        </div>
    <% end %>

    <% if notice %>
    <div id="notice_explanation" class="note-summary">
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
    <% end %>


    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:autocomplete => "off"}) do |f| %>
      <div class="form-group<% if alert %> validation<% end %>">
        <ul>
          <li><%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, :autofocus => true, :autocomplete => :off %></li>
        </ul>
      </div>

      <div class="form-group<% if alert %> validation<% end %>">
        <ul>
          <li><%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password %></li>
        </ul>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <ul>
            <li><%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'form-label' %></li>
          </ul>
        </div>
      <% end -%>

        <%= f.submit t('shared.current_user.sign_in'), {:class => "button", :id => 'sign_in_button'} %>

      <% end %>
    </fieldset>

  <%= render "devise/shared/links" %>

  </main><!-- end content -->
</div><!-- end wrapper -->
