<h2><%= t 'devise.mailer.reset_password.heading'%></h2>

<p><%= t 'devise.mailer.reset_password.paragraph1'%></p>

<p><%= link_to t('devise.mailer.reset_password.changeLabel'), edit_password_url(@resource, :reset_password_token => @token, :subdomain => @resource.subdomain) %></p>

<p><%= t 'devise.mailer.reset_password.paragraph2'%></p>
<p><%= t 'devise.mailer.reset_password.paragraph3'%></p>
