<h2><%=t 'devise.mailer.confirmation_instructions.heading'%></h2>

<p><%= t 'devise.mailer.confirmation_instructions.paragraph1',:email=>@email%></p>

<p><%= t 'devise.mailer.confirmation_instructions.paragraph2'%></p>
 
<p><%= link_to t('devise.mailer.confirmation_instructions.confirmLabel'), confirmation_url(@resource, :confirmation_token => @token) %></p>

<p><%= t 'devise.mailer.confirmation_instructions.paragraph3'%>
<%= link_to t('devise.mailer.confirmation_instructions.newInstructionsLabel'), new_confirmation_url(:user) %>
<br/>
<p><%= t 'devise.mailer.confirmation_instructions.paragraph4'%></p>
