<%= render 'shared/content_for_pages' %>

<div id="wrapper">
  <main id="content" role="main" class="group">

    <div class="back-section">
      <ol>
        <li><%= link_to t('registrations.form.back_button_label'), :payments_search, :class => 'link_to' %></li>
      </ol>
    </div>

    <header class="page-header group">
      <div class="hgroup">
        <h1 class="heading-xlarge"><%= t '.subtitle' %></h1>
      </div>
    </header>

    <div class="grid-wrapper">
      <div class="grid-2-3">
        <div class="inner-block">
          <!-- WF 4.3.2 -->
          <div id="page0"  data-journey="waste-carriers-registration:payments-export-results">
            <% content_for :page_title, createTitle('.title') %>
            <%= render 'errors' %>
            <h2 class="heading-small"><%= t('.summary', :record_count_pluralized => pluralize(@report.result_count, t('reports.record'))) %></h2>
            <%= form_for(@report, :url => payments_search_results_path, :html => {:autocomplete => "off"}) do |f| %>
              <fieldset>
                <%= f.hidden_field :from %>
                <%= f.hidden_field :to %>
                <% @report.payment_statuses.each do |value| %>
                  <%= f.hidden_field :payment_statuses, :multiple => true, :value => value %>
                <% end %>
                <% @report.payment_types.each do |value| %>
                  <%= f.hidden_field :payment_types, :multiple => true, :value => value %>
                <% end %>
                <% @report.charge_types.each do |value| %>
                  <%= f.hidden_field :charge_types, :multiple => true, :value => value %>
                <% end %>
              </fieldset>
              <span class="continue_link">
                <input id="export_btn" name="export" class="button button-get-started" type="submit" value="<%= t 'form.export_all_button_label' %>"/>
              </span>
            <% end %>
          </div>
        </div><!--inner-block-->
      </div><!--grid-2-3-->
    </div><!--grid-wrapper-->
  </main><!--main end-->
</div><!--wrapper end-->
<div style="max-width: 90%; overflow-x: scroll; margin: 0 auto;">
<table summary="<%= t '.summary' %>" role='presentation'>
  <thead>
    <tr>
      <th><%= t 'reports.fields.reg_identifier' %></th>
      <th><%= t 'reports.fields.company_name' %></th>
      <th><%= t 'reports.fields.status' %></th>
      <th><%= t 'reports.fields.route' %></th>
      <th><%= t 'reports.fields.transaction_date' %></th>
      <th><%= t 'reports.fields.order_code' %></th>
      <th><%= t 'reports.fields.charge_type' %></th>
      <th><%= t 'reports.fields.charge_amount' %></th>
      <th><%= t 'reports.fields.charge_updated_by' %></th>
      <th><%= t 'reports.fields.payment_type' %></th>
      <th><%= t 'reports.fields.reference' %></th>
      <th><%= t 'reports.fields.payment_amount' %></th>
      <th><%= t 'reports.fields.comment' %></th>
      <th><%= t 'reports.fields.payment_updated_by' %></th>
      <th><%= t 'reports.fields.payment_received' %></th>
      <th><%= t 'reports.fields.balance' %></th>
    </tr>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <% if registration.respond_to?('finance_details') && registration.finance_details.first \
        && registration.finance_details.size > 0 %>

        <% if registration.finance_details.first.orders %>
          <% registration.finance_details.first.orders.each do |order| %>

            <% order.order_items.each do |order_item| %>
              <% related_payments = registration.finance_details.first.payments.to_a.find_all{ |payment| payment.orderKey == order.orderCode } %>
              <% if related_payments.nil? || related_payments.empty? %>
                <tr>
                  <td><%= registration.regIdentifier %></td>
                  <td><%= registration.companyName %></td>
                  <td><%= registration.metaData.first.status %></td>
                  <td><%= registration.metaData.first.route %></td>
                  <td><%= format_time order.dateCreated %></td>
                  <td><%= order.orderCode %></td>
                  <td><%= order_item.type %></td>
                  <td><%= money_value_without_currency_symbol_and_with_pence_part order_item.amount %></td>
                  <td><%= order.updatedByUser %></td>
                  <td><%= order.paymentMethod %></td>
                  <td><%= order_item.reference %></td>
                  <td>&nbsp;</td><!-- payment amount -->
                  <td>&nbsp;</td><!-- comments -->
                  <td>&nbsp;</td><!-- payment updated by -->
                  <td>&nbsp;</td><!-- payment received -->
                  <td><%= money_value_without_currency_symbol_and_with_pence_part registration.finance_details.first.balance %></td>
                </tr>
              <% else %>
                <% related_payments.each do |payment| %>
                  <tr>
                    <td><%= registration.regIdentifier %></td>
                    <td><%= registration.companyName %></td>
                    <td><%= registration.metaData.first.status %></td>
                    <td><%= registration.metaData.first.route %></td>
                    <td><%= format_time order.dateCreated %></td>
                    <td><%= order.orderCode %></td>
                    <td><%= order_item.type %></td>
                    <td><%= money_value_without_currency_symbol_and_with_pence_part order_item.amount %></td>
                    <td><%= order.updatedByUser %></td>
                    <td><%= payment.paymentType %></td>
                    <td><%= order_item.reference %></td>
                    <td><%= money_value_without_currency_symbol_and_with_pence_part payment.amount %></td>
                    <td><%= payment.comment %></td>
                    <td><%= payment.updatedByUser %></td>
                    <td><%= format_time payment.dateReceived %></td>
                    <td><%= money_value_without_currency_symbol_and_with_pence_part registration.finance_details.first.balance %></td>
                  </tr>
                <% end %><!--related payments each-->
              <% end %><!--if related payments nil-->

            <% end %><!--order_items each-->

          <% end %><!--orders each-->
        <% end %><!--if orders-->

        <% if registration.finance_details.first.payments %>
          <% order_codes = registration.finance_details.first.orders.collect { |order| order.orderCode } %>
          <% unrelated_payments = registration.finance_details.first.payments.to_a.find_all{ |payment| !order_codes.include? payment.orderKey} %>
          <% unrelated_payments.each do |payment| %>
            <tr>
              <td><%= registration.regIdentifier %></td>
              <td><%= registration.companyName %></td>
              <td><%= registration.metaData.first.status %></td>
              <td><%= registration.metaData.first.route %></td>
              <td><%= format_time payment.dateEntered %></td>
              <td>&nbsp;</td><!-- order code -->
              <td>&nbsp;</td><!-- charge type -->
              <td>&nbsp;</td><!-- charge amount -->
              <td>&nbsp;</td><!-- charge updated by -->
              <td><%= payment.paymentType %></td>
              <td><%= payment.registrationReference %></td>
              <td><%= money_value_without_currency_symbol_and_with_pence_part payment.amount %></td>
              <td><%= payment.comment %></td>
              <td><%= payment.updatedByUser %></td>
              <td><%= format_time payment.dateReceived %></td>
              <td><%= money_value_without_currency_symbol_and_with_pence_part registration.finance_details.first.balance %></td>
            </tr>
          <% end %><!--unrelated payments each-->
        <% end %><!--if payments-->

      <% end %><!--if finance details-->
    <% end %>
  </tbody>
</table>
</div>
