<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
        <div class="col-1">

          <!-- WF 4.3.2 -->
          <div id="page6"  data-journey="waste-carriers-registration:registrations-export">
            <% content_for :page_title, createTitle('.title') %>

            <%= link_to t('registrations.form.back_button_label'), :registrations, :class => 'link_to' %>
            <%= render "errors" %>

            <%= form_for(@report, :url => 'registrations' ) do |f| %>
              <h2><%= t '.subtitle' %></h2>

              <h3><%=t '.date_filters' %></h3>
              <fieldset>
                <%= f.hidden_field :is_new, :value => 'false' %>
                <div class="form-group<%if @report.errors[:from].any?%> validation<% end %>">
                  <%= validation_for(@report, :from) %>
                  <div class='form-label'><%= f.label :from %></div>
                  <%= f.text_field :from, :size => 20, :maxlength => 20 %>
                </div>
                <div class="form-group<%if @report.errors[:to].any?%> validation<% end %>">
                  <%= validation_for(@report, :to) %>
                  <div class='form-label'><%= f.label :to %></div>
                  <%= f.text_field :to, :size => 20, :maxlength => 20 %>
                </div>
              </fieldset>

              <h3><%= t '.route_type' %></h3>
              <fieldset>
                <div class='inline'>
                  <% Report.route_options.each do |option| %>
                    <%= f.label :routes, for: "routes_#{option.second.downcase}",  class: 'block-label' do %>
                        <%= check_box("routes", option.second.downcase, {}, option.second, "") %>
                        <%= option.first %>
                    <% end %>
                  <% end %>
                </div>
              </fieldset>

              <h3><%= t '.tier' %></h3>
              <fieldset>
                <div class='inline'>
                  <% Report.tier_options.each do |option| %>
                    <%= f.label :tiers, for: "tiers_#{option.second.downcase}",  class: 'block-label' do %>
                        <%= check_box("tiers", option.second.downcase, {}, option.second, "") %>
                        <%= option.first %>
                    <% end %>
                  <% end %>
                </div>
              </fieldset>

              <h3><%= t '.status' %></h3>
              <fieldset>
                <div class='inline'>
                  <% Report.status_options.each do |option| %>
                    <%= f.label :statuses, for: "statuses_#{option.second.downcase}",  class: 'block-label' do %>
                        <%= check_box("statuses", option.second.downcase, {}, option.second, "") %>
                        <%= option.first %>
                    <% end %>
                  <% end %>
                </div>
              </fieldset>

              <h3><%= t '.business_type' %></h3>
              <fieldset>
                <div class="inline">
                  <% Registration.business_type_options_for_select.each do |option| %>
                    <%= f.label :business_types, for: "business_types_#{option.second.downcase}",  class: 'block-label' do %>
                        <%= check_box("business_types", option.second.downcase, {}, option.second, "") %>
                        <%= option.first %>
                    <% end %>
                  <% end %>
                </div>
              </fieldset>

              <h3><%= t '.convictions' %></h3>
              <fieldset>
                <div class='inline'>
                  <%= f.label :has_declared_convictions, for: 'report_has_declared_convictions', class: 'block-label' do %>
                    <%= f.check_box :has_declared_convictions, {}, "yes", "" %> <%= t '.has_declared_convictions' %>
                  <% end %>
                  <%= f.label :is_criminally_suspect, for: 'report_is_criminally_suspect', class: 'block-label' do %>
                    <%= f.check_box :is_criminally_suspect, {}, "true", "" %> <%= t '.is_criminally_suspect' %>
                  <% end %>
                </div>
              </fieldset>

              <span class="next_link">
                <input id="search_btn" name="search" class="button button-get-started" type="submit" value="<%= t 'form.search_button_label' %>"/>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>