<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">
    <section>
      <div class="inner">
      <div class="col-1">

    <%= form_for(@report, :url => "registrations", :html => { :method => 'GET'} ) do |f| %>
      <h1><%= t '.subtitle' %></h1>

      <%= render "errors" %>

      <div>
        <fieldset>
          <%= f.hidden_field :is_new, :value => 'false' %>
          <legend><h2><%=t '.date_filters' %></h1></legend>
          <div class="form-group<%if @report.errors[:from].any?%> validation<% end %>">
            <%= validation_for(@report, :from) %>
            <div class='form-label'><%= f.label :from %></div>
            <%= f.text_field :from, :size => 20, :maxlength => 20 %>
          </div>
          <div class="form-group<%if @report.errors[:to].any?%> validation<% end %>">
            <%= validation_for(@report, :to) %>
            <div class='form-label'><%= f.label :to %></div>
            <%= f.text_field :to, :size => 20, :maxlength => 20 %>
          </div>
        </fieldset>

        <fieldset>
          <legend><h2><%= t '.route_type' %></h2></legend>
          <div class='inline'>
            <label class='block-label'><%= f.label :route_digital do %>
              <%= f.check_box :route_digital, {}, "DIGITAL", "" %> <%= t '.route_digital' %>
            <% end %></label>
            <label class='block-label'><%= f.label :route_assisted_digital do %>
              <%= f.check_box :route_assisted_digital, {}, "ASSISTED_DIGITAL", "" %> <%= t '.route_assisted_digital' %>
            <% end %></label>
          </div>
        </fieldset>
        
    </div>
  </div>
</section>  


    <aside role='note'>
      <div class="inner">
        <div class="col-2">



        <fieldset>
          <legend><h2><%= t '.status' %></h2></legend>
          <div class="form-group<%if @report.errors[:statuses].any?%> validation<% end %>">
            <%= validation_for(@report, :statuses) %>
            <%= f.select :statuses, Report.status_options, {}, { :multiple => true, :include_blank => false, :size => 3, :class => 'select-boxes' } %>
          </div>
        </fieldset>

        <fieldset>
          <legend><h2><%= t '.business_type' %></h2></legend>
          <div class="form-group<%if @report.errors[:business_types].any?%> validation<% end %>">
            <%= validation_for(@report, :business_types) %>
            <%= f.select :business_types, Registration.business_type_options_for_select, {}, { :multiple => true, :include_blank => false, :size => 7, :class => 'select-boxes' } %>
          </div>
        </fieldset>

        <fieldset>
          <legend><h2><%= t '.results_format' %></h2></legend>
          <!-- <p>
            <%= select_tag :format, options_for_select([["CSV", "csv"], ["JSON", "json"], ["HTML", "html"]], "csv") %>
          </p> -->
          <div class="form-group<%if @report.errors[:format].any?%> validation<% end %>">
            <%= validation_for(@report, :format) %>
            <%= f.select :format, Report.format_options, {}, { :include_blank => false, :size => 1 } %>
          </div>
        </fieldset>

        </div>
      </div>
    </aside>

    
      <input type="submit" value="Export" class="button">

      </div>
    <% end %>

  </article>
</main>