<main id="content" role="main" class="group">
  <article role="article" class="group">

    <% content_for :page_title, createTitle('.title') %>
    <%= form_for(@report, :url => "registrations", :html => { :method => 'GET' }) do |f| %>

      <h1 class="subtitle"><%= t '.subtitle' %></h1>

      <%= render "errors" %>

      <div>
        <fieldset>
          <%= f.hidden_field :is_new, :value => 'false' %>
          <legend><%=t '.date_filters' %></legend>
          <p class="group<%if @report.errors[:from].any?%> validation<% end %>">
            <%= validation_for(@report, :from) %>
            <%= f.label :from %>
            <%= f.text_field :from, :size => 20, :maxlength => 20 %>
          </p>
          <p class="group<%if @report.errors[:to].any?%> validation<% end %>">
            <%= validation_for(@report, :to) %>
            <%= f.label :to %>
            <%= f.text_field :to, :size => 20, :maxlength => 20 %>
          </p>
        </fieldset>

        <fieldset>
          <legend><%= t '.route_type' %></legend>
          <div>
            <%= f.label :route_digital do %>
              <%= f.check_box :route_digital, {}, "DIGITAL", "" %> <%= t '.route_digital' %>
            <% end %>
            <%= f.label :route_assisted_digital do %>
              <%= f.check_box :route_assisted_digital, {}, "ASSISTED_DIGITAL", "" %> <%= t '.route_assisted_digital' %>
            <% end %>
          </div>
        </fieldset>

        <fieldset>
          <legend><%= t '.status' %></legend>
          <p class="group<%if @report.errors[:statuses].any?%> validation<% end %>">
            <%= validation_for(@report, :statuses) %>
            <%= f.select :statuses, Report.status_options, {}, { :multiple => true, :include_blank => false, :size => 3, :class => 'select-boxes' } %>
          </p>
        </fieldset>

        <fieldset>
          <legend><%= t '.business_type' %></legend>
          <p class="group<%if @report.errors[:business_types].any?%> validation<% end %>">
            <%= validation_for(@report, :business_types) %>
            <%= f.select :business_types, Registration.business_type_options_for_select, {}, { :multiple => true, :include_blank => false, :size => 7, :class => 'select-boxes' } %>
          </p>
        </fieldset>

      <input type="submit" value="Export" class="button">

      </div>
    <% end %>

  </article>
</main>