<main id="content" role="main" class="group">
  <article role="article" class="group">

    <% content_for :page_title, createTitle('.title') %>
    <%= form_for(@report, :url => "reports/registrations.csv", :html => { :method => 'GET' }) do |f| %>

      <h1 class="subtitle"><%= t '.subtitle' %></h1>

      <div>
        <fieldset>
          <legend><%=t '.date_filters' %></legend>
          <p class="group<%if @report.errors[:from].any?%> validation<% end %>">
            <% if @report.errors[:from].any? %>From must be in the format: dd/mm/yyyy<% end %>
            <%= f.label :from %>
            <%= f.text_field :from, :size => 20, :maxlength => 20 %>
          </p>
          <p class="group<%if @report.errors[:to].any?%> validation<% end %>">
            <% if @report.errors[:to].any? %>From must be in the format: dd/mm/yyyy<% end %>
            <%= f.label :to %>
            <%= f.text_field :to, :size => 20, :maxlength => 20 %>
          </p>
        </fieldset>

        <fieldset>
          <legend><%= t '.route_type' %></legend>
          <div>
            <%= f.label :route_digital do %>
              <%= f.check_box :route_digital %>
            <% end %>
            <%= f.check_box :route_assisted_digital %><span style="display: inline; font-size:90%}"><%= f.label :route_assisted_digital %></span>
          </div>
        </fieldset>

      <input type="submit" value="Export" class="button">

      </div>
    <% end %>

  </article>
</main>